{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    پنل کنترل پروژه
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/Project-control-panel.css' %}">
{% endblock %}


{% block Content %}
    <div class="content-modal-two modal-confirm-task">
        <div class="inner-modal">
            <form class="p-4" action="{% url 'public:project_file' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="information-section">
                    <div class="information-item">
                        <label for="lihh">نام فایل</label>
                        <input type="text" name="name">
                    </div>
                    <div class="information-item">
                        <label for="lihh">توضیحات</label>
                        <textarea name="description" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="information-item">
                        <div class="uploade-imge">
                            <label class="item-upload" for="add5">
                                آپلود فایل
                            </label>
                            <input type="file" name="file" id="add5" hidden="">
                        </div>
                    </div>
                    <div class="information-item mt-3">
                        <label class="item-upload mb-2" for="projectSelect">
                            پروژه
                        </label>
                        <!-- status task -->
                        <select id="projectSelect" name="project" required class="select2-input">
                            {% for project in projects %}
                                <option value="{{ project.id }}" label="{{ project.name }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <!-- status task -->
                    </div>
                </div>
                <div class="information-section">
                    <button class="sabt-modal col-12 btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>

    <!-- request unit -->
    {% include 'support/components/new-report.html' with departments=departments projects=projects %}
    <!--  request unit -->

    <!-- modal tarif task jadid -->
    {% include 'public/task/components/new-task.html' with projects=projects departments=departments %}

    <!-- START SECTION NOTIFATION -->
    {% include 'base/components/aside-menu.html' with notifications=notifications tickets=tickets %}
    <!-- END SECTION NOTIFATION -->

    <div class="container-fluid col-md-10 content-page">
        <main class="main">
            <div class="mt-2 px-2">
                <span class="fw-bold">پنل کنترل پروژه</span>
            </div>
            <!-- btn allocation-of-materials -->
            <div class="allocation-of-materials d-flex justify-content-between align-item-center mt-4" style="margin-right: -1rem;">
                <a href="{% url 'dp_warehouse:items_allocation_project' %}"><span class="allocation-btn">تخصیص مواد اولیه</span></a>
                <div class="notif-btn-mobile d-none">اعلانات</div>
            </div>
            <!-- btn allocation-of-materials -->

            <!--Start Access panel -->
            <section class="collection-units mb-4 mt-2" style="background-color: #fff;">
                <div class="box-section">
                    <!--Access panel item  -->
                    <div class="col-12 col-md-3  col-lg-2 ">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/درخواست از سایر واحد ها 2@2x.png' %}" alt=""
                                 class="icon-box"
                                 style="margin-bottom:15px ;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>درخواست از سایر واحدها</span>
                            </div>
                            <div class="tarif-task btn-request-unit" id="one">مشاهده</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3  col-lg-2 ">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/2 (لیست استعلامات(حتی رد شده ها با دلیل@2x.png' %}"
                                 alt="" class="icon-box"
                                 style="margin-bottom:15px ;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>لیست گزارشات</span>
                            </div>
                            <a href="{% url 'support:report_list' %}" class="tarif-task" id="one">
                                <span>
                                    مشاهده
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-3  col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/Path 3652.png' %}" alt="" class="icon-box"
                                 style="margin-bottom:15px ;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>ایجاد گزارش</span>
                            </div>
                            <div class="tarif-task btn-create-report" id="one">ایجاد</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3  col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/لیست خرید تایید شده مدیریت 2@2x.png' %}" alt=""
                                 class="icon-box"
                                 style="margin-bottom:15px;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>فایل پروژه</span>
                            </div>
                            <div class="tarif-task btn-create-report btn--ta1 task-confirm" id="one">آپلود</div>
                        </div>
                    </div>
                    <!--Access panel item  -->
                </div>
            </section>
            <!-- .End Access panel -->

            <!-- Start project section -->
            <!-- In progress projects -->
            <div class="title px-4">
                <span style="padding-left: 3px;">پروژه های درحال اجرا</span>
                <span class="d-flex justify-content-center align-item-center">
                    <a href="{% url 'public:project' %}?status=other">مشاهده همه</a>
                    <img src="{% static 'frontend/images/back-icon.png' %}" alt="">
                </span>
            </div>
            <!-- project section -->
            <section class="ongoing-projects" style="margin-top: -1.25rem;">
                <!-- inner project section -->
                <div class="box-section">
                    {% for project in projects %}
                        {% include 'public/project/components/list-project.html' with project=project %}
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Other projects -->
            <div>
                <div class="title px-4">
                    <span style="padding-left: 3px;">دیگر پروژه‌ها</span>
                </div>
                <div class="box-section" style="margin-top: -1.25rem;">
                    <!-- Posted projects -->
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-truck-field fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>پروژه‌های ارسال شده</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'public:project' %}?status=posted">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <!-- Completed projects -->
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-list-check fa-2xl p-3"></i>
                            <div class="style-conent-box">
                                <span>پروژه‌های تمام شده</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'public:project' %}?status=completed">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .End project section -->

            <!-- section-task -->
            <div class="title px-4">
                <span style="padding-left:3px;">صفحات</span>
            </div>
            <section style="margin-top: -1rem;">
                <div class="box-section">
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-gear fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>پروژه</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:project_add' %}">افزودن
                            </a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-gears fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست پروژه ها</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:project' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-question-circle fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست استعلامات</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:inquiry' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- tasks category -->
            <div class="title px-4 mt-4">
                <span style="padding-left: 3px;">تسک ها</span>
                <span class="d-flex justify-content-center align-item-center">
                </span>
            </div>
            <section class="tasks" style="margin-top: -1.25rem;">
                <div class="box-section">
                    <!-- each category task -->
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/22.png' %}" alt="" class="icon-box" style="padding-top: 0.125rem;">
                            <div class=" style-conent-box">
                                <span>درحال اجرا</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.progress }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=progress">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <!--each category task -->
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/33.png' %}" alt="" class="icon-box" style="padding-top: 0.125rem;">
                            <div class=" style-conent-box">
                                <span>درصف</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.queue }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=queue">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/44.png' %}" alt="" class="icon-box" style="padding-top: 0.125rem;">
                            <div class=" style-conent-box">
                                <span>نیاز به بررسی</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.need_to_check }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=need-to-check">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <i class="fa fa-pause fa-3x" style="opacity: 0.9;"></i>
                            <div class=" style-conent-box">
                                <span>نگه داشته شده</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.hold }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=hold">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <i class="fa fa-rotate-left fa-2x py-2" style="opacity: 0.9;"></i>
                            <div class=" style-conent-box">
                                <span>نیاز به برنامه ریزی مجدد</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.need_to_replan }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=need-to-replan">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/55.png' %}" alt="" class="icon-box" style="padding-top: 0.125rem;">
                            <div class=" style-conent-box">
                                <span>تمام شده</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.finished }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=finished">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- tasks category -->

            <!--Start Access panel -->
            <section class="collection-units" style="background-color:#fff ; margin-top:30px;">
                <div class="box-section">
                    {% for department in departments %}
                        {% include 'public/department/list-department-task.html' with department=department %}
                    {% endfor %}
                </div>
            </section>
            <!--end Access panel -->
        </main>
    </div>

{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/control-project.js' %}"></script>

    <script>
        document.querySelector('.btn-create-report').addEventListener('click', function () {
            document.querySelector('.modal-report').classList.add('active')
        })
        let overalyModals_New = document.querySelector(".modal-report .inner-modal");
        overalyModals_New.addEventListener("click", (e) => {
            if (e.target.className === "inner-modal") {
                document.querySelector('.modal-report').classList.remove("active");
            }
        });
    </script>
{% endblock %}
