{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    لیست استعلامات
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/all-query.css' %}">
{% endblock %}

{% block Content %}

    <h5 class="title-page">لیست استعلامات</h5>


    {% for inquiry in inquiries %}
        <div class="content-modal-two modal-more-description">
            <div class="inner-modal">
                <form class="p-4">
                    <div class="close-modal close-modal-description">
                        <img src="{% static 'frontend/images/close.png' %}" alt="">
                    </div>
                    <div class="hhh">
                        <div class="more-des">
                            {{ inquiry.description }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="content-modal-two modal-query-approval">
            <div class="inner-modal">
                <form class="p-4" action="{% url 'public:inquiry_status' inquiry_id=inquiry.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="accepted">
                    <div class="information-section">
                        <div class="information-item">
                            <label for="lihh">توضیحات</label>
                            <textarea name="description" id="" cols="30" rows="10" required></textarea>
                        </div>
                        <div class="information-item">
                            <div class="uploade-imge">
                                <label class="item-upload" for="add-{{ forloop.counter }}">
                                    آپلود فایل
                                </label>
                                <input type="file" name="file" id="add-{{ forloop.counter }}" required hidden/>
                            </div>
                        </div>
                    </div>
                    <div class="information-section">
                        <button class="sabt-modal col-12 btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="content-modal-two modal-query-no-approval"> --&gt;
            <div class="inner-modal">
                <form class="p-4" action="{% url 'public:inquiry_status' inquiry_id=inquiry.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="rejected">
                    <div class="information-section">
                        <div class="information-item">
                            <label for="lihh">توضیحات</label>
                            <textarea name="description" id="" cols="30" rows="10" required></textarea>
                        </div>
                    </div>
                    <div class="information-section">
                        <button class="sabt-modal btn-primary col-12">ثبت</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="content-modal-two modal-confirm-task">
            <div class="inner-modal">
                <form class="p-4" action="{% url 'public:inquiry_file' inquiry_id=inquiry.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="information-section">
                        <div class="information-item">
                            <label for="lihh">نام فایل</label>
                            <input type="text" name="name">
                        </div>
                        <div class="information-item">
                            <label for="lihh">توضیحات</label>
                            <textarea name="description" id="" cols="30" rows="10" required=""></textarea>
                        </div>
                        <div class="information-item">
                            <div class="uploade-imge">
                                <label class="item-upload" for="add5">
                                    آپلود فایل
                                </label>
                                <input type="file" name="file" id="add5" hidden="">
                            </div>
                        </div>
                        <div class="information-item">
                            <div>
                                <label for="lihh">
                                    واحد
                                    <span class="font-70">(واحد هایی که میتوانند به فایل دسترسی داشته باشند)</span>
                                    :</label>
                                <div class="units d-flex flex-wrap">
                                    {% for department in departments %}
                                        <div class="d-flex align-items-center justify-content-center col-6 col-md-3 p-2">
                                            <label class="mt-2" for="inp-to-dep-{{ department.id }}">
                                                {{ department.name }}
                                            </label>
                                            <input type="checkbox" id="inp-to-dep-{{ department.id }}" multiple
                                                   name="departments" value="{{ department.id }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="information-section">
                        <button class="sabt-modal col-12 btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="content-modal-two modal-files">
            <div class="inner-modal">
                <form class="p-4">
                    <div class="close-modal close-modal-description">
                        <img src="{% static 'frontend/images/close.png' %}" alt=""
                             onclick="this.parentElement.parentElement.parentElement.parentElement.classList.remove('active')">
                    </div>
                    <div class="text-center my-2">
                        <h3>فایل ها</h3>
                    </div>
                    <div class="hhh">
                        <table class="table">
                            <tr>
                                <th>نام فایل</th>
                                <th>توضیحات</th>
                                <th>فایل</th>
                            </tr>
                            {% for file in inquiry.get_files %}
                                <tr>
                                    <td class="font-80 datetime-convert">
                                        {{ file.get_created_at }}
                                    </td>
                                    <td class="font-80">
                                        {{ file.from_department.name }}
                                    </td>
                                    <td class="font-80">
                                        {{ file.name }}
                                    </td>
                                    <td class="font-70">
                                        {{ file.description }}
                                    </td>
                                    <td>
                                        <a href="{{ file.get_file_url }}" class="text-primary">دانلود</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr class="container-not-found-base">
                                    <td colspan="1000">چیزی ثبت نشده است</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}


    <div class="container-fluid col-md-12 content-page" style="max-width: none;">
        <div class="col-12 col-md-5 col-lg-6 mx-auto mb-4 p-4">
            <div>
                <div class="filters-radio">
                    <div class="title">
                        مرتب بر اساس :
                    </div>
                    <div class="container">
                        <div>
                            <a class="{% if request.GET.sort_by == 'latest' or not request.GET.sort_by %}active{% endif %}"
                               href="{% url 'public:inquiry' %}?sort_by=latest">
                                جدید ترین
                            </a>
                        </div>
                        <div>
                            <a class="{% if request.GET.sort_by == 'oldest' %}active{% endif %}"
                               href="{% url 'public:inquiry' %}?sort_by=oldest">
                                قدیمی ترین
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <form action="{% url 'public:inquiry' %}" method="get" class="overflow-hidden">
                        <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                        <p class="title">جست و جو :</p>
                        <div class="cnt-search col-11 col-md-7">
                            <input type="text" name="search" value="{{ request.GET.search }}"
                                   placeholder="عنوان ، شماره استعلام و ..">
                            <div>
                                <button>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <main class="main">
            <section class="query m-1">
                <div class="section-table">
                    <!-- table -->
                    <div class="table" style="height:400px ;">
                        <!-- title table -->
                        <div class="table-title">
                            <div class="col-1">
                                <div class="table-title-item">
                                    ردیف
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="table-title-item">
                                    واحد استعلام دهنده
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="table-title-item">
                                    ارسال کننده
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="table-title-item">
                                    شماره استعلام
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="table-title-item">
                                    تاریخ دریافت
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="table-title-item">
                                    تاریخ ارسال
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="table-title-item">
                                    مهلت پاسخ(تاریخ ددلاین)
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="table-title-item">
                                    عنوان
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="table-title-item">
                                    توضیحات
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="table-title-item">
                                    فایل
                                </div>
                            </div>
                            {% if user.role == 'super_user' %}
                                <div class="col-2">
                                    <div class="table-title-item">
                                        وضعیت
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <!-- title table -->
                        <!--  start content table -->
                        <div class="table-content">
                            <!-- each row table -->
                            {% for inquiry in inquiries %}
                                <div class="row-table">
                                    <!-- each column  -->
                                    <div class="col-1 p-2">
                                        <div class="table-content-item">
                                            {{ forloop.counter }}
                                        </div>
                                    </div>
                                    <!-- each column  -->
                                    <div class="col-1 p-2">
                                        <div class="table-content-item">
                                            {{ inquiry.from_department.name }}
                                        </div>
                                    </div>
                                    <div class="col-1 p-2">
                                        <div class="table-content-item">
                                            {{ inquiry.sender }}
                                        </div>
                                    </div>
                                    <div class="col-1 p-2">
                                        <div class="table-content-item">
                                            {{ inquiry.number_id }}
                                        </div>
                                    </div>
                                    <div class="col-1 p-2">
                                        <div class="table-content-item datetime-convert">
                                            {{ inquiry.time_receive }}
                                        </div>
                                    </div>
                                    <div class="col-1 p-2">
                                        <div class="table-content-item datetime-convert">
                                            {{ inquiry.time_submit }}
                                        </div>
                                    </div>
                                    <div class="col-1 p-2">
                                        <div class="table-content-item datetime-convert">
                                            {{ inquiry.time_deadline_response }}
                                        </div>
                                    </div>
                                    <div class="col-1 p-2">
                                        <div class="table-content-item">
                                            {{ inquiry.title }}
                                        </div>
                                    </div>
                                    <div class="col-1 p-2">
                                        <div class="table-content-item">
                                            <p class="description">
                                                {{ inquiry.description|truncatechars:30 }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-1 p-2">
                                        <div class="text-center">
                                            <div class="tarif-task btn-create-report btn btn-outline-primary task-confirm">
                                                اپلود
                                            </div>
                                            <div class="tarif-task  btn btn-outline-secondary btn-files-query mt-1">
                                                نمایش
                                            </div>
                                        </div>
                                    </div>
                                    {% if user.role == 'super_user' %}
                                        <div class="col-2 p-2">
                                            {% if not inquiry.status %}
                                                <div class="table-content-item">
                                                    <div class="btn-table-takhsis d-flex">
                                                        <div class="btn-item m-1 taeid btn-taeid-query">تایید</div>
                                                        <div class="btn-item m-1 notaeid  btn-notaeid-query">رد</div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <p class="text-center {% if inquiry.status.status == 'accepted' %}text-success{% else %}text-danger{% endif %}">
                                                    {{ inquiry.status.get_status_display }}
                                                </p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% empty %}
                                <div class="container-not-found-base">
                                    <p>چیزی یافت نشد</p>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- end content table -->
                    </div>
                    <!--end table -->
                </div>
            </section>
            <!-- tasks quality-control-panel -->


        </main>

    </div>

{% endblock %}

{% block Script %}
    <script src="{% static 'frontend/js/all-query.js' %}"></script>
{% endblock %}