{% extends 'base/base_template.html' %}
{% load static %}
{% load filters %}

{% block Title %}
    لیست استعلامات
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/all-query.css' %}">
{% endblock %}

{% block Style %}
    <style>
        .table tbody tr td {
            padding: 0.75rem 0.5rem !important;
        }

        .link-search-items a {
            display: flex;
            justify-content: center;
            background: rgba(246, 255, 251, 0.85);
            color: #0da87c;
            padding: 8px;
            min-width: 100px;
            border-radius: 180px;
        }

        .link-search-items a.active {
            background: #0da87c!important;
            color: #fff!important;
        }
    </style>
{% endblock %}

{% block Content %}

    {% for inquiry in inquiries %}
        {% if user|has_permission %}
            <!-- Edit inquiry modal -->
            {% include 'public/inquiry/components/edit_inquiry.html' %}
            <!-- .End Edit inquiry modal -->

            <!-- Delete inquiry modal -->
            {% include 'public/inquiry/components/delete_inquiry.html' %}
            <!-- .End Delete inquiry modal -->
        {% endif %}

        <!-- Inquiry description modal -->
        {% include 'public/inquiry/components/inquiry_description.html' %}
        <!-- .End Inquiry description modal -->

        <!-- Upload inquiry file -->
        {% include 'public/inquiry/components/add_inquiry_file.html' %}
        <!-- .End Upload inquiry file -->

        <!-- Inquiry files list modal -->
        {% include 'public/inquiry/components/inquiry_files_list.html' %}
        <!-- .End Inquiry files list modal -->

        <!-- Inquiry approval/disapproval modal -->
        {% include 'public/inquiry/components/acceptance_inquiry.html' %}
        <!-- .End Inquiry approval/disapproval modal -->
    {% endfor %}

    <div>
        <div class="text-center d-flex justify-content-center mt-1 px-3">
            <h3 class="title-page w-100" style="margin-right: 4rem;">
                لیست استعلامات
                {% if request.GET.archived %}<span>آرشیو شده</span>{% endif %}
            </h3>
            <div class="mt-2">
                <a href="{{ user.get_absolute_url_dashboard }}" class="btn btn-danger">بازگشت</a>
            </div>
        </div>

        <div class="d-flex flex-column mb-4 p-4">
            <div>
                <form action="{% url 'public:inquiry' %}" method="get" class="overflow-hidden d-flex align-items-center">
                    <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                    <input type="hidden" name="archived" value="{{ request.GET.archived }}">
                    <input type="hidden" name="task_master" value="{{ request.GET.task_master }}">
                    <div class="cnt-search col-6 col-md-4">
                        <input type="text" id="q" name="search" value="{{ request.GET.search }}"
                               placeholder="عنوان، شماره استعلام و ...">
                        <div>
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="filters-radio d-flex justify-content-center align-items-center mt-3">
                <div class="title text-right">
                    مرتب بر اساس:
                </div>
                <div class="d-flex justify-content-center me-3 gap-2">
                    <div>
                        <a class="{% if request.GET.sort_by == 'latest' or not request.GET.sort_by %}active{% endif %}"
                           href="?sort_by=latest&task_master={{ request.GET.task_master }}&archived={{ request.GET.archived }}">
                            جدید ترین
                        </a>
                    </div>
                    <div>
                        <a class="{% if request.GET.sort_by == 'oldest' %}active{% endif %}"
                           href="?sort_by=oldest&task_master={{ request.GET.task_master }}&archived={{ request.GET.archived }}">
                            قدیمی ترین
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-2 link-search-items text-center mt-4">
                <span class="title">فیلتر بر اساس کارفرما:</span>
                <div class="d-flex gap-2 me-2">
                    <a href="?sort_by={{ request.GET.sort_by }}&archived={{ request.GET.archived }}" {% if not request.GET.task_master %}class="active"{% endif %}>
                        همه
                    </a>
                    {% for task_master in taskmasters %}
                        <a href="?task_master={{ task_master.id }}&sort_by={{ request.GET.sort_by }}&archived={{ request.GET.archived }}"
                           {% if request.GET.task_master == task_master.id|stringformat:'i' %}class="active"{% endif %}>
                            {{ task_master.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Start main table section -->
    <main class="main content-page container" style="max-width: none;">
        <section class="col-12 project-content">
            <div class="inner-project">
                <!-- Start Inquiry list table -->
                <div class="table-responsive">
                    <table class="table table-bordered rounded-3 overflow-hidden">
                        <!-- Table header -->
                        <thead class="table-dark">
                            <tr class="text-center text-nowrap">
                                <th>ردیف</th>
                                <th>استعلام گیرنده</th>
                                <th>کارفرما</th>
                                <th>شماره استعلام</th>
                                <th>تاریخ دریافت</th>
                                <th>تاریخ ارسال</th>
                                <th>مهلت پاسخ</th>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th>فایل</th>
                                <th>وضعیت بررسی</th>
                                {% if user|has_permission %}
                                    <th>عملیات</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                            {% for inquiry in inquiries %}
                                <tr class="text-center">
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{ inquiry.from_department.name }}
                                    </td>
                                    <td class="text-nowrap">
                                        {{ inquiry.sender|truncatechars:16|default:'ندارد' }}
                                    </td>
                                    <td>
                                        {{ inquiry.number_id|default:'-' }}
                                    </td>
                                    <td class="datetime-convert">
                                        {{ inquiry.time_receive|default:'-' }}
                                    </td>
                                    <td class="datetime-convert">
                                        {{ inquiry.time_submit|default:'-' }}
                                    </td>
                                    <td class="datetime-convert">
                                        {{ inquiry.time_deadline_response|default:'-' }}
                                    </td>
                                    <td>
                                        {{ inquiry.title|truncatechars:16|default:'بدون عنوان' }}
                                    </td>
                                    <td data-bs-toggle="modal" data-bs-target="#inquiryDescription-{{ inquiry.id }}">
                                        <i class="fa fa-eye fw-bold btn btn-info btn-sm" title="مشاهده"></i>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-wrap justify-content-center align-items-center gap-1">
                                            <span class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addInquiryFileModal-{{ inquiry.id }}">
                                                آپلود
                                            </span>
                                            <span class="tarif-task btn-create-report btn btn-sm btn-outline-secondary btn-files-query">
                                                نمایش
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-nowrap">
                                        {% if user|has_permission:request.resolver_match.url_name %}
                                            {% if not inquiry.status %}
                                                <div class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#inquiryApprovalModal-{{ inquiry.id }}">تایید</div>
                                                <div class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#inquiryDisapprovalModal-{{ inquiry.id }}">رد کردن</div>
                                            {% else %}
                                                <span class="{% if inquiry.status.status == 'accepted' %}text-success{% else %}text-danger{% endif %}">
                                                    {{ inquiry.status.get_status_display }}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <span class="{% if inquiry.status.status == 'accepted' %}text-success{% elif inquiry.status.status == 'rejected' %}
                                                text-danger{% else %}text-primary{% endif %}">
                                                {{ inquiry.get_status }}
                                            </span>
                                        {% endif %}
                                    </td>
                                    {% if user|has_permission %}
                                        <td>
                                            <div class="text-nowrap">
                                                <i class="fa fa-edit btn btn-sm btn-warning fw-bold"
                                                   data-bs-toggle="modal" data-bs-target="#editInquiryModal-{{ inquiry.id }}" title="ویرایش"></i>
                                                <i class="fa-solid fa-trash-can btn btn-sm btn-danger"
                                                   data-bs-toggle="modal" data-bs-target="#deleteInquiryModal-{{ inquiry.id }}" title="حذف"></i>
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% empty %}
                                <div class="container-not-found-base">
                                    <p>چیزی یافت نشد</p>
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- .End Inquiry list table -->
            </div>
        </section>
    </main>
    <!-- .End main table section -->

{% endblock %}

{% block Script %}
    <script src="{% static 'frontend/js/all-query.js' %}"></script>
{% endblock %}
