{% extends 'base/base_template.html' %}
{% load static %}
{% load render_partial %}

{% block Title %}
    لیست یادآور ها
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}


{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- sidebar @s -->
            {% render_partial 'public.components.MenuComponent' %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap">
                <!-- main header @s -->
                {% include 'base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">لیست یادآور ها</h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a href="{% url 'public:index' %}">صفحه
                                                    اصلی</a></li>
                                                <li class="breadcrumb-item"><a>مالی</a></li>
                                                <li class="breadcrumb-item"><a>یادآور</a></li>
                                                <li class="breadcrumb-item active">لیست یادآور ها</li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                               data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">
                                                    <li>
                                                        <a href="#" class="btn btn-white btn-dim btn-outline-light"><em
                                                                class="icon ni ni-download-cloud"></em><span>خروجی گرفتن</span></a>
                                                    </li>
                                                    <li class="nk-block-tools-opt">
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-primary"
                                                               data-bs-toggle="dropdown"><em
                                                                    class="icon ni ni-plus"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li>
                                                                        <a href="#"><span>ایمپورت از فایل اکسل</span></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                </div>
                                <!-- .nk-block-between -->
                            </div>
                            {% with qs=request.GET %}
                                <div class="nk-block">
                                    <div class="card card-stretch">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h5 class="title">
                                                            لیست یادآور ها
                                                            <span class="fs-15px">({{ reminders.count }})</span>
                                                        </h5>
                                                    </div>
                                                    <div class="card-tools me-n1">
                                                        <ul class="btn-toolbar gx-1">
                                                            <!-- li -->
                                                            <li>
                                                                <div class="dropdown">
                                                                    <a href="#"
                                                                       class="btn btn-trigger btn-icon dropdown-toggle"
                                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                                        {% if qs.filter %}
                                                                            <div class="dot dot-primary"></div>
                                                                        {% endif %}
                                                                        <em class="icon ni ni-filter-alt"></em>
                                                                    </a>
                                                                    <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end"
                                                                         style="">
                                                                        <div class="dropdown-head">
                                                                            <span class="sub-title dropdown-title">فیلتر پیشرفته</span>
                                                                        </div>
                                                                        <div class="dropdown-body dropdown-body-rg">
                                                                            <form class="add-params-to-form">
                                                                                <input type="hidden" name="filter"
                                                                                       value="true">
                                                                                <div class="row gx-6 gy-4">
                                                                                    <div class="col-12">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">مرتب
                                                                                                سازی</label>
                                                                                            <select class="form-select js-select2 select-by-filter"
                                                                                                    name="sort_by"
                                                                                                    tabindex="-1"
                                                                                                    aria-hidden="true">
                                                                                                <option value="latest">
                                                                                                    جدیدترین
                                                                                                </option>
                                                                                                <option value="oldest">
                                                                                                    قدیمی ترین
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">پروژه</label>
                                                                                            <select class="form-select js-select2 select-by-filter"
                                                                                                    name="project"
                                                                                                    tabindex="-1"
                                                                                                    aria-hidden="true">
                                                                                                <option value="all">همه
                                                                                                </option>
                                                                                                {% for project in projects %}
                                                                                                    <option value="{{ project.id }}">{{ project.name }}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 text-left">
                                                                                        <div class="form-group">
                                                                                            <button type="submit"
                                                                                                    class="btn btn-secondary">
                                                                                                فیلتر
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        <div class="dropdown-foot between">
                                                                            <a class="clickable"
                                                                               href="{% url 'dp_financial:reminder__list' %}">بازنشانی
                                                                                فیلتر</a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- .filter-wg -->
                                                                </div>
                                                                <!-- .dropdown -->
                                                            </li>
                                                            <!-- li -->
                                                            <li>
                                                                <a href="#"
                                                                   class="search-toggle toggle-search btn btn-icon"
                                                                   data-target="search">
                                                                    <em class="icon ni ni-search"></em>
                                                                    {% if qs.search %}
                                                                        <div class="dot dot-primary"></div>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <!-- .btn-toolbar -->
                                                    </div>
                                                    <!-- .card-tools -->
                                                    <div class="card-search search-wrap" data-search="search">
                                                        <div class="search-content">
                                                            <form class="add-params-to-form">
                                                                <a href="#"
                                                                   class="search-back btn btn-icon toggle-search"
                                                                   data-target="search"><em
                                                                        class="icon ni ni-arrow-left"></em></a>
                                                                <input type="text" name="search"
                                                                       class="form-control border-transparent form-focus-none"
                                                                       placeholder="جستجوی سریع بر اساس توضیحات"
                                                                       value="{{ qs.search }}">
                                                                <button class="search-submit btn btn-icon"><em
                                                                        class="icon ni ni-search"></em></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- .card-search -->
                                                </div>
                                                <!-- .card-title-group -->
                                            </div>
                                            <!-- .card-inner -->
                                            <div class="card-inner p-5 text-center">
                                                {% for reminder in reminders %}
                                                    <div class="card col-12 col-md-6 col-lg-3 d-inline-block m-2">
                                                        <div class="card-header d-flex justify-content-between align-items-center">
                                                            <a href="{{ reminder.project.get_absolute_url }}">{{ reminder.project.name|truncatechars:20 }}</a>
                                                            <div>
                                                                <a href="{% url 'dp_financial:reminder__delete' reminder_id=reminder.id %}">
                                                                    <em class="icon ni ni-trash-empty text-danger"></em>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="card-inner">
                                                            <h5 class="card-title">
                                                                <span class="d-block mb-1">{{ reminder.time }}</span>
                                                                {% with remaining_time=reminder.get_remaining_time %}
                                                                    <div class="badge badge-dim rounded-pill {% if remaining_time > -1 %}bg-success{% else %}bg-danger{% endif %}">
                                                                        {{ remaining_time }}
                                                                        روز مانده
                                                                    </div>
                                                                {% endwith %}
                                                            </h5>
                                                            <p class="card-text mt-3">
                                                                {{ reminder.description|default:'بدون توضیحات' }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    <div class="container-not-found-base">
                                                        <p>یادآوری یافت نشد</p>
                                                    </div>
                                                {% endfor %}
                                                <!-- .nk-tb-list -->
                                            </div>
                                            <!-- .card-inner -->
                                            <div class="card-inner">
                                                <ul class="pagination justify-content-center justify-content-md-start">
                                                    {% if pagination.has_previous %}
                                                        <li class="page-item"><a class="page-link add-params-to-href"
                                                                                 href="?page=1">اولین</a></li>
                                                        <li class="page-item"><a class="page-link add-params-to-href"
                                                                                 href="?page={{ pagination.previous_page_number }}">قبلی</a>
                                                        </li>
                                                    {% endif %}

                                                    <span class="current page-link">
                                                         صفحه {{ pagination.number }} از {{ pagination.paginator.num_pages }}.
                                                    </span>

                                                    {% if pagination.has_next %}
                                                        <li class="page-item"><a class="page-link add-params-to-href"
                                                                                 href="?page={{ pagination.next_page_number }}">بعدی</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link add-params-to-href"
                                                                                 href="?page={{ pagination.paginator.num_pages }}">اخرین</a>
                                                        </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                            <!-- .card-inner -->
                                        </div>
                                        <!-- .card-inner-group -->
                                    </div>
                                    <!-- .card -->
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                {% include 'base/components/footer.html' %}
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
{% endblock %}


