{% extends 'base/base_template.html' %}
{% load static %}
{% load render_partial %}

{% block Title %}
    مشتری - {{ task_master.name }}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}


{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- sidebar @s -->
            {% render_partial 'public.components.MenuComponent' %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap">
                <!-- main header @s -->
                {% include 'base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">جزئیات مشتری</h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a href="{% url 'public:index' %}">صفحه
                                                    اصلی</a></li>
                                                <li class="breadcrumb-item"><a>مشتریان</a></li>
                                                <li class="breadcrumb-item"><a
                                                        href="{% url 'public:task_master__list' %}">لیست
                                                    مشتریان</a></li>
                                                <li class="breadcrumb-item active">{{ task_master.name }}</li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                               data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">
                                                    <li>
                                                        <a href="#" class="btn btn-white btn-dim btn-outline-light"><em
                                                                class="icon ni ni-download-cloud"></em><span>خروجی گرفتن</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                </div>
                                <!-- .nk-block-between -->
                            </div>
                            <div class="nk-block">
                                <div class="row g-gs">
                                    <div class="col-xl-4">
                                        <div class="card">
                                            <div class="card-inner-group">
                                                <div class="card-inner">
                                                    <div class="user-card user-card-s2">
                                                        <div class="user-avatar lg bg-primary">
                                                            <em class="icon ni ni-user-list"></em>
                                                        </div>
                                                        <div class="user-info">
                                                            <h5>{{ task_master.name }}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if has_perm_to_modify %}
                                                    <div class="card-inner card-inner-sm">
                                                        <ul class="btn-toolbar justify-center gx-1">
                                                            <li>
                                                                <a href="{% url 'public:project__add' %}?task_master={{ task_master.id }}"
                                                                   class="btn btn-trigger btn-icon text-success"
                                                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                                   aria-label="ایجاد پروژه"
                                                                   data-bs-original-title="ایجاد پروژه"><em
                                                                        class="icon ni ni-grid-add-c"></em></a>
                                                            </li>
                                                            <li>
                                                                <a href="{% url 'public:inquiry__add' %}?task_master={{ task_master.id }}"
                                                                   class="btn btn-trigger btn-icon text-info"
                                                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                                   aria-label="ایجاد استعلام"
                                                                   data-bs-original-title="ایجاد استعلام"><em
                                                                        class="icon ni ni-note-add"></em></a>
                                                            </li>
                                                            <li data-bs-toggle="modal"
                                                                data-bs-target="#modal-update-object">
                                                                <a class="btn btn-trigger btn-icon"
                                                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                                   aria-label="ویرایش"
                                                                   data-bs-original-title="ویرایش"><em
                                                                        class="icon ni ni-pen"></em></a>
                                                            </li>
                                                            {% if has_perm_to_delete %}
                                                                <li data-bs-toggle="modal"
                                                                    data-bs-target="#modal-delete-object">
                                                                    <a class="btn btn-trigger btn-icon text-danger"
                                                                       data-bs-toggle="tooltip"
                                                                       data-bs-placement="bottom"
                                                                       aria-label="حذف" data-bs-original-title="حذف"><em
                                                                            class="icon ni ni-trash-empty"></em></a>

                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                                <div class="card-inner">
                                                    <div class="row gy-3 justify-content-center text-center">
                                                        <div class="col">
                                                            <div class="profile-stats">
                                                                <span class="amount">{{ task_master.get_projects.count }}</span>
                                                                <span class="sub-text">تعداد پروژه ها</span>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="profile-stats">
                                                                <span class="amount">
                                                                    <a href="{{ task_master.get_projects.first.get_absolute_url }}">{{ task_master.get_projects.first|default:'-' }}</a>
                                                                </span>
                                                                <span class="sub-text">
                                                                    اخرین پروژه
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row gy-3 justify-content-center text-center mt-3">
                                                        <div class="col">
                                                            <div class="profile-stats">
                                                                <span class="amount">{{ task_master.get_inquiries.count }}</span>
                                                                <span class="sub-text">تعداد استعلامات</span>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="profile-stats">
                                                                <span class="amount">
                                                                    <a href="{{ task_master.get_inquiries.first.get_absolute_url }}">{{ task_master.get_inquiries.first|default:'-' }}</a>
                                                                </span>
                                                                <span class="sub-text">
                                                                    اخرین استعلام
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- .card-inner -->
                                                <div class="card-inner">
                                                    <h6 class="overline-title mb-2">مشخصات</h6>
                                                    <div class="row g-3">
                                                        <div class="col-sm-6 col-md-4 col-xl-12">
                                                            <span class="sub-text">نام :</span>
                                                            <span>{{ task_master.name }}</span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-xl-12">
                                                            <span class="sub-text">توضیحات :</span>
                                                            <span>
                                                                {{ task_master.description|default:'-' }}
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-xl-12">
                                                            <span class="sub-text">ایجاد شده در:</span>
                                                            <span class="datetime-convert">
                                                                {{ task_master.get_created_at }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- .card-inner -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .col -->
                                    <div class="col-xl-8">
                                        <div class="card">
                                            <div class="card-inner">
                                                <div class="nk-block">
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <h6 class="lead-text">پروژه های اخیر</h6>
                                                        <a href="{% url 'public:project__list' %}?task_master={{ task_master.id }}&filter=true"
                                                           class="fs-13px">مشاهده همه</a>
                                                    </div>
                                                    <div class="nk-tb-list nk-tb-ulist is-compact card">
                                                        <div class="nk-tb-item nk-tb-head">
                                                            <div class="nk-tb-col">
                                                                <span class="sub-text">نام</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span class="sub-text">درصد پیشرفت</span>
                                                            </div>
                                                            <div class="nk-tb-col text-center">
                                                                <span class="sub-text">وضعیت</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-xxl text-center">
                                                                <span class="sub-text">زمان باقی مانده تا اتمام قرارداد</span>
                                                            </div>
                                                        </div>
                                                        {% for project in task_master.get_projects|slice:':5' %}
                                                            <div class="nk-tb-item">
                                                                <div class="nk-tb-col">
                                                                    <a href="{{ project.get_absolute_url }}"><span
                                                                            class="fw-bold">{{ project.name }}</span></a>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-sm text-center">
                                                                    <span class="badge bg-secondary">{{ project.get_progress_percentage }}</span>
                                                                </div>
                                                                <div class="nk-tb-col text-center">
                                                                    <span class="badge badge-sm badge-dim fs-11px bg-{{ project.status }}">{{ project.get_status_label }}</span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-xxl text-center">
                                                                    {% with remaining_end=project.get_remaining_time_end %}
                                                                        {% if remaining_end > 0 %}
                                                                            <span class="lead-text text-info">
                                                                                {{ remaining_end }}
                                                                                روز
                                                                            </span>
                                                                        {% elif remaining_end == '-' %}
                                                                            <span class="lead-text text-gray">
                                                                                نامشخص
                                                                            </span>
                                                                        {% else %}
                                                                            <span class="lead-text text-danger">
                                                                                {{ remaining_end }}
                                                                                روز
                                                                            </span>
                                                                        {% endif %}
                                                                    {% endwith %}
                                                                </div>
                                                            </div>
                                                        {% empty %}
                                                            <div class="container-not-found-base">
                                                                <p>چیزی یافت نشد</p>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <!-- .nk-tb-list -->
                                                </div>
                                                <div class="nk-block">
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <h6 class="lead-text">استعلامات اخیر</h6>
                                                        <a href="{% url 'public:inquiry__list' %}?task_master={{ task_master.id }}&filter=true"
                                                           class="fs-13px">مشاهده همه</a>
                                                    </div>
                                                    <div class="row g-3">
                                                        {% for inquirry in task_master.get_inquiries %}
                                                            <div class="col-12 col-lg-6 col-xl-12">
                                                                <div class="card">
                                                                    <div class="card-inner">
                                                                        <div class="d-flex align-items-center justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="icon-circle icon-circle-lg bg-{{ inquirry.state }}"
                                                                                     style="background:rgba(238,238,238,0.38);">
                                                                                    <em class="icon ni ni-file-text"></em>
                                                                                </div>
                                                                                <div class="ms-3">
                                                                                    <h6 class="lead-text">
                                                                                        {{ inquirry.title }}
                                                                                    </h6>
                                                                                    <span class="sub-text">
                                                                                        {% with remaining_deadline=inquirry.get_remaining_deadline %}
                                                                                            {% if remaining_deadline > 0 and remaining_deadline %}
                                                                                                <span class="badge badge-dim bg-info">
                                                                                                    {{ remaining_deadline }}
                                                                                                    روز
                                                                                                </span>
                                                                                            {% elif remaining_deadline < 1 %}
                                                                                                <span class="badge badge-dim bg-danger">
                                                                                                    {{ remaining_deadline }}
                                                                                                    روز
                                                                                                </span>
                                                                                            {% endif %}
                                                                                        {% endwith %}
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                            <ul class="btn-toolbar justify-center gx-1 me-n1 flex-nowrap">
                                                                                <li>
                                                                                    <a href="{{ inquirry.get_absolute_url }}"
                                                                                       class="btn btn-trigger btn-icon">
                                                                                        <em class="icon ni ni-arrow-right"></em>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% empty %}
                                                            <div class="container-not-found-base">
                                                                <p>چیزی یافت نشد</p>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <!-- .row -->
                                                </div>
                                            </div>
                                            <!-- .card-inner -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .col -->
                                </div>
                                <!-- .row -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                {% include 'base/components/footer.html' %}
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
        <!-- modals -->
        <div class="modal fade" tabindex="-1" id="modal-delete-object" aria-modal="true" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body modal-body-lg text-center">
                        <div class="nk-modal">
                            <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-trash-empty bg-danger"></em>
                            <h4 class="nk-modal-title">حذف مشتری</h4>
                            <div class="nk-modal-text">
                                <p class="bg-outline-danger">
                                    ایا از حذف مشتری
                                    <b>{{ task_master.name }}</b>
                                    اطمینان دارید ؟ با حذف مشتری تمام موارد مربوطه به ان از جمله پروژه ها ، استعلامات و
                                    ..
                                    حذف خواهند شد و امکان بازگشت وجود ندارد
                                </p>
                            </div>
                            <div class="nk-modal-action mt-5">
                                <a class="btn btn-lg btn-mw btn-light m-1" data-bs-dismiss="modal">لغو</a>
                                <a href="{% url 'public:task_master__delete' task_master_id=task_master.id %}"
                                   class="btn btn-lg btn-mw btn-danger m-1">بله ، حذف مشتری</a>
                            </div>
                        </div>
                    </div>
                    <!-- .modal-body -->
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modal-update-object">
            <div class="modal-dialog modal-dialog-top" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-dismiss="modal" aria-label="بستن">
                        <em class="icon ni ni-cross"></em>
                    </a>
                    <div class="modal-header">
                        <h5 class="modal-title">تغییر مشتری</h5>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'public:task_master__update' task_master_id=task_master.id %}"
                              class="form-validate is-alter" method="post">
                            {% csrf_token %}
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="name">نام</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="نام مشتری"
                                                   id="name" required value="{{ task_master.name|default:'' }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="description">توضیحات</label>
                                        <div class="form-control-wrap">
                                                                <textarea name="description" id="description"
                                                                          class="form-control"
                                                                          placeholder="توضیحات">{{ task_master.description|default:'' }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-left">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-primary">
                                            بروزرسانی مشتری
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modals -->
    </div>
{% endblock %}
