{% extends 'base/base_template.html' %}
{% load static %}
{% load render_partial %}

{% block Title %}
    جزئیات مرحله پروژه - {{ step.name }}
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}

{% block Style %}
    <style>
        .data-value {
            width: 50%;
            text-align: center;
            display: block;
        }

        @media (max-width: 767.98px) {
            .data-value {
                width: 100%;
            }
        }

    </style>
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- sidebar @s -->
            {% render_partial 'public.components.MenuComponent' %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap">
                <!-- main header @s -->
                {% include 'base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">
                                            جزئیات مرحله پروژه
                                        </h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a href="{% url 'public:index' %}">صفحه
                                                    اصلی</a></li>
                                                <li class="breadcrumb-item"><a href="{% url 'public:project__list' %}">لیست
                                                    پروژه ها</a></li>
                                                <li class="breadcrumb-item"><a
                                                        href="{{ step.project.get_absolute_url }}">{{ step.project.name }}</a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    <a>مرحله ها</a>
                                                </li>
                                                <li class="breadcrumb-item active"><a>{{ step.name }}</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content d-flex justify-content-between gx-1">
                                        {% if has_perm_to_modify %}
                                            <div class="dropdown">
                                                <button
                                                        class="btn btn-outline-light bg-white d-none d-sm-inline-flex dropdown-toggle"
                                                        data-bs-toggle="dropdown">
                                                     <span>
                                                        عملیات
                                                    </span>
                                                    <em class="icon ni ni-setting"></em>
                                                </button>
                                                <button
                                                        class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none dropdown-toggle"
                                                        data-bs-toggle="dropdown">
                                                    <em class="icon ni ni-setting">
                                                    </em>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <ul class="link-list-opt">
                                                        <li data-bs-toggle="modal"
                                                            data-bs-target="#modal-update-object">
                                                            <a class="d-flex justify-content-between text-info">
                                                                <span>ویرایش</span>
                                                                <em class="icon ni ni-pen2"></em>
                                                            </a>
                                                        </li>
                                                        <li data-bs-toggle="modal"
                                                            data-bs-target="#modal-delete-object">
                                                            <a class="d-flex justify-content-between text-danger">
                                                                <span>حذف</span>
                                                                <em class="icon ni ni-trash-empty"></em>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <!-- .nk-block-head-content -->
                                </div>
                                <!-- .nk-block-between -->
                            </div>
                            <div class="nk-block">
                                <div class="row gy-5">
                                    <div class="col-12">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h5 class="nk-block-title title">اطلاعات پایه</h5>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <ul class="data-list is-compact">
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">نام</div>
                                                        <div class="data-value">{{ step.name }}</div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">پروژه</div>
                                                        <div class="data-value">
                                                            <a href="{{ step.project.get_absolute_url }}">{{ step.project.name|default:'-' }}</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">واحد ثبت کننده</div>
                                                        <div class="data-value">
                                                            <a href="{{ step.from_department.get_absolute_url }}">{{ step.from_department.name|default:'-' }}</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">نوع ترافیک کاری</div>
                                                        <div class="data-value">
                                                            {{ step.get_person_traffic_label }}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">پلن</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-dim bg-secondary fs-13px">{{ step.plan }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">درواقع</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-dim bg-secondary fs-13px">{{ step.actual|default:'-' }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">تاخیرات/تعجیلات</div>
                                                        <div class="data-value">
                                                            <span class="badge badge-dim fs-13px step-subtract-plan-actual" data-plan="{{ step.plan }}" data-actual="{{ step.actual }}"></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">نتیجه نهایی</div>
                                                        <div class="data-value">
                                                            {% if step.get_status_result > -1 %}
                                                                <em class="icon ni ni-thumbs-up text-success"></em>
                                                            {% elif step.get_status_result < 0 %}
                                                                <em class="icon ni ni-thumbs-down text-danger"></em>
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">توضیحات</div>
                                                        <div class="data-value">{{ step.description|default:'-' }}</div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">تاریخ ثبت</div>
                                                        <div class="data-value">
                                                            <span class="datetime-convert">{{ step.get_created_at }}</span>
                                                            <span class="badge badge-dim bg-info rounded-pill">{{ step.get_created_at_timepast }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="data-item">
                                                    <div class="data-col">
                                                        <div class="data-label">تاریخ بروزرسانی</div>
                                                        <div class="data-value">
                                                            <span class="datetime-convert">{{ step.get_updated_at }}</span>
                                                            <span class="badge badge-dim bg-info rounded-pill">{{ step.get_updated_at_timepast }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->
                            </div>
                            <!-- .components-preview -->
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                {% include 'base/components/footer.html' %}
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
        <!-- modals -->

        <div class="modal fade" tabindex="-1" id="modal-update-object">
            <div class="modal-dialog modal-dialog-top" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-dismiss="modal" aria-label="بستن">
                        <em class="icon ni ni-cross"></em>
                    </a>
                    <div class="modal-header">
                        <h5 class="modal-title">ویرایش مرحله</h5>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'public:project_step__update' step_id=step.id %}"
                              class="form-validate is-alter" method="post"
                              enctype="multipart/form-data" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="row g-4">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="name">نام</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="name" placeholder="نام مرحله"
                                                   id="name" required="" value="{{ step.name }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="person_traffic">نوع ترافیک کاری</label>
                                        <div class="form-control-wrap">
                                            <select class="form-control js-select2 select-by-value"
                                                    name="person_traffic"
                                                    id="person_traffic" required="" value="{{ step.person_traffic }}">
                                                <option value="person/day">نفر/روز</option>
                                                <option value="person/hour">نفر/ساعت</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="plan">پلن</label>
                                        <div class="form-control-wrap">
                                            <input type="number" class="form-control" name="plan"
                                                   placeholder="پلن" id="plan" required="" value="{{ step.plan }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="actual">درواقع</label>
                                        <div class="form-control-wrap">
                                            <input type="number" class="form-control" name="actual"
                                                   placeholder="پلن" id="actual" value="{{ step.actual|default:'' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="description">توضیحات</label>
                                        <div class="form-control-wrap">
                                            <textarea name="description" id="description" class="form-control"
                                                      placeholder="توضیحات">{{ step.description|default:'' }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-left">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-primary">
                                            بروزرسانی مرحله پروژه
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="modal-delete-object" aria-modal="true" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body modal-body-lg text-center">
                        <div class="nk-modal">
                            <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-trash-empty bg-danger"></em>
                            <h4 class="nk-modal-title">حذف مرحله پروژه</h4>
                            <div class="nk-modal-text">
                                <p class="bg-outline-danger">
                                    ایا از حذف مرحله پروژه
                                    <b>{{ step.name }}</b>
                                    اطمینان دارید ؟
                                    پس از حذف امکان بازگشت وجود نخواهد داشت
                                </p>
                            </div>
                            <div class="nk-modal-action mt-5">
                                <a class="btn btn-lg btn-mw btn-light m-1" data-bs-dismiss="modal">لغو</a>
                                <a href="{% url 'public:project_step__delete' step_id=step.id %}"
                                   class="btn btn-lg btn-mw btn-danger m-1">بله ، حذف مرحله پروژه</a>
                            </div>
                        </div>
                    </div>
                    <!-- .modal-body -->
                </div>
            </div>
        </div>
        <!-- end modals -->
    </div>
{% endblock %}

{% block Script %}
    <script>
        // step plan/actual
        document.querySelectorAll('.step-subtract-plan-actual').forEach(function (el) {
            let plan = el.getAttribute('data-plan')
            let actual = el.getAttribute('data-actual')
            let result = plan - actual
            if (isNaN(result)) {
                el.classList.add('bg-secondary')
                el.innerHTML = '-'
            } else if (result > -1) {
                el.classList.add('bg-success')
                el.innerHTML = result
            } else {
                el.classList.add('bg-danger')
                el.innerHTML = result
            }
        })
    </script>
{% endblock %}
