{% extends 'base/base_template.html' %}
{% load static %}
{% load render_partial %}

{% block Title %}
    پنل
    {{ user.department.name }}
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/Project-control-panel.css' %}"/>
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- sidebar @s -->
            {% render_partial 'public.components.MenuComponent' %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap">
                <!-- main header @s -->
                {% include 'base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">داشبورد</h3>
                                        <div class="nk-block-des text-soft">
                                            <p>به داشبورد ماشین سازی الفا خوش امدید .</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- .nk-block-between -->
                            </div>
                            <!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="row g-gs">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="card h-100 bg-primary">
                                            <div class="nk-cmwg nk-cmwg1">
                                                <div class="card-inner pt-3">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="flex-item">
                                                            <div class="text-white d-flex flex-wrap">
                                                                <span class="fs-1 me-1">{{ projects.count }}</span>
                                                            </div>
                                                            <h6 class="text-white">تعداد پروژه ها</h6>
                                                        </div>
                                                        <div class="card-tools me-n1">
                                                            <div class="dropdown">
                                                                <a href="#"
                                                                   class="dropdown-toggle btn btn-icon btn-sm btn-trigger on-dark"
                                                                   data-bs-toggle="dropdown"><em
                                                                        class="icon ni ni-more-v"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li>
                                                                            <a href="{% url 'public:project__list' %}"><span>لیست پروژه ها</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- .card-inner -->
                                                <div class="nk-ck-wrap mt-auto overflow-hidden rounded-bottom">
                                                    <div class="nk-cmwg1-ck box-icon">
                                                        <i class="icon ni ni-dashboard"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .nk-cmwg -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="card h-100 bg-secondary">
                                            <div class="nk-cmwg nk-cmwg1">
                                                <div class="card-inner pt-3">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="flex-item">
                                                            <div class="text-white d-flex flex-wrap">
                                                                <span class="fs-1 me-1">{{ request.user.get_tickets.count }}</span>
                                                            </div>
                                                            <h6 class="text-white">تعداد گزارشات</h6>
                                                        </div>
                                                        <div class="card-tools me-n1">
                                                            <div class="dropdown">
                                                                <a href="#"
                                                                   class="dropdown-toggle btn btn-icon btn-sm btn-trigger on-dark"
                                                                   data-bs-toggle="dropdown"><em
                                                                        class="icon ni ni-more-v"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li>
                                                                            <a href="{% url 'support:ticket__list' %}"><span>لیست گزارشات</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- .card-inner -->
                                                <div class="nk-ck-wrap mt-auto overflow-hidden rounded-bottom">
                                                    <div class="nk-cmwg1-ck box-icon">
                                                        <em class="icon ni ni-view-col"></em>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .nk-cmwg -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="card h-100 bg-success">
                                            <div class="nk-cmwg nk-cmwg1">
                                                <div class="card-inner pt-3">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="flex-item">
                                                            <div class="text-white d-flex flex-wrap">
                                                                <span class="fs-1 me-1">{{ request.user.department.get_notifications.count }}</span>
                                                            </div>
                                                            <h6 class="text-white">تعداد اعلانات</h6>
                                                        </div>
                                                        <div class="card-tools me-n1">
                                                            <div class="dropdown">
                                                                <a href="#"
                                                                   class="dropdown-toggle btn btn-icon btn-sm btn-trigger on-dark"
                                                                   data-bs-toggle="dropdown"><em
                                                                        class="icon ni ni-more-v"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li>
                                                                            <a href="{% url 'notification:notification__add' %}"><span>افزودن اعلان</span></a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="{% url 'notification:notification__list' %}"><span>لیست اعلانات</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- .card-inner -->
                                                <div class="nk-ck-wrap mt-auto overflow-hidden rounded-bottom">
                                                    <div class="nk-cmwg1-ck box-icon">
                                                        <i class="icon ni ni-notice"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .nk-cmwg -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="card h-100 bg-warning">
                                            <div class="nk-cmwg nk-cmwg1">
                                                <div class="card-inner pt-3">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="flex-item">
                                                            <div class="text-white d-flex flex-wrap">
                                                                <span class="fs-1 me-1">{{ request.user.department.get_tasks.count }}</span>
                                                            </div>
                                                            <h6 class="text-white">تعداد تسک ها</h6>
                                                        </div>
                                                        <div class="card-tools me-n1">
                                                            <div class="dropdown">
                                                                <a href="#"
                                                                   class="dropdown-toggle btn btn-icon btn-sm btn-trigger on-dark"
                                                                   data-bs-toggle="dropdown"><em
                                                                        class="icon ni ni-more-v"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li>
                                                                            <a href="{% url 'public:task__list' %}"><span>لیست تسک ها</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- .card-inner -->
                                                <div class="nk-ck-wrap mt-auto overflow-hidden rounded-bottom">
                                                    <div class="nk-cmwg1-ck box-icon">
                                                        <i class="icon ni ni-task"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .nk-cmwg -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="card h-100 bg-black">
                                            <div class="nk-cmwg nk-cmwg1">
                                                <div class="card-inner pt-3">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="flex-item">
                                                            <div class="text-white d-flex flex-wrap">
                                                                <span class="fs-1 me-1">{{ inquiries.count }}</span>
                                                            </div>
                                                            <h6 class="text-white">تعداد استعلامات</h6>
                                                        </div>
                                                        <div class="card-tools me-n1">
                                                            <div class="dropdown">
                                                                <a href="#"
                                                                   class="dropdown-toggle btn btn-icon btn-sm btn-trigger on-dark"
                                                                   data-bs-toggle="dropdown"><em
                                                                        class="icon ni ni-more-v"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li>
                                                                            <a href="{% url 'public:inquiry__list' %}"><span>لیست استعلامات</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- .card-inner -->
                                                <div class="nk-ck-wrap mt-auto overflow-hidden rounded-bottom">
                                                    <div class="nk-cmwg1-ck box-icon">
                                                        <i class="icon ni ni-info-i"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .nk-cmwg -->
                                        </div>
                                        <!-- .card -->
                                    </div>



                                    <div class="col-xxl-8 col-lg-7">
                                        <div class="card card-full">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h6 class="title">تسک های اخیر</h6>
                                                    </div>
                                                    <div class="card-tools">
                                                        <ul class="card-tools-nav">
                                                            <a class="font-80" href="{% url 'public:task__list' %}">
                                                                <span>مشاهده همه</span>
                                                            </a>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner p-0">
                                                <div class="nk-tb-list nk-tb-tnx">
                                                    <div class="nk-tb-item nk-tb-head text-center">
                                                        <div class="nk-tb-col"><span>نام</span></div>
                                                        <div class="nk-tb-col"><span>پروژه</span></div>
                                                        <div class="nk-tb-col"><span>از واحد</span></div>
                                                        <div class="nk-tb-col"><span>اولویت</span></div>
                                                        <div class="nk-tb-col nk-tb-col-status"><span
                                                                class="sub-text d-none d-md-block">وضعیت</span></div>
                                                        <div class="nk-tb-col nk-tb-col-tools"></div>
                                                    </div>
                                                    {% for task in request.user.department.get_tasks|slice:':8' %}
                                                        <!-- .nk-tb-item -->
                                                        <div class="nk-tb-item text-center">
                                                            <div class="nk-tb-col">
                                                                <a href="{{ task.get_absolute_url }}">
                                                                    <div class="nk-tnx-type-text">
                                                                        <span>{{ task.name|truncatechars:10 }}</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <a href="{{ task.project.get_absolute_url }}">
                                                                    {{ task.project.name|truncatechars:10 }}
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <a href="{{ task.from_department.get_absolute_url }}">
                                                                    {{ task.from_department.name|truncatechars:10 }}
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-lead-sub badge badge-dim bg-info py-1 fs-14px">{{ task.priority }}</span>
                                                            </div>
                                                            <div class="nk-tb-col nk-tb-col-status">
                                                                <div class="dot d-md-none dot-{{ task.get_last_status.status }}"></div>
                                                                <span class="badge badge-sm badge-dim d-none d-md-inline-flex fs-9px bg-{{ task.get_last_status.status }}">{{ task.get_last_status.get_status_label }}</span>
                                                            </div>
                                                            <div class="nk-tb-col nk-tb-col-tools">
                                                                <ul class="nk-tb-actions gx-2">
                                                                    <li class="nk-tb-action-hidden">
                                                                        <a href="{{ task.get_absolute_url }}"
                                                                           class="bg-white btn btn-sm btn-outline-light btn-icon btn-tooltip"
                                                                           aria-label="جزئیات"
                                                                           data-bs-original-title="جزئیات"><em
                                                                                class="icon ni ni-eye"></em></a>
                                                                    </li>
                                                                    <li>
                                                                        <div class="dropdown">
                                                                            <a href="#"
                                                                               class="dropdown-toggle bg-white btn btn-sm btn-outline-light btn-icon"
                                                                               data-bs-toggle="dropdown"
                                                                               aria-expanded="false"><em
                                                                                    class="icon ni ni-more-h"></em></a>
                                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                                 style="">
                                                                                <ul class="link-list-opt">
                                                                                    {% if has_perm_to_send_notify %}
                                                                                        <li>
                                                                                            <a href="{% url 'public:task__remind' task_id=task.id %}"><em
                                                                                                    class="icon ni ni-bell"></em><span>ارسال یادآور</span></a>
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    <li>
                                                                                        <a href="{{ task.get_absolute_url }}"><em
                                                                                                class="icon ni ni-eye"></em><span>مشاهده جزئیات</span></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- .nk-tb-item -->
                                                    {% empty %}
                                                        <div class="nk-tb-item">
                                                            <div class="nk-tb-col">
                                                                <div class="container-not-found-base">
                                                                    <p>تسکی یافت نشد</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <!-- .nk-tb-list -->
                                            </div>
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .col -->
                                    <div class="col-xxl-4 col-lg-5">
                                        <div class="card card-full">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h6 class="title">برخی از پروژه ها</h6>
                                                    </div>
                                                    <div class="card-tools">
                                                        <a href="{% url 'public:project__list' %}" class="link">مشاهده
                                                            همه</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner pt-0">
                                                <ul class="gy-4">
                                                    {% for project in projects|slice:':5' %}
                                                        <li class="justify-between align-center {% if not forloop.last %}border-bottom border-0 border-dashed{% endif %}">
                                                            <div class="align-center">
                                                                <div class="user-avatar sq bg-transparent"><img
                                                                        width="30" height="30"
                                                                        src="{{ project.get_image_cover_url }}"
                                                                        alt="{{ project.name }}"/></div>
                                                                <div class="ms-2">
                                                                    <div class="lead-text">
                                                                        <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                                                                    </div>
                                                                    <div class="sub-text">{{ project.get_last_step|default:'-' }}</div>
                                                                </div>
                                                            </div>
                                                            <div class="align-center">
                                                                <div class="sub-text me-2">{{ project.progress_percentage }}%</div>
                                                                <div class="progress rounded-pill w-80px">
                                                                    <div class="progress-bar random-bg rounded-pill"
                                                                         data-progress="{{ project.progress_percentage }}"></div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% empty %}
                                                        <div class="container-not-found-base">
                                                            <p>پروژه ای یافت نشد</p>
                                                        </div>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <div class="col-12">
                                        <div class="card card-full">
                                            <div class="card-inner mb-2">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h6 class="title">گزارشات اخیر</h6>
                                                    </div>
                                                    <div class="card-tools">
                                                        <a href="{% url 'support:ticket__list' %}" class="link">مشاهده
                                                            همه</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .card-inner -->
                                            <div class="card-inner py-0 mt-n2 px-2">
                                                <div class="nk-tb-list nk-tb-tnx">
                                                    <div class="nk-tb-item nk-tb-head text-center">
                                                        <div class="nk-tb-col text-start"><span>شماره</span></div>
                                                        <div class="nk-tb-col"><span>عنوان</span></div>
                                                        <div class="nk-tb-col tb-col-sm"><span>پروژه ها</span></div>
                                                        <div class="nk-tb-col tb-col-md"><span>از واحد</span></div>
                                                        <div class="nk-tb-col nk-tb-col-status">
                                                            <span class="sub-text d-none d-md-block">وضعیت</span>
                                                        </div>
                                                        <div class="nk-tb-col nk-tb-col-tools"></div>
                                                    </div>
                                                    {% for ticket in request.user.department.tickets|slice:':6' %}
                                                        <!-- .nk-tb-item -->
                                                        <div class="nk-tb-item text-center">
                                                            <div class="nk-tb-col text-start">
                                                                <a href="{{ ticket.get_absolute_url }}">
                                                                    <div class="nk-tnx-type-text">
                                                                        <span>{{ ticket.number_id }}#</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                {{ ticket.title|truncatechars:10|default:'-' }}
                                                            </div>
                                                            <div class="nk-tb-col tb-col-sm">
                                                                {% if ticket.projects_type == 'selected' %}
                                                                    {% for project in ticket.get_projects %}
                                                                        <a class="badge badge-dim bg-info fs-9px rounded-pill"
                                                                           href="{{ project.get_absolute_url }}">{{ project.name|truncatechars:15 }}</a>
                                                                    {% empty %}
                                                                        <span>-</span>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    <span class="badge badge-dim bg-gray">متفرقه</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <a href="{{ ticket.from_department.get_absolute_url }}">
                                                                    {% if ticket.from_department != user.department %}
                                                                        {{ ticket.from_department.name }}
                                                                    {% else %}
                                                                        از طرف شما
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col nk-tb-col-status">
                                                                {% if ticket.is_open %}
                                                                    <div class="dot d-md-none dot-danger"></div>
                                                                    <span class="badge badge-sm badge-dim d-none d-md-inline-flex fs-11px bg-danger">باز</span>
                                                                {% else %}
                                                                    <div class="dot d-md-none dot-success"></div>
                                                                    <span class="badge badge-sm badge-dim d-none d-md-inline-flex fs-11px bg-success">بسته</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="nk-tb-col nk-tb-col-tools">
                                                                <ul class="nk-tb-actions gx-2">
                                                                    <li class="nk-tb-action-hidden">
                                                                        <a href="{{ ticket.get_absolute_url }}"
                                                                           class="bg-white btn btn-sm btn-outline-light btn-icon btn-tooltip"
                                                                           aria-label="جزئیات"
                                                                           data-bs-original-title="جزئیات"><em
                                                                                class="icon ni ni-eye"></em></a>
                                                                    </li>
                                                                    <li>
                                                                        <div class="dropdown">
                                                                            <a href="#"
                                                                               class="dropdown-toggle bg-white btn btn-sm btn-outline-light btn-icon"
                                                                               data-bs-toggle="dropdown"
                                                                               aria-expanded="false"><em
                                                                                    class="icon ni ni-more-h"></em></a>
                                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                                 style="">
                                                                                <ul class="link-list-opt">
                                                                                    <li>
                                                                                        <a href="{{ ticket.get_absolute_url }}"><em
                                                                                                class="icon ni ni-eye"></em><span>مشاهده جزئیات</span></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- .nk-tb-item -->
                                                    {% empty %}
                                                        <div class="nk-tb-item">
                                                            <div class="nk-tb-col">
                                                                <div class="container-not-found-base">
                                                                    <p>گزارشی یافت نشد</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <!-- .nk-tb-list -->
                                            </div>
                                            <!-- .card-inner -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                </div>
                                <!-- .row -->
                            </div>
                            <!-- .nk-block -->
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                {% include 'base/components/footer.html' %}
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
{% endblock %}


