{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    همه پروژها
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/all-project.css' %}"/>
    <style>
        .cnt-form {
            border-radius: 10px;
            margin: 20px 0;
            padding: 5px 10px;
            border: 1px solid #ddd;
            background: #fff;
        }

        .cnt-form form {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cnt-form form input {
            width: 75%;
            border: none;
            outline: none;
            padding: 7px;
        }

        .cnt-form button {
            background: none;
            padding: 5px;
            background: #f2f2ff;
            border-radius: 7px;
            font-size: 90%;
            color: #666;
        }

        .link-search-items {
            overflow: auto;
            padding: 5px;
            margin: 10px auto;
            text-align: center;
        }

        .link-search-items h6 {
            text-align: right;
        }

        .link-search-items a {
            display: inline-block;
            background: rgba(246, 255, 251, 0.85);
            color: #0da87c;
            margin: 4px;
            font-size: 110%;
            padding: 8px;
            min-width: 100px;
            border-radius: 180px;
        }

        .link-search-items a.active {
            background: #0da87c !important;
            color: #fff !important;
        }

        .cnt-filter-by-date {
            text-align: center;
        }

        .cnt-filter-by-date span {
            color: #555;
        }
    </style>
{% endblock %}

{% block Content %}
    <div class="container-fluid col-md-12 content-page">
        <main class="main">

            <div class="text-left m-3">
                <a href="{{ user.get_absolute_url_dashboard }}" class="btn btn-danger">بازگشت</a>
            </div>

            <!-- section project -->
            <section class="ongoing-projects">
                <div class="text-center d-flex align-items-center px-4">
                    <div class="col-12">
                        <div class="cnt-form col-12 col-md-6 mx-auto">
                            <form id="searchForm">
                                <input type="hidden" value="{{ request.GET.project_status }}" name="project_status">
                                <input type="hidden" value="{{ request.GET.task_master }}" name="task_master">
                                <input type="text" placeholder="نام پروژه و .." name="search"
                                       value="{{ request.GET.search }}">
                                <div>
                                    {% if request.GET.search %}
                                        <a href="{% url 'public:project' %}?task_master={{ task_master.id }}&project_status={{ request.GET.project_status }}"
                                           class="m-2 pt-2 text-danger fw-bold">X</a>
                                    {% endif %}
                                    <button>جست و جو</button>
                                </div>
                            </form>
                        </div>
                        <div class="text-left col-11 col-md-6 mx-auto">
                            {% if request.GET.filter_advanced %}
                                <a href="{% url 'public:project' %}"
                                   class="m-2 text-danger">
                                    <i class="fa fa-times"></i>
                                </a>
                            {% endif %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                جست
                                و جوی پیشرفته
                            </button>
                        </div>
                    </div>
                </div>
                <div class="link-search-items col-11 col-md-6 mx-auto">
                    <h6>فیلتر بر اساس کارفرما :</h6>
                    <a href="{% url 'public:project' %}?project_status={{ request.GET.project_status }}&search={{ request.GET.search }}"
                       {% if not request.GET.task_master %}class="active"{% endif %}>همه</a>
                    {% for task_master in task_masters %}
                        <a href="?task_master={{ task_master.id }}&project_status={{ request.GET.project_status }}&search={{ request.GET.search }}"
                           {% if request.GET.task_master == task_master.id|stringformat:'i' %}class="active" {% endif %}>{{ task_master.title }}</a>
                    {% endfor %}
                </div>

                <!-- Start status filter section -->
                <div class="link-search-items col-11 col-md-6 mx-auto">
                    <h6>فیلتر بر اساس وضعیت :</h6>
                    <a href="{% url 'public:project' %}?task_master={{ request.GET.task_master }}&search={{ request.GET.search }}"
                       {% if not request.GET.project_status %}class="active"{% endif %}>همه
                    </a>
                    <a href="?project_status=checking&task_master={{ request.GET.task_master }}&search={{ request.GET.search }}"
                       {% if request.GET.project_status == 'checking' %}class="active" {% endif %}>در حال بررسی قبل
                        اجرا
                    </a>
                    <a href="?project_status=under_construction&task_master={{ request.GET.task_master }}&search={{ request.GET.search }}"
                       {% if request.GET.project_status == 'under_construction' %}class="active" {% endif %}>در حال
                        ساخت
                    </a>
                    <a href="?project_status=posted&task_master={{ request.GET.task_master }}&search={{ request.GET.search }}"
                       {% if request.GET.project_status == 'posted' %}class="active" {% endif %}>ارسال شده
                    </a>
                    <a href="?project_status=completed&task_master={{ request.GET.task_master }}&search={{ request.GET.search }}"
                       {% if request.GET.project_status == 'completed' %}class="active" {% endif %}>تایید و اتمام
                    </a>
                    <a href="?project_status=paused&task_master={{ request.GET.task_master }}&search={{ request.GET.search }}"
                       {% if request.GET.project_status == 'paused' %}class="active" {% endif %}>متوقف شده
                    </a>
                </div>
                <!-- .End status filter section -->

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form>
                        <input type="hidden" name="filter_advanced" value="true">
                        <input type="hidden" name="filter_by_date" value="true">
                        <input type="hidden" name="search" value="{{ request.GET.search }}">
                        <input type="hidden" name="project_status" value="{{ request.GET.project_status }}">
                        <input type="hidden" name="status" value="{{ request.GET.status }}">
                        <input type="hidden" name="task_master" value="{{ request.GET.task_master }}">

                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header d-flex justify-content-between">
                                    <h5 class="modal-title col-11" id="exampleModalLabel">جست و جوی پیشرفته</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h6 style="font-weight: bold">فیلتر بر اساس بازه تاریخ :</h6>
                                        <div class="mt-4 cnt-filter-by-date">
                                            <p>تاریخ شروع</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span> بیشتر از</span>
                                                    <input type="text" name="" id="sample_delivery_datetime_picker"
                                                           class="form-control persianDatapicker pwt-datepicker-input-element"
                                                           set-on="time_start_gt" readonly
                                                           value="{{ request.GET.time_start_gt }}">
                                                    <input type="hidden" id="time_start_gt" name="time_start_gt"
                                                           value="{{ request.GET.time_start_gt }}">
                                                </div>
                                                <div>
                                                    <span> کمتر از</span>
                                                    <input type="text" name="" id="sample_delivery_datetime_picker"
                                                           class="form-control persianDatapicker pwt-datepicker-input-element"
                                                           set-on="time_start_lt" readonly
                                                           value="{{ request.GET.time_start_lt }}">
                                                    <input type="hidden" id="time_start_lt" name="time_start_lt"
                                                           value="{{ request.GET.time_start_lt }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-4 cnt-filter-by-date">
                                            <p>تاریخ پایان</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span> بیشتر از</span>
                                                    <input type="text" name="" id="sample_delivery_datetime_picker"
                                                           class="form-control persianDatapicker pwt-datepicker-input-element"
                                                           set-on="time_end_gt" readonly
                                                           value="{{ request.GET.time_end_gt }}">
                                                    <input type="hidden" id="time_end_gt" name="time_end_gt"
                                                           value="{{ request.GET.time_end_gt }}">
                                                </div>
                                                <div>
                                                    <span> کمتر از</span>
                                                    <input type="text" name="" id="sample_delivery_datetime_picker"
                                                           class="form-control persianDatapicker pwt-datepicker-input-element"
                                                           set-on="time_end_lt" readonly
                                                           value="{{ request.GET.time_end_lt }}">
                                                    <input type="hidden" id="time_end_lt" name="time_end_lt"
                                                           value="{{ request.GET.time_end_lt }}">
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
                                    <button type="submit" class="btn btn-primary">جست و جو</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="box-section">
                    {% for project in projects %}

                        <div class="col-12 col-md-3 p-2 border-1-gray m-1">
                            <div class="box-item">
                                <div class="top">
                                    <div style="color:black; margin-bottom:10px">
                                        {{ project.name }}
                                    </div>
                                    <div class=" style-conent-box">
                                        <span>تاریخ شروع:</span>
                                        <span class="datetime-convert">{{ project.time_start }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span>تاریخ پایان:</span>
                                        <span class="datetime-convert">{{ project.time_end }}</span>
                                    </div>
                                    <div class="style-conent-box {% if project.status == 'paused' %}text-danger{% else %}blue{% endif %}">
                                        <span>وضعیت فعلی</span>
                                        <span>{{ project.get_status_display }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span>درصد پیشرفت:</span>
                                        <span>{{ project.get_progress_percentage }}%</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <a href="{{ project.get_absolute_url }}">اطلاعات بیشتر</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- sectin project -->
        </main>

    </div>
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/control-project.js' %}"></script>
{% endblock %}
