<div class="col-12 col-md-3 p-2 m-1">
    <div class="box-item">
        <div class="top">
            <div style="color:black; margin-bottom:10px">
                {{ project.name }}
            </div>
            <div class=" style-conent-box">
                <span>تاریخ شروع:</span>
                <span class="datetime-convert">{{ project.time_start }}</span>
            </div>
            <div class="style-conent-box">
                <span>تاریخ پایان:</span>
                <span class="datetime-convert">{{ project.time_end }}</span>
            </div>
            <div class="style-conent-box blue">
                <span>وضعیت فعلی</span>
                <span>{{ project.get_state_label }}</span>
            </div>
            <div class="style-conent-box">
                <span>درصد پیشرفت:</span>
                <span>{{ project.get_progress_percentage }}%</span>
            </div>
        </div>
        <div class="bottom">
            <a href="{{ project.get_absolute_url }}">اطلاعات بیشتر</a>
        </div>
    </div>
</div>