<!-- In progress projects -->
<div class="title px-2">
    <span style="padding-left: 3px;">پروژه های درحال اجرا</span>
    <span class="d-flex justify-content-center align-item-center">
        <a href="{% url 'public:project' %}?project_status=checking">
            مشاهده همه
            <i class="fa fa-chevron-left fa-xl text-primary"></i>
        </a>
    </span>
</div>
<!-- project section -->
<section class="ongoing-projects" style="margin-top: -1.25rem;">
    <!-- inner project section -->
    <div class="box-section">
        {% for project in ongoing_projects %}
            {% include 'public/project/components/list-project.html' with project=project %}
        {% empty %}
            <div class="container-not-found-base">
                <p>چیزی یافت نشد</p>
            </div>
        {% endfor %}
    </div>
</section>

<!-- Other projects -->
<div>
    <div class="title px-2">
        <span style="padding-left: 3px;">دیگر پروژه‌ها</span>
    </div>
    <div class="box-section" style="margin-top: -1.25rem;">
        <!-- Posted projects -->
        <div class="col-12 col-md-6 p-2">
            <div class="box-item-2">
                <i class="icon-box fa fa-truck-field fa-2xl p-3"></i>
                <div class=" style-conent-box">
                    <span>پروژه‌های ارسال شده</span>
                </div>
                <div class="btn--ta">
                    <a href="{% url 'public:project' %}?project_status=posted">مشاهده همه</a>
                </div>
            </div>
        </div>
        <!-- Completed projects -->
        <div class="col-12 col-md-6 p-2">
            <div class="box-item-2">
                <i class="icon-box fa fa-list-check fa-2xl p-3"></i>
                <div class="style-conent-box">
                    <span>پروژه‌های تمام شده</span>
                </div>
                <div class="btn--ta">
                    <a href="{% url 'public:project' %}?project_status=completed">مشاهده همه</a>
                </div>
            </div>
        </div>
    </div>
</div>
