@import "./component";
.login{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   height: 100vh;
}
  .forms {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    direction: ltr;
    padding: 10px;
    width: 100%;
    background-color: #ffffffe1;
    box-shadow: 0px 1px 8px 0px #3f3e40;
    .form {
      width: 100%;
      .titlee {
        text-align: center;
        color: rgb(69, 69, 69);
        font-size: 20px;
      }
      .group-form {
       @include flex-between;
       width: 100%;
       background-color: #e8f0fd;
       padding: 10px 10px;
       margin: 10px 0;
       border: 1px solid $color-primary;
       position: relative;
       
       label{
          color: black;
          font-weight: 400;
          font-size: 15px;
          transition: all 800ms;
          -webkit-transition: all 800ms;
          -moz-transition: all 800ms;
          -ms-transition: all 800ms;
          -o-transition: all 800ms;
          padding: 0 10px;
        }
        input {
          display: flex;
          flex-grow: 1;
          padding: 0 5px;
          font-weight: 400;
          font-size: 16px;
          color: black;
          outline: none;
          background-color: transparent;
  
          label {
            color: $color-red;
            font-weight: bold;
            position: absolute;
            top: -10px;
            right: 25px;
            background-color: $color-bg;
            padding: 0 10px;
          }
        }
      
      }
  
      .btn-submit {
        @include centering;
        background-color: #6690f4;
        color: rgb(255, 255, 255);
        font-weight: 300;
        font-size: 16px;
        padding: 10px 30px;
        border: 1px solid $color-white;
        margin: 0 auto;
        cursor: pointer;
        transition: all 500ms;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        border-radius:  5     ;
        -webkit-border-radius:5px;
         -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
     }
    }
  }
@import "./medias";
