@import "./component";
.tasks{
    overflow-x: hidden;
}
.table-content{
    background-color: #fff;
    height: 100%;
}
.box-section{
    display: flex;
    justify-content: space-between;
    .btn--ta{
        padding:5px 10px !important;
    }
}
.box-item-inner{
    width: 20%;
    padding: 5px;
}
@media (max-width: 700px) {
    .box-item-inner{
        width: 100%;
        padding: 5px;
    }
   }
@import "./medias";
