@import "./component";
.btn-table-takhsis{
    display: flex;
    justify-content: center;
    .btn-item{
        padding: 5px 8px;
        text-align: center;
        border: 1px solid #a5a0a0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: #f56952;
            color: #fff;
            border: none;

        }
        &.active{
            background-color: #f56952;
            color: #fff;
            border: none;

        }
    }
}
@import "./medias";


