@import "./component";
.content-warehouse{

        .content-warehouse-inner
        {
        
          .row-table{
            .item-row{
              color: rgb(83, 80, 80);
              text-align: center;
            }
          }
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 5px 0;
            &::-webkit-scrollbar {
              height: 5px;
              background-color: transparent;
            }
        
            /* Track */
            &::-webkit-scrollbar-track {
              background-color: transparent;
            }
        
            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: rgb(211, 208, 9);
              width: 10px;
              height: 20px;
            }
        
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
              background: rgb(231, 206, 24);
            }
          }
        
        table, th, td {
           
            border-collapse: collapse;
            background-color: #fff;
            color: #000000;
        }
      
        table th {
            background-color:#f7f7f7;
            color: #808080;
            text-align: center;
        }
         td {
           padding:15px 20px;
           color: #fff;
           text-align: center;
        }
        th{
            padding:5px 5px;
        }
}
.deliver{
  padding: 20px;
  
  span{
    color: #fff;
    background-color: #808080;
    padding:5px 10px;
    cursor: pointer;
  }
}


@import "./medias";
