<div class="modal fade" id="task-modal-delete-{{ task.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">حذف تسک</h5>
            </div>
            <div class="modal-body">
                آیا از حذف تسک
                <span class="fw-bold">"{{ task.name|truncatechars:30 }}"</span>
                اطمینان دارید؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    خیر، لغو
                </button>
                <form action="{% url 'public:task_owner_detail' task_id=task.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type_request" value="delete">
                    <button class="btn-item btn btn-danger">
                        بله، حذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
