<div class="modal fade" id="addTaskMasterModal" tabindex="-1" aria-labelledby="addTaskMaster" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">افزودن کارفرما جدید</h5>
            </div>
            <div class="modal-body">
                <form action="{% url 'public:task_master' %}" method="post" id="addTaskMasterForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="task-master-name" class="col-form-label">نام کارفرما:</label>
                        <input type="text" name="title" class="form-control" id="task-master-name" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <button type="submit" form="addTaskMasterForm" class="btn btn-primary">ثبت</button>
            </div>
        </div>
    </div>
</div>
