{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    پنل مدیریت تولید
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/production-panel.css' %}">
{% endblock %}

{% block Content %}

    <!-- request unit -->
    {% include 'support/components/new-ticket.html' with projects=projects departments=departments %}
    <!--  request unit -->

    <!--morde-descriptin popup -->
    <!-- START SECTION NOTIFATION -->
    <div class="col-12 col-md-2 notifcation">
        <div class="overly">
            <div class="inner-notfication">
                <div class="btns">
                    <div class="btn-change col-6 text-center active">زمان</div>
                    <div class="btn-change col-6 text-center">الویت</div>
                </div>
                <section class="content-notifcation">
                    <div class="content-items p-2 active">
                        <div class="col-12">
                            <div class="notifcation-item">
                                <div class="top">
                                    <div class="title">
                                        <span class="right-title">عنوان اعلان</span>
                                        <span class="style-conent-box">1377/2/8</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="des-notif style-conent-box">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، ت...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="notifcation-item">
                                <div class="top">
                                    <div class="title">
                                        <span class="right-title">عنوان اعلان</span>
                                        <span class="style-conent-box">1377/2/8</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="des-notif style-conent-box">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، ت...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="notifcation-item">
                                <div class="top">
                                    <div class="title">
                                        <span class="right-title">عنوان اعلان</span>
                                        <span class="style-conent-box">1377/2/8</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="des-notif style-conent-box">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، ت...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="notifcation-item">
                                <div class="top">
                                    <div class="title">
                                        <span class="right-title">عنوان اعلان</span>
                                        <span class="style-conent-box">1377/2/8</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="des-notif style-conent-box">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، ت...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="notifcation-item">
                                <div class="top">
                                    <div class="title">
                                        <span class="right-title">عنوان اعلان</span>
                                        <span class="style-conent-box">1377/2/8</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="des-notif style-conent-box">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، ت...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-items p-2">
                        <div class="col-12">
                            <div class="notifcation-item">
                                <div class="top">
                                    <div class="title">
                                        <span class="right-title">عنوانkkkkkk اعلان</span>
                                        <span class="style-conent-box">1377/2/8</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="des-notif style-conent-box">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، ت...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="notifcation-item">
                                <div class="top">
                                    <div class="title">
                                        <span class="right-title">عنوان اعلان</span>
                                        <span class="style-conent-box">1377/2/8</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="des-notif style-conent-box">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، ت...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="notifcation-item">
                                <div class="top">
                                    <div class="title">
                                        <span class="right-title">عنوان اعلان</span>
                                        <span class="style-conent-box">1377/2/8</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="des-notif style-conent-box">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، ت...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="notifcation-item">
                                <div class="top">
                                    <div class="title">
                                        <span class="right-title">عنوان اعلان</span>
                                        <span class="style-conent-box">1377/2/8</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="des-notif style-conent-box">لورم ایپسوم متن ساختگی با تولید سادگی
                                        نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، ت...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="all-notif">
                        <a href="./Notification-list.html">مشاهده همه</a>
                    </div>
                </section>
                <div class="download">
                    <button class="download-notifcation-file">دانلودفایل اعلانات</button>
                </div>
            </div>
        </div>

    </div>
    <!-- END SECTION NOTIFATION -->
    <div class="container-fluid col-md-10 content-page">
        <main class="main">
            <div class="title px-4">
                <span style="padding-left:3px;">پنل تولید</span>
                <!-- btn-notif in mobile -->
                <div class="notif-btn-mobile d-none">اعلانات</div>
                <!-- btn-notif in mobile -->
            </div>
            <!--Start Access panel -->
            <section class="collection-units" style="background-color:#fff;">
                <div class="box-section">
                    <div class="col-12 col-md-6">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/تسک خای اولویت بندی شده 2@2x.png' %}" alt=""
                                 class="icon-box"
                                 style="margin-bottom:15px ;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>تسک ها</span>
                            </div>
                            <a href="{% url 'public:task' %}" class="tarif-task" id="one">مشاهده</a>
                        </div>
                    </div>
                    <!-- item access panel -->
                    <div class="col-12 col-md-6">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/درخواست از سایر واحد ها 2@2x.png' %}" alt=""
                                 class="icon-box"
                                 style="margin-bottom:15px ;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>درخواست از سایر واحدها</span>
                            </div>
                            <div class="tarif-task btn-request-unit" id="one">مشاهده</div>
                        </div>
                    </div>
                    <!-- item access panel -->

                </div>
            </section>
            <!--Start Access panel -->
            <div class="title px-4">
                <span style="padding-left:3px;">پروژه های درحال اجرا</span>
                <span class="d-flex justify-content-center align-item-center">
                    <a href="{% url 'public:project' %}">مشاهده همه</a>
                    <img src="{% static 'frontend/images/back-icon.png' %}" alt="">
                </span>
            </div>
            <!-- project section -->
            <section class="ongoing-projects">
                <!-- inner project section -->
                <div class="box-section">
                    <!-- each project box -->
                    {% for project in projects|slice:':4' %}
                        <div class="col-12 col-md-3 p-2">
                            <div class="box-item">
                                <div class="top">
                                    <!-- title -->
                                    <div style="color:black; margin-bottom:10px">
                                        عنوان پروژه
                                    </div>
                                    <!-- title -->
                                    <!-- date -->
                                    <div class=" style-conent-box">
                                        <span>تاریخ شروع:</span>
                                        <span>1377/8/8</span>
                                    </div>
                                    <!-- date -->
                                    <!-- date dedline -->
                                    <div class="style-conent-box">
                                        <span>تاریخ پایان:</span>
                                        <span>1377/8/8</span>
                                    </div>
                                    <!-- date dedline -->
                                    <!-- status -->
                                    <div class="style-conent-box blue">
                                        <span>وضعیت فعلی</span>
                                        <span>درحال انجام</span>
                                    </div>
                                    <!-- status -->
                                    <!-- Percent -->
                                    <div class="style-conent-box">
                                        <span>درصد پیشرفت:</span>
                                        <span>40%</span>
                                    </div>
                                    <!-- Percent -->
                                </div>
                                <!-- more-btn -->
                                <div class="bottom">
                                    <a href="./project.html">اطلاعات بیشتر</a>
                                </div>
                                <!-- more-btn -->
                            </div>
                        </div>
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
                <!-- inner project section -->
            </section>
            <!-- project section -->
        </main>
    </div>


{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/production-panel.js' %}"></script>
{% endblock %}