{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    پنل مدیریت تولید
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/production-panel.css' %}">
{% endblock %}

{% block Content %}

    <div class="content-modal-two modal-confirm-task">
        <div class="inner-modal">
            <form class="p-4" action="{% url 'public:project_file' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="information-section">
                    <div class="information-item">
                        <label for="lihh">نام فایل</label>
                        <input type="text" name="name">
                    </div>
                    <div class="information-item">
                        <label for="lihh">توضیحات</label>
                        <textarea name="description" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="information-item">
                        <div class="uploade-imge">
                            <label class="item-upload" for="add5">
                                آپلود فایل
                            </label>
                            <input type="file" name="file" id="add5" hidden="">
                        </div>
                    </div>
                    <div class="information-item">
                        <label class="item-upload" for="add">
                            پروژه
                        </label>
                        <!-- status task -->
                        <select id="taskProjectSelect" name="project" class="select2-input" required>
                            {% for project in projects %}
                                <option value="{{ project.id }}" label="{{ project.name }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <!-- status task -->
                    </div>
                </div>
                <div class="information-section">
                    <button class="sabt-modal col-12 btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>

    <!-- request unit -->
    <!--  request unit -->

    <!-- START SECTION NOTIFATION -->
    {% include 'base/components/aside-menu.html' with notifications=notifications tickets=tickets %}
    <!-- END SECTION NOTIFATION -->

    <div class="container-fluid col-md-10 content-page">
        <main class="main">
            <div class="title px-2">
                <span class="fw-bold">پنل مدیر تولید</span>
                <!-- btn-notif in mobile -->
                <div class="notif-btn-mobile d-none">اعلانات</div>
                <!-- btn-notif in mobile -->
            </div>
            <!--Start Access panel -->
            <section class="collection-units bg-white mt-4">
                <div class="box-section justify-content-start">
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/تسک خای اولویت بندی شده 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3">
                                <span>تسک ها</span>
                            </div>
                            <a href="{% url 'public:task' %}" class="tarif-task" id="one">مشاهده</a>
                        </div>
                    </div>
                    <!-- item access panel -->
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/درخواست از سایر واحد ها 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3 text-center">
                                <span>درخواست از سایر واحدها</span>
                            </div>
                            <div class="tarif-task btn-request-unit" id="one">مشاهده</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/لیست خرید تایید شده مدیریت 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3">
                                <span>فایل پروژه</span>
                            </div>
                            <div class="tarif-task btn-create-report btn--ta1 task-confirm" id="one">اپلود</div>
                        </div>
                    </div>
                    <!-- item access panel -->
                </div>
            </section>
            <!-- .End Access panel -->

            <!-- Start project section -->
            <div class="title px-2 mt-4">
                <span style="padding-left: 3px;">پروژه های درحال اجرا</span>
                <span class="d-flex justify-content-center align-item-center">
                    <a href="{% url 'public:project' %}?status=other">
                        مشاهده همه
                        <img src="{% static 'frontend/images/back-icon.png' %}" alt="">
                    </a>
                </span>
            </div>
            <!-- project section -->
            <section class="ongoing-projects" style="margin-top: -1.25rem;">
                <!-- inner project section -->
                <div class="box-section justify-content-start">
                    {% for project in ongoing_projects %}
                        {% include 'public/project/components/list-project.html' with project=project %}
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Other projects -->
            <div>
                <div class="title px-2">
                    <span>دیگر پروژه‌ها</span>
                </div>
                <div class="box-section" style="margin-top: -1.25rem;">
                    <!-- Posted projects -->
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-truck-field fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>پروژه‌های ارسال شده</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'public:project' %}?status=posted">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <!-- Completed projects -->
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-list-check fa-2xl p-3"></i>
                            <div class="style-conent-box">
                                <span>پروژه‌های تمام شده</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'public:project' %}?status=completed">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .End project section -->

            <!-- Start pages section -->
            <div class="title px-2">
                <span style="padding-left: 3px;">صفحات</span>
            </div>
            <section style="margin-top: -1.25rem;">
                <div class="box-section justify-content-start">
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-gears fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست پروژه ها</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:project' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-question-circle fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست استعلامات</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:inquiry' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .End pages section -->
        </main>
    </div>
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/production-panel.js' %}"></script>
{% endblock %}