{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    لیست فایل های پروژه
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/shoping-list.css' %}">
{% endblock %}


{% block Content %}
    <main class="main content-page container" style="padding-bottom:60px ;">
        <h5 class="title-page">لیست فایل های پروژه</h5>
        <div class="col-11 col-md-7 mx-auto my-4">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" name="search" value="{{ request.GET.search }}" placeholder="نام پروژه ..">
                <div class="d-flex justify-content-between align-items-center mx-3">
                    {% if request.GET.search %}
                        <a href="{% url 'public:project_file' %}">
                            <i class="fa fa-times text-danger"></i>
                        </a>
                    {% endif %}
                    <button class="btn btn-primary mx-2 p-3">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <section class="col-12 project-content">
            <div class="inner-project">
                <div class="content-items p-2">
                    <section class="section-table">
                        <!-- table -->
                        <div class="table">
                            <!-- title table -->
                            <div class="table-title">
                                <div class="col-6">
                                    <div class="table-title-item">
                                        ردیف
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="table-title-item">
                                        نام پروژه
                                    </div>
                                </div>
                            </div>
                            <!-- title table -->
                            <!-- content table -->
                            <div class="table-content">
                                <!-- each row table -->
                                {% for project in projects %}
                                    <div class="row-table">
                                        <!-- each row table -->
                                        <div class="col-6 p-1">
                                            <div class="table-content-item">
                                                {{ forloop.counter }}
                                            </div>
                                        </div>
                                        <!-- each row table -->
                                        <div class="col-6 p-1">
                                            <div class="table-content-item">
                                                <a href="{% url 'public:project_detail_file_list' project_id=project.id %}">{{ project.name }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="container-not-found-base">
                                        <p>چیزی یافت نشد</p>
                                    </div>
                                {% endfor %}

                            </div>
                            <!-- content table -->
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </main>


{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/shoping-list.js' %}"></script>
{% endblock %}