{% extends 'base/base_template.html' %}
{% load static %}
{% load filters %}

{% block Title %}
    لیست تسک ها
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/List-tasks-checked.css' %}"/>
{% endblock %}


{% block Content %}

    {% for task in tasks %}
        <!-- Update task nav -->
        <div class="content-modal modal-edit-task">
            <div class="inner-modal">
                {% include 'public/task/components/update-nav.html' with task=task projects=projects departments=departments %}
            </div>
        </div>
        <!-- - -->
    {% endfor %}

    <div class="text-center d-flex justify-content-center mb-2 mt-1 px-3">
        <h3 class="title-page w-100 text-center me-5">
            {% with request.GET.task_state as state %}
                {% if state == 'progress' %}
                    تسک های در حال اجرا
                {% elif state == 'queue' %}
                    تسک های در صف
                {% elif state == 'need-to-check' %}
                    تسک های نیاز به بررسی
                {% elif state == 'need-to-replan' %}
                    تسک های نیاز به برنامه ریزی مجدد
                {% elif state == 'hold' %}
                    تسک های نگه داشته شده
                {% elif state == 'finished' %}
                    تسک های تمام شده
                {% endif %}
            {% endwith %}
        </h3>
        <div class="mt-2">
            <a href="{{ user.get_absolute_url_dashboard }}" class="btn btn-danger">بازگشت</a>
        </div>
    </div>

    <div class="col-12 col-md-5 col-lg-6 mx-auto mb-4 p-4">
        <div>
            <div class="filters-radio">
                <div class="title">
                    مرتب بر اساس :
                </div>
                <div class="container">
                    <div>
                        <a class="{% if request.GET.sort_by == 'latest' or not request.GET.sort_by %}active{% endif %}"
                           href="{% url 'public:task_owner' %}?sort_by=latest&task_state={{ request.GET.task_state }}">
                            جدید ترین
                        </a>
                    </div>
                    <div>
                        <a class="{% if request.GET.sort_by == 'oldest' %}active{% endif %}"
                           href="{% url 'public:task_owner' %}?sort_by=oldest&task_state={{ request.GET.task_state }}">
                            قدیمی ترین
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <form action="{% url 'public:task_owner' %}" method="get">
                    <input type="hidden" name="task_state" value="{{ request.GET.task_state }}">
                    <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                    <p class="title">جست و جو :</p>
                    <div class="cnt-search col-11 col-md-7">
                        <input type="text" name="search" value="{{ request.GET.search }}"
                               placeholder="نام تسک ، واحد تسک و ..">
                        <div>
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--morde-descriptin popup -->
    <main class="main content-page">
        <section class="col-12 project-content pb-3">
            <div class="inner-project">
                <!-- Start tasks list table -->
                <div class="table-responsive">
                    <table class="table table-bordered rounded-3 overflow-hidden">
                        <!-- Table head -->
                        <thead class="table-dark">
                        <tr class="text-center text-nowrap">
                            <th>ردیف</th>
                            <th>عنوان</th>
                            <th>واحد تخصیص داده</th>
                            <th>توضیحات</th>
                            <th>پروژه</th>
                            <th>تاریخ</th>
                            <th>زمان تغییر</th>
                            <th>برای واحد</th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                        {% for task in tasks %}
                            <!-- Delete task modal -->
                            {% include 'public/task/components/delete_task.html' %}
                            <!-- - -->

                            <!-- Task description modal -->
                            {% include 'public/task/components/task_description.html' %}
                            <!-- - -->

                            <tr class="text-center">
                                <td>
                                    <span>{{ forloop.counter }}</span>
                                </td>
                                <td>
                                    <span title="{{ task.name|default:'بدون عنوان' }}">{{ task.name|default:'بدون عنوان' }}</span>
                                </td>
                                <td>
                                    <span>{{ task.from_department.name }}</span>
                                </td>
                                <td>
                                    <span class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                          data-bs-target="#taskDescription-{{ task.id }}">مشاهده</span>
                                </td>
                                <td>
                                    <span>{{ task.project.name }}</span>
                                </td>
                                <td>
                                    <span class="datetime-convert">{{ task.get_created_at }}</span>
                                    <span class="font-80">({{ task.created_at|date:'H:i' }})</span>
                                </td>
                                <td>
                                    <span class="datetime-convert">{{ task.get_state_modify_time|default:'-' }}</span>
                                    <span class="font-80">({{ task.state_modify_time|date:'H:i' }})</span>
                                </td>
                                <td>
                                    <span>{{ task.to_department }}</span>
                                </td>
                                <td>
                                    {% if user|task_has_permission %}
                                        <div class="d-flex flex-nowrap justify-content-center gap-1">
                                            <button class="fa fa-trash-can btn btn-sm btn-danger" title="حذف"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#task-modal-delete-{{ task.id }}"></button>
                                            <button class="fa fa-edit btn btn-sm btn-warning edit-task"
                                                    title="ویرایش"></button>
                                            <form action="{% url 'public:task_remind' task_id=task.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit"
                                                        class="fa fa-bell btn btn-sm btn-primary text-white"
                                                        title="یادآوری"></button>
                                            </form>
                                        </div>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div class="pagination">
            <span class="step-links">
                {% if paginator.has_previous %}
                    <a href="?page=1">&laquo; اولین </a>
                    <a href="?page={{ paginator.previous_page_number }}">قبلی</a>
                {% endif %}

                <span class="current">
                    صفحه {{ paginator.number }} از {{ paginator.paginator.num_pages }}.
                </span>

                {% if paginator.has_next %}
                    <a href="?page={{ paginator.next_page_number }}">بعدی</a>
                    <a href="?page={{ paginator.paginator.num_pages }}">اخرین &raquo;</a>
                {% endif %}
            </span>
        </div>
    </main>
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/List-tasks-checked.js' %}"></script>
{% endblock %}
