{% extends 'base/base_template.html' %}
{% load static %}
{% load render_partial %}

{% block Title %}
    لیست تسک ها
{% endblock %}

{% block BodyClass %}
    has-rtl nk-body ui-rounder has-sidebar no-touch nk-nio-theme
{% endblock %}


{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- sidebar @s -->
            {% render_partial 'public.components.MenuComponent' %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap">
                <!-- main header @s -->
                {% include 'base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">لیست تسک ها</h3>
                                        <nav>
                                            <ul class="breadcrumb breadcrumb-arrow">
                                                <li class="breadcrumb-item"><a href="{% url 'public:index' %}">صفحه
                                                    اصلی</a></li>
                                                <li class="breadcrumb-item"><a>تسک ها</a></li>
                                                <li class="breadcrumb-item active">لیست تسک ها</li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                               data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">
                                                    <li>
                                                        <a href="#" class="btn btn-white btn-dim btn-outline-light"><em
                                                                class="icon ni ni-download-cloud"></em><span>خروجی گرفتن</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block-head-content -->
                                </div>
                                <!-- .nk-block-between -->
                            </div>
                            {% with qs=request.GET %}
                                <div class="nk-block">
                                    <div class="card card-stretch">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h5 class="title">
                                                            لیست تسک ها
                                                            <span class="fs-15px">({{ tasks.count }})</span>
                                                        </h5>
                                                    </div>
                                                    <div class="card-tools me-n1">
                                                        <ul class="btn-toolbar gx-1">
                                                            <!-- li -->
                                                            <li>
                                                                <div class="dropdown">
                                                                    <a href="#"
                                                                       class="btn btn-trigger btn-icon dropdown-toggle"
                                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                                        {% if qs.filter %}
                                                                            <div class="dot dot-primary"></div>
                                                                        {% endif %}
                                                                        <em class="icon ni ni-filter-alt"></em>
                                                                    </a>
                                                                    <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end"
                                                                         style="">
                                                                        <div class="dropdown-head">
                                                                            <span class="sub-title dropdown-title">فیلتر پیشرفته</span>
                                                                        </div>
                                                                        <div class="dropdown-body dropdown-body-rg">
                                                                            <form class="add-params-to-form">
                                                                                <input type="hidden" name="filter"
                                                                                       value="true">
                                                                                <div class="row gx-6 gy-4">
                                                                                    <div class="col-12">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">مرتب سازی</label>
                                                                                            <select class="form-select js-select2 select-by-filter"
                                                                                                    name="sort_by"
                                                                                                    tabindex="-1"
                                                                                                    aria-hidden="true">
                                                                                                <option value="latest">
                                                                                                    جدیدترین
                                                                                                </option>
                                                                                                <option value="oldest">
                                                                                                    قدیمی ترین
                                                                                                </option>
                                                                                                <option value="priority_high">
                                                                                                    اولویت بالا
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-6">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">پروژه</label>
                                                                                            <select class="form-select js-select2 select-by-filter"
                                                                                                    name="project"
                                                                                                    tabindex="-1"
                                                                                                    aria-hidden="true">
                                                                                                <option value="all">همه
                                                                                                </option>
                                                                                                {% for project in projects %}
                                                                                                    <option value="{{ project.id }}">{{ project.name }}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-6">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">وضعیت</label>
                                                                                            <select class="form-select js-select2 select-by-filter"
                                                                                                    name="status"
                                                                                                    tabindex="-1"
                                                                                                    aria-hidden="true">
                                                                                                <option value="all">همه
                                                                                                </option>
                                                                                                {% for status in task_status %}
                                                                                                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                                                                                                {% endfor %}

                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">
                                                                                                تاریخ شروع
                                                                                            </label>
                                                                                            <div class="form-control-wrap">
                                                                                                <div class="input-daterange date-picker-range input-group">
                                                                                                    <input type="text"
                                                                                                           class="form-control range-from"
                                                                                                           name="time_start_gt"
                                                                                                           value="{{ qs.time_start_gt }}"
                                                                                                           placeholder="روز-ماه-سال"/>
                                                                                                    <div class="input-group-addon">
                                                                                                        تا
                                                                                                    </div>
                                                                                                    <input type="text"
                                                                                                           class="form-control range-to"
                                                                                                           name="time_start_lt"
                                                                                                           value="{{ qs.time_start_lt }}"
                                                                                                           placeholder="روز-ماه-سال"/>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                        <div class="form-group">
                                                                                            <label class="overline-title overline-title-alt">
                                                                                                تاریخ اتمام
                                                                                            </label>
                                                                                            <div class="form-control-wrap">
                                                                                                <div class="input-daterange date-picker-range input-group">
                                                                                                    <input type="text"
                                                                                                           class="form-control range-from"
                                                                                                           name="time_end_gt"
                                                                                                           value="{{ qs.time_end_gt }}"
                                                                                                           placeholder="روز-ماه-سال"/>
                                                                                                    <div class="input-group-addon">
                                                                                                        تا
                                                                                                    </div>
                                                                                                    <input type="text"
                                                                                                           class="form-control range-to"
                                                                                                           name="time_end_lt"
                                                                                                           value="{{ qs.time_end_lt }}"
                                                                                                           placeholder="روز-ماه-سال"/>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 text-left">
                                                                                        <div class="form-group">
                                                                                            <button type="submit"
                                                                                                    class="btn btn-secondary">
                                                                                                فیلتر
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        <div class="dropdown-foot between">
                                                                            <a class="clickable"
                                                                               href="{% url 'public:task__list' %}">بازنشانی
                                                                                فیلتر</a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- .filter-wg -->
                                                                </div>
                                                                <!-- .dropdown -->
                                                            </li>
                                                            <!-- li -->
                                                            <li>
                                                                <a href="#"
                                                                   class="search-toggle toggle-search btn btn-icon"
                                                                   data-target="search">
                                                                    <em class="icon ni ni-search"></em>
                                                                    {% if qs.search %}
                                                                        <div class="dot dot-primary"></div>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <!-- .btn-toolbar -->
                                                    </div>
                                                    <!-- .card-tools -->
                                                    <div class="card-search search-wrap" data-search="search">
                                                        <div class="search-content">
                                                            <form class="add-params-to-form">
                                                                <a href="#"
                                                                   class="search-back btn btn-icon toggle-search"
                                                                   data-target="search"><em
                                                                        class="icon ni ni-arrow-left"></em></a>
                                                                <input type="text" name="search"
                                                                       class="form-control border-transparent form-focus-none"
                                                                       placeholder="جستجوی سریع بر اساس نام تسک"
                                                                       value="{{ qs.search }}">
                                                                <button class="search-submit btn btn-icon"><em
                                                                        class="icon ni ni-search"></em></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- .card-search -->
                                                </div>
                                                <!-- .card-title-group -->
                                            </div>
                                            <!-- .card-inner -->
                                            <div class="card-inner p-0">
                                                <div class="nk-tb-list nk-tb-tnx">
                                                    <div class="nk-tb-item nk-tb-head text-center">
                                                        <div class="nk-tb-col"><span>نام</span></div>
                                                        <div class="nk-tb-col"><span>پروژه</span></div>
                                                        <div class="nk-tb-col"><span>از واحد</span></div>
                                                        <div class="nk-tb-col tb-col-sm"><span>به واحد</span></div>
                                                        <div class="nk-tb-col"><span>اولویت</span></div>
                                                        <div class="nk-tb-col tb-col-sm"><span>تاریخ شروع</span></div>
                                                        <div class="nk-tb-col tb-col-sm"><span>تاریخ پایان</span></div>
                                                        <div class="nk-tb-col nk-tb-col-status"><span
                                                                class="sub-text d-none d-md-block">وضعیت</span></div>
                                                        <div class="nk-tb-col nk-tb-col-tools"></div>
                                                    </div>
                                                    {% for task in tasks %}
                                                        <!-- .nk-tb-item -->
                                                        <div class="nk-tb-item text-center">
                                                            <div class="nk-tb-col">
                                                                <a href="{{ task.get_absolute_url }}">
                                                                    <div class="nk-tnx-type-text">
                                                                        <span>{{ task.name|truncatechars:30 }}</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <a href="{{ task.project.get_absolute_url }}">
                                                                    {{ task.project.name|truncatechars:30 }}
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <a href="{{ task.from_department.get_absolute_url }}">
                                                                    {{ task.from_department.name|truncatechars:30 }}
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-sm">
                                                                <a href="{{ task.to_department.get_absolute_url }}">
                                                                    {{ task.to_department.name|truncatechars:30 }}
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-lead-sub badge badge-dim bg-info py-1 fs-14px">{{ task.priority }}</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span>{{ task.time_start|default:'-' }}</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span>{{ task.time_end|default:'-' }}</span>
                                                            </div>
                                                            <div class="nk-tb-col nk-tb-col-status">
                                                                <div class="dot d-md-none dot-{{ task.get_last_status.status }}"></div>
                                                                <span class="badge badge-sm badge-dim d-none d-md-inline-flex fs-11px bg-{{ task.get_last_status.status }}">{{ task.get_last_status.get_status_label }}</span>
                                                            </div>
                                                            <div class="nk-tb-col nk-tb-col-tools">
                                                                <ul class="nk-tb-actions gx-2">
                                                                    <li class="nk-tb-action-hidden">
                                                                        <a href="{{ task.get_absolute_url }}"
                                                                           class="bg-white btn btn-sm btn-outline-light btn-icon btn-tooltip"
                                                                           aria-label="جزئیات"
                                                                           data-bs-original-title="جزئیات"><em
                                                                                class="icon ni ni-eye"></em></a>
                                                                    </li>
                                                                    <li>
                                                                        <div class="dropdown">
                                                                            <a href="#"
                                                                               class="dropdown-toggle bg-white btn btn-sm btn-outline-light btn-icon"
                                                                               data-bs-toggle="dropdown"
                                                                               aria-expanded="false"><em
                                                                                    class="icon ni ni-more-h"></em></a>
                                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                                 style="">
                                                                                <ul class="link-list-opt">
                                                                                    {% if has_perm_to_send_notify %}
                                                                                        <li>
                                                                                            <a href="#"><em
                                                                                                    class="icon ni ni-bell"></em><span>ارسال یادآور</span></a>
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    <li>
                                                                                        <a href="{{ task.get_absolute_url }}"><em
                                                                                                class="icon ni ni-eye"></em><span>مشاهده جزئیات</span></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- .nk-tb-item -->
                                                    {% empty %}
                                                        <div class="nk-tb-item">
                                                            <div class="nk-tb-col">
                                                                <div class="container-not-found-base">
                                                                    <p>پروژه ای یافت نشد</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <!-- .nk-tb-list -->
                                            </div>
                                            <!-- .card-inner -->
                                            <div class="card-inner">
                                                <ul class="pagination justify-content-center justify-content-md-start">
                                                    {% if pagination.has_previous %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page=1">اولین</a></li>
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page={{ pagination.previous_page_number }}">قبلی</a>
                                                        </li>
                                                    {% endif %}

                                                    <span class="current page-link">
                                                         صفحه {{ pagination.number }} از {{ pagination.paginator.num_pages }}.
                                                    </span>

                                                    {% if pagination.has_next %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page={{ pagination.next_page_number }}">بعدی</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page={{ pagination.paginator.num_pages }}">اخرین</a>
                                                        </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                            <!-- .card-inner -->
                                        </div>
                                        <!-- .card-inner-group -->
                                    </div>
                                    <!-- .card -->
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                {% include 'base/components/footer.html' %}
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
{% endblock %}
