{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    {% with request.GET.task_state as state %}
        {% if state == 'progress' %}
            تسک های در حال اجرا
        {% elif state == 'queue' %}
            تسک های در صف
        {% elif state == 'need-to-check' %}
            تسک های نیاز به بررسی
        {% elif state == 'finished' %}
            تسک های تمام شده
        {% endif %}
    {% endwith %}
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/List-tasks-checked.css' %}"/>
{% endblock %}


{% block Content %}

    {% for task in tasks %}
        <div class="content-modal modal-edit-task">
            <div class="inner-modal">
                {% include 'public/task/components/update-nav.html' with task=task projects=projects departments=departments %}
            </div>

        </div>
    {% endfor %}

    {% for task in tasks %}
        <div class="content-modal-two modal-more-description">
            <div class="inner-modal">
                <form class="p-4">
                    <div class="close-modal close-modal-description">
                        <img src="{% static 'frontend/images/close.png' %}" alt="">
                    </div>
                    <div class="hhh">
                        <div class="more-des">
                            {{ task.description }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
    <h3 class="title-page mx-auto text-center">
        {% with request.GET.task_state as state %}
            {% if state == 'progress' %}
                تسک های در حال اجرا
            {% elif state == 'queue' %}
                تسک های در صف
            {% elif state == 'need-to-check' %}
                تسک های نیاز به بررسی
            {% elif state == 'finished' %}
                تسک های تمام شده
            {% endif %}
        {% endwith %}
    </h3>

    <div class="col-12 col-md-5 col-lg-6 mx-auto mb-4 p-4">
        <div>
            <div class="filters-radio">
                <div class="title">
                    مرتب بر اساس :
                </div>
                <div class="container">
                    <div>
                        <a class="{% if request.GET.sort_by == 'latest' or not request.GET.sort_by %}active{% endif %}"
                           href="{% url 'public:task_owner' %}?sort_by=latest&task_state={{ request.GET.task_state }}">
                            جدید ترین
                        </a>
                    </div>
                    <div>
                        <a class="{% if request.GET.sort_by == 'oldest' %}active{% endif %}"
                           href="{% url 'public:task_owner' %}?sort_by=oldest&task_state={{ request.GET.task_state }}">
                            قدیمی ترین
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <form action="{% url 'public:task_owner' %}" method="get">
                    <input type="hidden" name="task_state" value="{{ request.GET.task_state }}">
                    <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                    <p class="title">جست و جو :</p>
                    <div class="cnt-search col-11 col-md-7">
                        <input type="text" name="search" value="{{ request.GET.search }}"
                               placeholder="نام تسک ، واحد تسک و ..">
                        <div>
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--morde-descriptin popup -->
    <main class="main content-page container">

        <section class="col-12 project-content" style="padding-bottom:60px ;">
            <div class="inner-project">
                <div class="content-items p-2">
                    <section class="section-table">
                        <!-- table -->
                        <div class="table">
                            <!-- title table -->
                            <div class="table-title">
                                <div class="col-1">
                                    <div class="table-title-item">
                                        ردیف
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="table-title-item">
                                        نام تسک
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="table-title-item">
                                        واحد تخصیص داده
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="table-title-item">
                                        توضیحات
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="table-title-item">
                                        تاریخ
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="table-title-item">
                                        زمان تغییر
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="table-title-item">
                                        برای واحد
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="table-title-item">
                                        عملیات
                                    </div>
                                </div>

                            </div>
                            <!-- title table -->
                            <!-- content table -->
                            <!-- each row table -->
                            <div class="table-content">
                                <!-- row table -->
                                {% for task in tasks %}
                                    <!-- modal delete task -->
                                    <div class="modal fade" id="task-modal-delete-{{ forloop.counter }}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel-{{ forloop.counter }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        id="exampleModalLabel-{{ forloop.counter }}">حذف تسک</h5>
                                                </div>
                                                <div class="modal-body">
                                                    ایا از حذف تسک
                                                    <strong>{{ task.name|truncatechars:30 }}</strong>
                                                    اطمینان دارید ؟
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">لغو
                                                    </button>
                                                    <form action="{% url 'public:task_owner_detail' task_id=task.id %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="type_request" value="delete">
                                                        <button class="btn-item m-1 remov btn btn-danger">
                                                            بله ، حذف تسک
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end modal delete task -->
                                    <div class="row-table">
                                        <div class="col-1 p-2">
                                            <div class="table-content-item">
                                                {{ forloop.counter }}
                                            </div>
                                        </div>
                                        <div class="col-1 p-2">
                                            <div class="table-content-item">
                                                {{ task.name }}
                                            </div>
                                        </div>
                                        <div class="col-2 p-2">
                                            <div class="table-content-item">
                                                {{ task.from_department.name }}
                                            </div>
                                        </div>
                                        <div class="col-2 p-2">
                                            <div class="table-content-item">
                                                <p class="description">{{ task.description|truncatechars:30 }}</p>
                                            </div>
                                        </div>
                                        <div class="col-1 p-2">
                                            <div class="table-content-item datetime-convert">
                                                {{ task.created_at }}
                                            </div>
                                        </div>
                                        <div class="col-2 p-1 d-flex align-items-center justify-content-center">
                                            <div class="table-content-item datetime-convert">
                                                {{ task.get_state_modify_time|default:'-' }}
                                            </div>
                                            <span class="font-80">
                                                ({{ task.state_modify_time|date:'H:i' }})
                                            </span>
                                        </div>
                                        <div class="col-1 p-2">
                                            <div class="table-content-item">
                                                <p class="">{{ task.to_department }}</p>
                                            </div>
                                        </div>
                                        <div class="col-2 p-2">
                                            <div class="table-content-item">
                                                <div class="btn-table-takhsis">
                                                    <form action="{% url 'public:task_owner_detail' task_id=task.id %}?task_state={{ request.GET.task_state }}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="type_request" value="delete">

                                                        <button type="button" class="btn btn-item m-1 remov"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#task-modal-delete-{{ forloop.counter }}">
                                                            حذف
                                                        </button>
                                                    </form>
                                                    <form action="{% url 'public:task_remind' task_id=task.id %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <button class="btn-item m-1 text-success">
                                                            یادآوری
                                                        </button>
                                                    </form>
                                                    <div class="btn-item m-1 edit edit-task ">ویرایش</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- each row table -->
                                    </div>
                                {% empty %}
                                    <div class="container-not-found-base">
                                        <p>چیزی یافت نشد</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- table -->
                    </section>
                </div>
            </div>
        </section>
    </main>
{% endblock %}



{% block Script %}
    <script type="module" src="{% static 'frontend/js/List-tasks-checked.js' %}"></script>
{% endblock %}
