<div class="modal fade" id="addSuretyBondModal" tabindex="-1" role="dialog" aria-labelledby="addSuretyBond" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-start align-items-center">
                <h5 class="modal-title">ثبت ضمانت نامه</h5>
                <span class="mx-2 font-80">({{ project.name|default:'بدون عنوان' }})</span>
            </div>
            <form method="post" action="{% url 'dp_financial:save_surety_bond' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="project" value="{{ project.id }}">
                    <div class="information-section">
                        <div class="information-item">
                            <label for="bondNumberId">شماره ضمانت نامه:</label>
                            <input id="bondNumberId" type="number" name="number_id" value="{{ project.surety_bond.number_id }}" placeholder="اختیاری" required class="form-control">
                        </div>
                        {% if project.surety_bond %}
                            <div class="information-item">
                                <div class="d-flex gap-2 mt-3">
                                    <span>فایل فعلی:</span>
                                    <a href="{{ project.surety_bond.get_file_url }}" target="_blank">
                                        <span class="text-danger fw-bold">مشاهده</span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="information-item">
                            <div class="mb-3 mt-2">
                               <div class="w-100">
                                   <label class="form-label w-100">آپلود فایل ضمانت نامه:
                                       <input class="form-control" type="file" name="file">
                                   </label>
                               </div>
                            </div>
                        </div>
                        <div class="information-item">
                            <label class="form-label d-flex align-items-center gap-3">آزاد بودن ضمانت نامه:
                                <input class="form-check-input" type="checkbox" name="is_free" style="margin-top: -0.05px;"
                                {% if project.surety_bond.is_free %}checked{% endif %}>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">ثبت</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                </div>
            </form>
        </div>
    </div>
</div>