<div class="content-modal-two modal-new-payment">
    <div class="inner-modal">
        <form class="p-4" action="{% url 'dp_financial:payment' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="project" value="{{ project.id }}">
            <div class="information-section">
                <div class="information-item">
                    <label for="paymentTypeInput">نوع:</label>
                    <select name="type_payment" id="paymentTypeInput" required class="form-select border-dark mt-2">
                        <option value="deposit">واریزی</option>
                        <option value="payment">پرداختی</option>
                    </select>
                </div>
                <div class="information-item">
                    <label for="lihh">مبلغ:</label>
                    <input type="text" name="price" class="new-payment-price-input" id="newPaymentPriceInput" placeholder="ریال" required>
                </div>
                <div class="information-item">
                    <label for="paymentSubmitted">تاریخ:</label>
                    <input type="text" name="" id="paymentSubmitted"
                           class="form-control bg-light persianDatapicker" set-on="submited_at2" readonly>
                    <input type="hidden" id="submited_at2" name="submited_at">
                </div>
                <div class="information-item">
                    <label for="lihh">کد رهگیری:</label>
                    <input type="text" name="tracking_code" required>
                </div>
            </div>

            <div class="information-section mt-3">
                <button class="btn btn-primary d-block p-2 mx-auto col-3">ثبت</button>
            </div>
        </form>
    </div>
</div>
