<div class="modal fade" id="addProjectReminderModal" tabindex="-1" role="dialog" aria-labelledby="addProjectReminder" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-start align-items-center">
                <h5 class="modal-title">ثبت تاریخ حسن انجام کار</h5>
            </div>
            <form method="post" action="{% url 'dp_financial:save_reminder_time' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="project" value="{{ project.id }}">
                    <div class="information-section">
                        <div class="information-item">
                            <div class="mt-3">
                                <label for="reminderTime">تاریخ:</label>
                                <input type="text" id="reminderTime" value="{{ project.surety_bond.reminder_time|date:'Y-m-d' }}"
                                       class="form-control bg-light datetime-convert persianDatapicker" set-on="reminder_time" readonly>
                                <input type="hidden" id="reminder_time" name="reminder_time" value="{{ project.surety_bond.get_reminder_time }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">ثبت</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                </div>
            </form>
        </div>
    </div>
</div>
