{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    تخصیص مواد اولیه پروژه ها
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/allocation-materials.css' %}">
{% endblock %}

{% block Content %}

    {% for project in projects %}
        <div class="content-modal-two modal-materials">
            <div class="inner-modal">
                <form class="p-4" {% url 'departments.warehouse:items_allocation_project' %} method="post">
                    {% csrf_token %}
                    <input type="hidden" name="project" value="{{ project.id }}">
                    <div class="information-section">
                        <div class="information-item">
                            <label for="lihh">لیست آیتم ها</label>
                            <div class="material-list">
                                {% for item in items %}
                                    <div class="material-row d-flex  justify-content-center align-items-center text-center">
                                        <div class="col-4 p-1">
                                            <div class="material-item">
                                                {{ item.name }}
                                            </div>
                                        </div>
                                        <div class="col-4 p-1">
                                            <div class="material-item">
                                                {{ item.amount }}
                                            </div>
                                        </div>
                                        <div class="col-4 p-1">
                                            <div class="material-item">
                                                <input type="checkbox" name="item-{{ item.id }}"
                                                    {% if item in project.materialproject.items.all %}
                                                           checked
                                                    {% endif %}
                                                >
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="information-section">
                                <button class="sabt-modal col-12 btn-primary">ثبت</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    {% endfor %}

    <!--modal-materials  -->

    <main class="main content-page container">
        <!-- title page -->
        <div class="text-center d-flex justify-content-center my-2">
            <h5 class="title-page w-100 me-5">تخصیص مواد اولیه</h5>
            <div class="mt-1">
                <a href="{{ user.get_absolute_url_dashboard }}" class="btn btn-danger">بازگشت</a>
            </div>
        </div>

        <!-- title page -->
        <section class="col-12 project-content" style="padding-bottom:60px ;">
            <div class="inner-project">
                <!--start section table -->
                <section class="content-notifcation">
                    <section class="section-table">
                        <!-- start table -->
                        <div class="table">
                            <!-- start title table -->
                            <div class="table-title">
                                <div class="col-2">
                                    <div class="table-title-item">
                                        ردیف
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="table-title-item">
                                        نام پروژه
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="table-title-item">
                                        آیتم ها
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="table-title-item">
                                        تاریخ پایان
                                    </div>
                                </div>
                                {#                                <div class="col-2">#}
                                {#                                    <div class="table-title-item">#}
                                {#                                        وضعیت تحویل#}
                                {#                                    </div>#}
                                {#                                </div>#}


                            </div>
                            <!-- end title table -->
                            <!-- start content table -->
                            <div class="table-content">
                                <!-- each row table -->
                                {% for project in projects %}
                                    <div class="row-table">
                                        <!-- each column table -->
                                        <div class="col-2 p-2">
                                            <div class="table-content-item">
                                                {{ forloop.counter }}
                                            </div>
                                        </div>
                                        <!-- each column table -->
                                        <div class="col-4 p-2">
                                            <div class="table-content-item">
                                                {{ project.name }}
                                            </div>
                                        </div>
                                        <div class="col-3 p-2">
                                            <div class="status blue btn-show-material" style="cursor:pointer;">
                                                کلیک کنید
                                            </div>
                                        </div>
                                        <div class="col-3 p-2">
                                            <div class="table-content-item datetime-convert">
                                                {{ project.time_end }}
                                            </div>
                                        </div>
                                        {#                                    <div class="col-2 p-2">#}
                                        {#                                        <div class="table-content-item">#}
                                        {#                                            <input type="checkbox">#}
                                        {#                                        </div>#}
                                        {#                                    </div>#}
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- start content table -->
                        </div>
                        <!-- end table -->
                    </section>
                </section>
                <!--end section table -->
            </div>
        </section>
        {#        <div class="sabt-page">ثبت</div>#}
    </main>
{% endblock %}

{% block Script %}
    <script src="{% static 'frontend/js/allocation-materials.js' %}" type="module"></script>
{% endblock %}