{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    پنل مدیریت انبارداری
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/warehouse-panel.css' %}"/>
{% endblock %}

{% block Content %}

    <div class="content-modal-two modal-confirm-task">
        <div class="inner-modal">
            <form class="p-4" action="{% url 'public:project_file' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="information-section">
                    <div class="information-item">
                        <label for="lihh">نام فایل</label>
                        <input type="text" name="name">
                    </div>
                    <div class="information-item">
                        <label for="lihh">توضیحات</label>
                        <textarea name="description" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="information-item">
                        <div class="uploade-imge">
                            <label class="item-upload" for="add5">
                                آپلود فایل
                            </label>
                            <input type="file" name="file" id="add5" hidden="">
                        </div>
                    </div>
                    <div class="information-item">
                        <label class="item-upload" for="add">
                            پروژه
                        </label>
                        <!-- status task -->
                        <select name="project" class="select2-input" required>
                            {% for project in projects %}
                                <option value="{{ project.id }}" label="{{ project.name }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <!-- status task -->
                    </div>
                </div>
                <div class="information-section">
                    <button class="sabt-modal col-12 btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>

    <!--morde-descriptin popup -->
    <!--modal-materials  -->
    <div class="content-modal-two modal-materials">
        <div class="inner-modal">
            <form class="p-4">
                <div class="information-section">
                    <div class="information-item">
                        <label for="lihh">لیست آیتم ها</label>
                        <div class="material-list">
                            {% for item in items %}
                                <div class="material-row d-flex  justify-content-center align-items-center text-center">
                                    <div class="col-6 p-1">
                                        <div class="material-item">
                                            {{ item.name }}
                                        </div>
                                    </div>
                                    <div class="col-6 p-1">
                                        <div class="material-item">
                                            {{ item.amount }}
                                        </div>
                                    </div>

                                </div>
                            {% empty %}
                                <div class="container-not-found-base">
                                    <p>چیزی یافت نشد</p>
                                </div>
                            {% endfor %}
                        </div>
                        {% if items.count > 0 %}
                            <div class="information-section">
                                <div class="sabt-modal btn-taeid-quality">تایید کیفیت</div>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </form>
        </div>
    </div>
    <!--modal-materials  -->
    <!-- popup taid keyfiat -->
    <div class="content-modal-two modal-quality-assurance">
        <div class="inner-modal">
            <form class="p-4" action="{% url 'dp_warehouse:items_quality_pass' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="title">تایید کیفیت مواد</div>
                <div class="information-section">
                    <div class="information-item">
                        <label for="lihh">توضیحات</label>
                        <textarea name="description" required id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="information-item">
                        <div class="uploade-imge">
                            <label class="item-upload" for="add">
                                آپلود فایل
                            </label>
                            <input type="file" name="file" required id="add" hidden="">
                        </div>
                    </div>
                </div>
                <div class="information-section">
                    <button class="sabt-modal col-12 btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>
    <!-- popup taid keyfiat -->

    <!-- START SECTION NOTIFATION -->
    {% include 'base/components/aside-menu.html' with notifications=notifications tickets=tickets %}
    <!-- END SECTION NOTIFATION -->

    <div class="container-fluid col-md-10 content-page">
        <main class="main">
            <div class="title px-4">
                <span style="padding-left:3px;">پنل انبار دار</span>
                <!-- btn-notif in mobile -->
                <div class="notif-btn-mobile d-none">اعلانات</div>
                <!-- btn-notif in mobile -->
            </div>
            <!--Start Access panel -->
            <section class="collection-units" style="background-color:#fff ; margin-top:30px;">
                <div class="box-section">
                    <!-- item Access panel-->
                    <div class="col-12 col-md-3 ">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/لیست خرید تایید شده مدیریت 2@2x.png' %}" alt=""
                                 class="icon-box"
                                 style="margin-bottom:15px ;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>تایید لیست مواد اولیه</span>
                            </div>
                            <div class="tarif-task btn-quality-assurance" id="one">مشاهده</div>

                        </div>
                    </div>
                    <!-- item Access panel-->
                    <div class="col-12 col-md-3 ">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/2 (لیست استعلامات(حتی رد شده ها با دلیل@2x.png' %}"
                                 alt=""
                                 class="icon-box" style="margin-bottom:15px ;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>لیست تسک ها</span>
                            </div>
                            <a href="{% url 'public:task' %}">
                                <div class="tarif-task btn-upload-book" id="one">مشاهده</div>
                            </a>
                        </div>
                    </div>
                    <!-- item Access panel-->
                    <div class="col-12 col-md-3 ">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/2 (لیست استعلامات(حتی رد شده ها با دلیل@2x.png' %}"
                                 alt=""
                                 class="icon-box" style="margin-bottom:15px ;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>ثبت ورود و خروج انبار</span>
                            </div>
                            <a href="{% url 'dp_warehouse:registration' %}">
                                <div class="tarif-task btn-upload-book" id="one">مشاهده</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/لیست خرید تایید شده مدیریت 2@2x.png' %}" alt=""
                                 class="icon-box"
                                 style="margin-bottom:15px ;">
                            <div class="style-conent-box" style="margin-bottom:15px ;">
                                <span>فایل پروژه</span>
                            </div>
                            <div class="tarif-task btn-create-report btn--ta1 task-confirm" id="one">اپلود</div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end Access panel -->

            <!-- section project -->
            <div class="title px-4 mt-4">
                <span style="padding-left:3px;">پروژه های درحال اجرا</span>
                    <span class="d-flex justify-content-center align-item-center">
                    <a href="{% url 'public:project' %}">مشاهده همه</a>
                    <img src="{% static 'frontend/images/back-icon.png' %}" alt="">
                </span>
            </div>
            <!-- project section -->
            <section class="ongoing-projects" style="margin-top: -1rem;">
                <!-- inner project section -->
                <div class="box-section">
                    {% for project in projects|slice:':4' %}
                        {% include 'public/project/components/list-project.html' with project=project %}
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
                <!-- inner project section -->
            </section>
            <!-- section project -->

            <!-- Start pages section -->
            <div class="title px-4">
                <span style="padding-left:3px;">صفحات</span>
            </div>
            <section>
                <div class="box-section">
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-gears fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست پروژه ها</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:project' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-question-circle fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست استعلامات</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:inquiry' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .End pages section -->
        </main>

    </div>

{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/warehousepanel.js' %}"></script>
{% endblock %}