{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    لیست ایتم ها
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/shoping-list.css' %}">
{% endblock %}


{% block Content %}
    <div class="col-12 col-md-5 col-lg-6 mx-auto mb-4 p-4">
        <div>
            <div class="filters-radio">
                <div class="title">
                    مرتب بر اساس :
                </div>
                <div class="container">
                    <div>
                        <a class="{% if request.GET.sort_by == 'latest' or not request.GET.sort_by %}active{% endif %}"
                           href="{% url 'departments.warehouse:items' %}?sort_by=latest">
                            جدید ترین
                        </a>
                    </div>
                    <div>
                        <a class="{% if request.GET.sort_by == 'oldest' %}active{% endif %}"
                           href="{% url 'departments.warehouse:items' %}?sort_by=oldest">
                            قدیمی ترین
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <form action="{% url 'departments.warehouse:items' %}" method="get" class="overflow-hidden">
                    <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                    <p class="title">جست و جو :</p>
                    <div class="cnt-search col-11 col-md-7">
                        <input type="text" name="search" value="{{ request.GET.search }}"
                               placeholder="نام ، کد و ..">
                        <div>
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form action="{% url 'departments.warehouse:items' %}" method="post">
        {% csrf_token %}
        <main class="main content-page container" style="padding-bottom:60px ;">
            <h5 class="title-page">لیست انبار</h5>
            <section class="col-12 project-content">
                <div class="inner-project">
                    <div class="content-items p-2">
                        <section class="section-table">
                            <!-- table -->
                            <div class="table">
                                <!-- title table -->
                                <div class="table-title">
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            ردیف
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="table-title-item">
                                            نام
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="table-title-item">
                                            کد
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="table-title-item">
                                            مقدار
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="table-title-item">
                                            وضعیت تایید
                                        </div>
                                    </div>
                                </div>
                                <!-- title table -->
                                <!-- content table -->
                                <div class="table-content">
                                    <!-- each row table -->
                                    {% for item in items %}
                                        <div class="row-table">
                                            <!-- each row table -->
                                            <div class="col-1 p-1">
                                                <div class="table-content-item">
                                                    {{ forloop.counter }}
                                                </div>
                                            </div>
                                            <!-- each row table -->
                                            <div class="col-2 p-1">
                                                <div class="table-content-item">
                                                    {{ item.name }}
                                                </div>
                                            </div>

                                            <div class="col-4 p-1">
                                                <div class="table-content-item">
                                                    <p>
                                                        {{ item.code }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-2 p-1">
                                                <div class="table-content-item">
                                                    <p>
                                                        {{ item.amount }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-2 p-1">
                                                <div class="table-content-item">
                                                    <input type="checkbox" name="item-{{ item.id }}"
                                                           {% if item.is_checked %}checked{% endif %}>
                                                </div>
                                            </div>
                                        </div>
                                        {% empty %}
                                        <div class="container-not-found-base">
                                        <p>چیزی یافت نشد</p>
                                        </div>
                                    {% endfor %}

                                </div>
                                <!-- content table -->
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <button class="sabt-page col-12 btn-primary">ثبت</button>
        </main>
    </form>

{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/shoping-list.js' %}"></script>
{% endblock %}