{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    لیست انبار
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/warehouse-registration-list.css' %}">
{% endblock %}


{% block Content %}
    <!-- New registration modal -->
    {% include 'warehouse/components/new_registration.html' %}
    <!-- .End New registration modal -->

    <div class="col-12 col-md-5 col-lg-6 mx-auto mb-4 p-4">
        <div>
            <div class="filters-radio">
                <div class="title">
                    مرتب بر اساس :
                </div>
                <div class="container">
                    <div>
                        <a class="{% if request.GET.sort_by == 'latest' or not request.GET.sort_by %}active{% endif %}"
                           href="{% url 'departments.warehouse:registration' %}?sort_by=latest">
                            جدید ترین
                        </a>
                    </div>
                    <div>
                        <a class="{% if request.GET.sort_by == 'oldest' %}active{% endif %}"
                           href="{% url 'departments.warehouse:registration' %}?sort_by=oldest">
                            قدیمی ترین
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <form action="{% url 'departments.warehouse:registration' %}" method="get" class="overflow-hidden">
                    <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                    <p class="title">جست و جو :</p>
                    <div class="cnt-search col-11 col-md-7">
                        <input type="text" name="search" value="{{ request.GET.search }}"
                               placeholder="نام ، کد و ..">
                        <div>
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- sabt dar anbar -->

    <!-- popup deliver -->
    <div class="content-modal-two modal-deliver">
        <div class="inner-modal">
            <form class="p-4">
                <div class="information-section">
                    <div class="information-item">
                        <label>نام:</label>
                        <input type="text">
                    </div>
                    <div class="information-item">
                        <label>مقدار</label>
                        <input type="text">
                    </div>
                </div>
                <div class="information-section">
                    <div class="sabt-modal">ثبت</div>
                </div>
            </form>
        </div>
    </div>
    <!-- popup deliver -->

    <!-- #TODO: Bug -> if use modal inside inner for loop in table, it cause ui issue -->
    {% for item in items %}
        <!-- Edit item registration -->
        {% include 'warehouse/components/edit_registration.html' %}
        <!-- .End Edit item registration -->
    {% endfor %}

    <div class="container-fluid col-12 p-2">
        <!-- START MAIN -->
        <main class="main-admin">
            <div class="title px-2 py-3">
                <h5 style="padding-left: 3px;">لیست انبار</h5>
            </div>

            <!-- btn -->
            <div class="px-1 py-2 d-flex justify-content-between">
                <span class="btn-sabt-anbar btn btn-secondary">ثبت در انبار</span>
                <a href="{{ user.get_absolute_url_dashboard }}" class="btn btn-danger">بازگشت</a>
            </div>
            <!-- btn -->

            <!-- start table warehouse -->
            <div class="content-warehouse container-fluid">
                <div class="col-12 content-warehouse-inner">
                    <table class="w-100">
                        <!-- title table -->
                        <thead>
                        <!--each title-row -->
                            <tr>
                                <th>ردیف</th>
                                <th>پروژه</th>
                                <th>قیمت</th>
                                <th>تاریخ</th>
                                <th>توضیحات</th>
                                <th>فایل</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <!-- title table -->
                        <!-- row content table -->
                        <tbody>
                            {% for item in items %}
                                <!-- Item description modal -->
                                {% include 'warehouse/components/registration_des.html' %}
                                <!-- .End description modal -->

                                <tr class="row-table">
                                    <!-- each column content table -->
                                    <td class="item-row">{{ forloop.counter }}</td>
                                    <td class="item-row">{{ item.project.name }}</td>
                                    <td class="item-row spread-price">{{ item.price }}</td>
                                    <td class="item-row datetime-convert">{{ item.get_register_time }}</td>
                                    <td class="item-row" role="button" data-bs-toggle="modal" data-bs-target="#registrationDescription-{{ item.id }}">
                                        {{ item.description|truncatechars:'16' }}
                                    </td>
                                    <td class="item-row">
                                        {% if item.file %}
                                            <a href="{{ item.get_file_url }}" class="text-info fw-bold" download>دریافت</a>
                                        {% else %}
                                            <a class="fw-bold">ندارد</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <i class="fa fa-edit item-row btn-warehouse-item-edit btn btn-sm btn-warning"></i>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="200">
                                        <div class="container-not-found-base">
                                            <p>چیزی یافت نشد</p>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end table warehouse -->
        </main>
        <!-- START MAIN -->
    </div>
{% endblock %}


{% block Script %}
    <script type="module" src="{% static 'frontend/js/warehouse-registration-list.js' %}"></script>
{% endblock %}
