<div class="modal fade" id="createInquiryModal" tabindex="-1" role="dialog" aria-labelledby="createInquiry" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ایجاد استعلام</h5>
            </div>
            <div class="modal-body">
                <form class="p-4" action="{% url 'public:inquiry' %}" method="post">
                    {% csrf_token %}
                    <div class="information-section">
                        <div class="information-item">
                            <label for="inquiryTitle">عنوان استعلام:</label>
                            <input type="text" name="title" id="inquiryTitle" class="rounded-2">
                        </div>
                        <div class="information-item">
                            <label for="inquiryNumber">شماره استعلام:</label>
                            <input type="text" name="number_id" id="inquiryNumber" class="rounded-2">
                        </div>
                        <div class="information-item">
                            <label for="inquiryTaskMaster">کارفرما:</label>
                            <select id="inquiryTaskMaster" name="sender" class="rounded-2 form-select border-dark mt-2">
                                {% for taskmaster in taskmasters %}
                                    <option value="{{ taskmaster.id }}">{{ taskmaster.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="information-item">
                            <label for="inquiryTimeReceive">تاریخ دریافت:</label>
                            <input type="text" id="inquiryTimeReceive" set-on="inquiry-time-receive"
                                   class="persianDatapicker pwt-datepicker-input-element rounded-2 bg-light" readonly>
                            <input type="hidden" name="time_receive" id="inquiry-time-receive">
                        </div>
                        <div class="information-item">
                            <label for="inquiryDeadline">مهلت پاسخ (تاریخ ددلاین):</label>
                            <input type="text" id="inquiryDeadline" set-on="inquiry-time-deadline-response"
                                   class="persianDatapicker pwt-datepicker-input-element rounded-2 bg-light" readonly>
                            <input type="hidden" name="time_deadline_response" id="inquiry-time-deadline-response">
                        </div>
                        <div class="information-item">
                            <label for="inquiryTimeSubmitted">تاریخ ارسال:</label>
                            <input type="text" id="inquiryTimeSubmitted" set-on="inquiry-time-submited"
                                   class="persianDatapicker pwt-datepicker-input-element rounded-2 bg-light" readonly>
                            <input type="hidden" name="time_submit" id="inquiry-time-submited">
                        </div>
                        <div class="information-item">
                            <label for="descriptionInput">توضیحات:</label>
                            <textarea name="description" id="descriptionInput" cols="30" rows="10" class="rounded-2"></textarea>
                        </div>
                    </div>
                    <div class="information-section">
                        <button class="sabt-modal btn-primary col-12 rounded-2">ثبت</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
