<div class="modal fade" id="deleteInquiryModal-{{ inquiry.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteInquiry"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">حذف استعلام</h5>
            </div>
            <form action="{% url 'public:inquiry_detail' inquiry_id=inquiry.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div>
                        <input type="hidden" name="type_request" value="delete">
                        <span>آیا از حذف <span class="fw-bold">'{{ inquiry.title|default:'بدون عنوان' }}'</span> مطمئن هستید؟</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">بله</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                </div>
            </form>
        </div>
    </div>
</div>
