<div class="content-modal-two modal-files">
    <div class="inner-modal">
        <form class="p-4">
            <div class="close-modal close-modal-description">
                <i class="fa fa-close fa-xl text-danger"
                   onclick="this.parentElement.parentElement.parentElement.parentElement.classList.remove('active')"></i>
            </div>
            <div class="text-center my-2">
                <h4>فایل ها</h4>
            </div>
            <div class="hhh">
                <table class="table">
                    <tr>
                        <th>تاریخ</th>
                        <th>واحد</th>
                        <th>نام فایل</th>
                        <th>توضیحات</th>
                        <th>فایل</th>
                    </tr>
                    {% for file in inquiry.get_files %}
                        <tr>
                            <td class="font-80 datetime-convert">
                                {{ file.get_created_at }}
                            </td>
                            <td class="font-80">
                                {{ file.from_department.name }}
                            </td>
                            <td class="font-80">
                                {{ file.name }}
                            </td>
                            <td class="font-70">
                                {{ file.description }}
                            </td>
                            <td>
                                <a href="{{ file.get_file_url }}" class="text-primary">دانلود</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="container-not-found-base">
                            <td colspan="1000">چیزی ثبت نشده است</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
    </div>
</div>
