<div class="modal" id="inquiryDescription-{{ inquiry.id }}" tabindex="-1" role="dialog" aria-labelledby="inquiryDescription" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ inquiry.title|default:'بدون عنوان' }}</h5>
            </div>
            <div class="modal-body">
                <div class="hhh">
                    <div class="mt-2">
                        {{ inquiry.description|default:'-' }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
