<div class="col-12 col-md-3 ">
    <div class="box-item-2 ddd">
        {#                            <img src="{{ department.get_image }}" alt="{{ department.name }}" class="icon-box">#}
        <div class=" style-conent-box">
            <span>{{ department.name }}</span>
        </div>
        <div class="style-conent-box">
            <span>{{ department.get_state_busy }}</span>
        </div>
        <div class="style-conent-box blue d-none">
            <span>تاریخ پایان</span>
            <span>1399/2/8</span>
        </div>
        <div class="btn-new-task tarif-task">تعریف تسک</div>
        <a href="{{ department.get_absolute_url_manage_tasks }}"><span class="manage-task">مدیریت تسک ها</span></a>
    </div>
</div>