{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    مشخصات کاربر
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/Project-control-panel.css' %}"/>
{% endblock %}

{% block Content %}
<body class="content-main-admin" style="padding:10px ;">
   <section class="main-page">
       <main class="col-md-12 col-lg-12" >
         <div class="col-12 col-lg-11 back-btn">
         <span>مشخصات کاربر</span>
         </div>
         <section class="user-profile col-12 col-lg-11">
             <div class="col-10 col-md-11">
                 <div class="specifications">
                   <div class="col-4">
                       <div class="specifications-item">
                         {{user.name}}
                       </div>
                   </div>
                   <div class="col-4">
                    <div class="specifications-item">
                    {{user.email}}
                    </div>
                </div>
                <div class="col-4">
                    <div class="specifications-item">
                     {{user.role}}
                    </div>
                </div>
                <div class="col-4">
                 <div class="specifications-item">
                  {{user.department}}
                 </div>
             </div>
             <div class="col-4">
                 <div class="specifications-item">
                    {{ user.department.get_state_busy }}
                 </div>
             </div>
                 </div>
             </div>
         </section>
         <div class="table-title col-12 col-lg-11">لیست تسک ها</div>
         <section class="table-two col-12 col-lg-11 ">
            <table class="table">
                {% for task in tasks%}
                <tr>
                  <td>task.name</td>
                  <td>task.project.name</td> 
                  <td>task.state</td>
                  <td>task.is_active </td>
                </tr>
                {% endfor %}  
            </table>
        </section>
        <form class="form form-login" action="{{ user.get_absolute_url }}" method="post">
            {% csrf_token %}
            <div class="titlee">تغییر مشخصات </div>
            <div>
                <div class="group-form">
                    <input type="email" id="phoneNumber-login" name="email" required>
                    <label for="phoneNumber-login"> :ایمیل</label>
                </div>
                <div class="group-form">
                    <input type="text" id="phoneNumber-login" name="name" required>
                    <label for="phoneNumber-login"> :نام</label>
                </div>
                <div class="group-form">
                    <input type="text" id="phoneNumber-login" name="role" required>
                    <label for="phoneNumber-login"> :نقش</label>
                </div>
                <div class="group-form">
                    <label for="department">نام واحد:</label>
                    <select name="department" id="department" required>
                        {% for department in departments %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
            <small></small>
        </div>
            <button type="submit" id="btn-login"
                    class="btn-submit">ثبت 
            </button>
        </form>
</body>
{% endblock %}