<div class="nk-footer nk-auth-footer-full">
                        <div class="container wide-lg">
                            <div class="row g-3">
                                <div class="col-lg-6 order-lg-last">
                                    <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">شرایط و ضوابط</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">سیاست حفظ حریم خصوصی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">راهنمایی</a>
                                        </li>
                                        <li class="nav-item dropup">
                                            <a class="dropdown-toggle dropdown-indicator has-indicator nav-link"
                                               data-bs-toggle="dropdown" data-offset="0,10"><span>فارسی</span></a>
                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                <ul class="language-list">
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/iran.png" alt=""
                                                                 class="language-flag"/>
                                                            <span class="language-name">فارسی</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/english.png" alt=""
                                                                 class="language-flag"/>
                                                            <span class="language-name">انگلیسی</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/germany.png" alt=""
                                                                 class="language-flag"/>
                                                            <span class="language-name">آلمانی</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/french.png" alt=""
                                                                 class="language-flag"/>
                                                            <span class="language-name">فرانسوی</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <div class="nk-block-content text-center text-lg-left">
                                        <p class="text-soft">© تمام حقوق محفوظ است. <a
                                                target="_blank" rel="nofollow"
                                                href="https://smartenco.ir">
                                            طراحی و توسعه
                                            <b> تیم اسمارتن</b>
                                        </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>