<div class="modal fade" id="uploadRegisterFileModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="uploadRegisterFileModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">آپلود/مشاهده فایل‌</h5>
            </div>
            <form id="uploadRegisterFileForm-{{ item.id }}" action="{% url 'dp_warehouse:registration_file' item.id %}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="warehouse_register" value="{{ item.id }}">

                    <div class="information-section">
                        <div class="information-item mt-1">
                            <label class="item-upload mb-1" for="uploadProjectSelect">
                                پروژه:
                            </label>
                            <input type="text" value="{{ item.project.name }}" disabled class="rounded-2">
                        </div>
                        <div class="information-item">
                            <div class="mt-3">
                                <div class="w-100">
                                    <label class="form-label w-100">آپلود فایل:
                                        <input class="form-control border-dark mt-1" type="file" name="file"
                                               {% if user.role != 'control_project_user' %}disabled{% endif %}>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-2">
                                <span>فایل فعلی: </span>
                                {% if item.registration_file %}
                                    <a href="{{ item.registration_file.get_file_url }}" download class="fw-bold text-info">دریافت</a>
                                {% else %}
                                    <span class="fw-bold">ندارد</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% if user.role == 'control_project_user' %}
                        <button class="sabt-modal btn btn-primary">ثبت</button>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                </div>
            </form>
        </div>
    </div>
</div>
