{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    پنل مدیر مالی
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/financial-management-panel.css' %}">
{% endblock %}


{% block Content %}
    <!-- Upload project modal -->
    {% include 'public/project/components/upload_project_file.html' %}

    <!-- Side menu -->
    {% include 'base/components/aside-menu.html' with notifications=notifications tickets=tickets %}

    <div class="container-fluid col-md-10 content-page">
        <main class="main">
            <div class="title px-2">
                <span class="fw-bold">پنل مدیر مالی</span>
                <!-- btn-notif in mobile -->
                <div class="notif-btn-mobile d-none">اعلانات</div>
                <!-- btn-notif in mobile -->
            </div>

            <section class="collection-units mb-4" style="background-color:#fff; margin-top:30px;">
                <div class="box-section d-flex justify-content-start">
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/لیست خرید تایید شده مدیریت 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3">
                                <span>فایل پروژه</span>
                            </div>
                            <div class="tarif-task btn-create-report btn--ta1" data-bs-toggle="modal" data-bs-target="#uploadProjectFileModal">آپلود</div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="title px-2 mt-3">
                <span>پروژه ها</span>
                <span class="d-flex justify-content-center align-item-center">
                    <a href="{% url 'departments.financial:projects_list' %}">
                        مشاهده همه
                        <img src="{% static 'frontend/images/back-icon.png' %}" alt="">
                    </a>
                </span>
                <!-- btn-notif in mobile -->
                <div class="notif-btn-mobile d-none">اعلانات</div>
                <!-- btn-notif in mobile -->
            </div>
            <!-- project section -->
            <section class="ongoing-projects" style="margin-top: -1rem;">
                <div class="box-section">
                    {% for project in ongoing_projects %}
                        <div class="col-12 col-md-3 p-2">
                            <div class="box-item">
                                <div class="top">
                                    <div class="text-dark mb-3">
                                        {{ project.name|default:'بدون عنوان' }}
                                    </div>
                                    <div class=" style-conent-box">
                                        <span>قیمت:</span>
                                        <span class="spread-price">{{ project.price|default:'-' }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span>پیش پرداخت:</span>
                                        <span class="spread-price">{{ project.get_prepayment.price|default:'-' }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span>اخرین پرداخت</span>
                                        <span>{{ project.get_last_payment.get_created_at_timepast|default:'-' }}</span>
                                    </div>
                                </div>

                                <a href="{% url 'dp_financial:payment_project' project_id=project.id %}">
                                    <div class="bottom back-two">
                                        اطلاعات بیشتر
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>

                <!-- Other projects -->
{#                <div>#}
{#                    <div class="title px-3">#}
{#                        <span style="padding-left: 3px;">دیگر پروژه‌ها</span>#}
{#                    </div>#}
{#                    <div class="box-section" style="margin-top: -1.25rem;">#}
{#                        <!-- Posted projects -->#}
{#                        <div class="col-12 col-md-6 p-2">#}
{#                            <div class="box-item-2">#}
{#                                <i class="icon-box fa fa-truck-field fa-2xl p-3"></i>#}
{#                                <div class=" style-conent-box">#}
{#                                    <span>پروژه‌های ارسال شده</span>#}
{#                                </div>#}
{#                                <div class="btn--ta">#}
{#                                    <a href="{% url 'public:project' %}?status=posted">مشاهده همه</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <!-- Completed projects -->#}
{#                        <div class="col-12 col-md-6 p-2">#}
{#                            <div class="box-item-2">#}
{#                                <i class="icon-box fa fa-list-check fa-2xl p-3"></i>#}
{#                                <div class="style-conent-box">#}
{#                                    <span>پروژه‌های تمام شده</span>#}
{#                                </div>#}
{#                                <div class="btn--ta">#}
{#                                    <a href="{% url 'public:project' %}?status=completed">مشاهده همه</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <!-- .End project section -->
            </section>

            <!-- Start page section -->
            <div class="title px-3">
                <span>صفحات</span>
                <span class="d-flex justify-content-center align-item-center">
                </span>
            </div>
            <section style="margin-top: -1.25rem;">
                <div class="box-section">
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-gears fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست پروژه ها</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:project' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-question-circle fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست استعلامات</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:inquiry' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .End page section -->
        </main>

    </div>
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/control-project.js' %}"></script>
{% endblock %}