{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    پنل مدیر مالی
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/financial-management-panel.css' %}">
{% endblock %}

{% block Content %}

    {% include 'base/components/aside-menu.html' with notifications=notifications tickets=tickets %}
    <!-- END SECTION NOTIFATION -->
    <div class="container-fluid col-md-10 content-page">
        <main class="main">
            <div class="title px-4">
                <span style="padding-left:3px;">پروژه ها</span>
                <!-- btn-notif in mobile -->
                <div class="notif-btn-mobile d-none">اعلانات</div>
                <!-- btn-notif in mobile -->
            </div>
            <!-- project section -->
            <section class="ongoing-projects">
                <div class="box-section">
                    {% for project in projects %}
                        <div class="col-12 col-md-3 p-2">
                            <div class="box-item">
                                <div class="top">
                                    <div style="color:black; margin-bottom:10px">
                                        {{ project.name }}
                                    </div>
                                    <div class=" style-conent-box">
                                        <span>قیمت:</span>
                                        <span class="spread-price">{{ project.price }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span>پیش پرداخت:</span>
                                        <span class="spread-price">{{ project.get_prepayment.price|default:'-' }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span>اخرین پرداخت</span>
                                        <span>{{ project.get_last_payment.get_created_at_timepast|default:'-' }}</span>
                                    </div>
                                </div>

                                <a href="{% url 'dp_financial:payment_project' project_id=project.id %}">
                                    <div class="bottom back-two">
                                        اطلاعات بیشتر
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Start page section -->
            <div class="title px-4">
                <span style="padding-left:3px;">صفحات</span>
                <span class="d-flex justify-content-center align-item-center">
                </span>
            </div>
            <section>
                <div class="box-section">
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-gears fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست پروژه ها</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:project' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-question-circle fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست استعلامات</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:inquiry' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .End page section -->
        </main>

    </div>
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/control-project.js' %}"></script>
{% endblock %}