{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    جزئیات مالی  {{ project.name }}
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/clearing.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.10.0/autoNumeric.min.js"></script>
{% endblock %}


{% block Content %}
    <!-- Prepayment modal -->
    {% include 'financial/components/prepayment.html' %}
    <!-- .End prepayment modal -->

    <!-- New payment modal -->
    {% include 'financial/components/new_payment.html' %}
    <!-- .End New payment modal -->

    <!-- Add surety-bond modal -->
    {% include 'financial/components/add_surety_bond.html' %}
    <!-- .End Add surety-bond modal -->

    <!-- Add reminder time modal -->
    {% include 'financial/components/project_reminder.html' %}
    <!-- .End Add reminder time modal -->

    <main class="main content-page container pb-4">
        <div class="d-flex justify-content-between mt-3">
            <h5 class="mt-1">جزئیات مالی</h5>
            <div class="">
                <a href="{{ user.get_absolute_url_dashboard }}" class="btn btn-danger">بازگشت</a>
            </div>
        </div>
        <!-- Project specifications -->
        <section class="up-clearing mt-3 px-4">
            <!-- right name & price... -->
            <div class="d-flex justify-content-start align-items-start gap-5">
                <div class="d-flex flex-column justify-content-start align-items-start gap-4">
                    <div class="">
                        <span>نام پروژه: </span>
                        <span class="fw-bold">{{ project.name }}</span>
                    </div>
                    <div>
                        <span>قیمت: </span>
                        <span class="spread-price">{{ project.price|default:'-' }}</span>
                        <span>ریال</span>
                    </div>
                    <div>
                        <span>پرداخت شده: </span>
                        <span class="spread-price">{{ project.get_payments_price }}</span>
                        <span>ریال</span>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start gap-4">
                    <div>
                        <span>وضعیت ضمانت نامه: </span>
                        {% if project.surety_bond.is_free %}
                            <span class="text-success fw-bold">آزاد است</span>
                        {% else %}
                            <span class="text-info fw-bold">ندارد</span>
                        {% endif %}
                    </div>
                    <div>
                        <span>تاریخ حُسن انجام کار: </span>
                        <span class="datetime-convert">
                            {{ project.surety_bond.get_reminder_time|default:'-' }}
                        </span>
                    </div>
                </div>
            </div>
            <!-- right name & price... -->
            <!-- left pardakht btn -->
            <div class="left d-flex gap-2">
                <div class="d-flex flex-column justify-content-center gap-2">
                    <div class="btn btn-primary btn-prepayment">ثبت پیش پرداخت</div>
                    <div class="btn btn-primary btn-new-payment">ثبت پرداخت جدید</div>
                </div>
                <div class="d-flex flex-column justify-content-center gap-2">
                    <div class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addSuretyBondModal">ثبت ضمانت نامه</div>
                    <div class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addProjectReminderModal">حُسن انجام کار</div>
                </div>
            </div>
            <!-- left pardakht btn -->
        </section>
        <!-- Project specifications -->
        <section class="col-12 clearing-content mt-3">
            <!-- start section table -->
            <div class="content-items p-2">
                <section class="section-table">
                    <!-- table -->
                    <p class="text-end">پرداختی ها</p>
                    <div class="table">
                        <!-- start title table -->
                        <div class="table-title">
                            <!-- each column title table -->
                            <div class="col-1">
                                <div class="table-title-item">
                                    ردیف
                                </div>
                            </div>
                            <!-- each column title table -->
                            <div class="col-2">
                                <div class="table-title-item">
                                    نوع
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="table-title-item">
                                    مبلغ
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="table-title-item">
                                    تاریخ
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="table-title-item">
                                    کدرهگیری
                                </div>
                            </div>
                        </div>
                        <!-- end title table -->
                        <!-- start content table -->
                        <div class="table-content">
                            {% for payment in project.get_payments %}
                                <div class="row-table">
                                    <!-- each column content table -->
                                    <div class="col-1 p-2">
                                        <div class="table-content-item">
                                            {{ forloop.counter }}
                                        </div>
                                    </div>
                                    <!-- each column content table -->
                                    <div class="col-2 p-2">
                                        <div class="table-content-item">
                                            {{ payment.get_type_payment_label }}
                                        </div>
                                    </div>
                                    <div class="col-5 p-2">
                                        <div class="table-content-item spread-price">
                                            {{ payment.price }}
                                        </div>
                                    </div>
                                    <div class="col-2 p-2">
                                        <div class="table-content-item datetime-convert">
                                            {{ payment.get_created_at }}
                                        </div>
                                    </div>
                                    <div class="col-2 p-2">
                                        <div class="table-content-item">
                                            {{ payment.tracking_code }}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="container-not-found-base">
                                    <p>چیزی یافت نشد</p>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- start content table -->
                    </div>

                    <p class="text-end">پیش پرداختی ها</p>
                    <div class="table">
                        <!-- start title table -->
                        <div class="table-title">
                            <!-- each column title table -->
                            <div class="col-1">
                                <div class="table-title-item">
                                    ردیف
                                </div>
                            </div>
                            <!-- each column title table -->
                            <div class="col-2">
                                <div class="table-title-item">
                                    نوع
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="table-title-item">
                                    مبلغ
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="table-title-item">
                                    تاریخ
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="table-title-item">
                                    کدرهگیری
                                </div>
                            </div>
                        </div>
                        <!-- end title table -->
                        <!-- start content table -->
                        <div class="table-content">
                            {% for payment in project.get_prepayments %}
                                <div class="row-table">
                                    <!-- each column content table -->
                                    <div class="col-1 p-2">
                                        <div class="table-content-item">
                                            {{ forloop.counter }}
                                        </div>
                                    </div>
                                    <!-- each column content table -->
                                    <div class="col-2 p-2">
                                        <div class="table-content-item">
                                            {{ payment.get_type_payment_label }}
                                        </div>
                                    </div>
                                    <div class="col-5 p-2">
                                        <div class="table-content-item spread-price">
                                            {{ payment.price }}
                                        </div>
                                    </div>
                                    <div class="col-2 p-2">
                                        <div class="table-content-item datetime-convert">
                                            {{ payment.get_created_at }}
                                        </div>
                                    </div>
                                    <div class="col-2 p-2">
                                        <div class="table-content-item">
                                            {{ payment.tracking_code }}
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="container-not-found-base">
                                    <p>چیزی یافت نشد</p>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- start content table -->
                    </div>
                    <!-- table -->
                </section>
            </div>
            <!-- start section table -->
        </section>
    </main>

    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1"
         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"
         style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
        <defs id="SvgjsDefs1002"></defs>
        <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
        <path id="SvgjsPath1004" d="M0 0 "></path>
    </svg>
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/clearing.js' %}"></script>

    <!-- AutoNumeric for price fields -->
    <script>
        const priceInputs = document.querySelectorAll('.new-payment-price-input');
        priceInputs.forEach(function (input) {
            new AutoNumeric(input, {
                allowDecimalPadding: false,
                minimumValue: '0',
                maximumValue: '1000000000000000000',
                modifyValueOnWheel: false,
                unformatOnSubmit: true,
            });
        })
    </script>
{% endblock %}
