{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    همه پروژها
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/all-project.css' %}"/>
    <link rel="stylesheet" href="{% static 'frontend/styles/financial-management-panel.css' %}">

    <style>
        .cnt-form {
            border-radius: 10px;
            margin: 20px 0;
            padding: 5px 10px;
            border: 1px solid #ddd;
            background: #fff;
        }

        .cnt-form form {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cnt-form form input {
            width: 75%;
            border: none;
            outline: none;
            padding: 7px;
        }

        .cnt-form button {
            background: none;
            padding: 5px;
            background: #f2f2ff;
            border-radius: 7px;
            font-size: 90%;
            color: #666;
        }

        .link-search-items {
            overflow: auto;
            padding: 5px;
            margin: 10px auto;
            text-align: center;
        }

        .link-search-items h5{
            text-align: right;
        }

        .link-search-items a {
            display: inline-block;
            background: rgba(246, 255, 251, 0.85);
            color: #0da87c;
            margin: 4px;
            font-size: 110%;
            padding: 8px;
            min-width: 100px;
            border-radius: 180px;
        }

        .link-search-items a.active {
            background: #0da87c!important;
            color: #fff!important;
        }
    </style>
{% endblock %}


{% block Content %}
    <div class="container-fluid col-md-12 content-page">
        <main class="main">

            <!-- section project -->
            <section class="ongoing-projects">
                <div class="text-center d-flex align-items-center px-4">
                    <div class="cnt-form col-11 col-md-6 mx-auto">
                        <form method="get">
                            <input type="hidden" value="{{ request.GET.status }}" name="status">
                            <input type="text" placeholder="نام پروژه و .." name="search"
                                   value="{{ request.GET.search }}">
                            <div>
                                {% if request.GET.search %}
                                    <a href="{% url 'departments.financial:projects_list' %}"
                                       class="m-2 pt-2 text-danger fw-bold">X</a>
                                {% endif %}
                                <button>جست و جو</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <a href="{{ user.get_absolute_url_dashboard }}" class="btn btn-danger">بازگشت</a>
                    </div>
                </div>
                <div class="link-search-items">
                    <h5>فیلتر بر اساس کارفرما :</h5>
                     <a href="{% url 'public:project' %}" {% if not request.GET.task_master %}class="active"{% endif %}>همه</a>
                    {% for task_master in task_masters %}
                        <a href="?task_master={{ task_master.id }}" {% if request.GET.task_master == task_master.id|stringformat:'i' %}class="active" {% endif %}>{{ task_master.title }}</a>
                    {% endfor %}
                </div>

                <div class="box-section">
                    {% for project in projects %}
                        <div class="col-12 col-md-3 p-2">
                            <div class="box-item">
                                <div class="top">
                                    <div class="text-dark mb-3">
                                        {{ project.name|default:'بدون عنوان' }}
                                    </div>
                                    <div class=" style-conent-box">
                                        <span>قیمت:</span>
                                        <span class="spread-price">{{ project.price|default:'-' }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span>پیش پرداخت:</span>
                                        <span class="spread-price">{{ project.get_prepayment.price|default:'-' }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span>اخرین پرداخت</span>
                                        <span>{{ project.get_last_payment.get_created_at_timepast|default:'-' }}</span>
                                    </div>
                                </div>

                                <a href="{% url 'dp_financial:payment_project' project_id=project.id %}">
                                    <div class="bottom back-two">
                                        اطلاعات بیشتر
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- section project -->
        </main>

    </div>
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/control-project.js' %}"></script>
{% endblock %}
