{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    پنل مدیریت
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/Project-control-panel.css' %}"/>
{% endblock %}

{% block Content %}
    <!-- new task -->
    {% include 'public/task/components/new-task.html' with projects=projects departments=departments %}

    <!-- new task -->
    <!-- popup taid -->
    {% for inquiry in inquiries %}
        <div class="content-modal-two modal-management-approval">
            <div class="inner-modal">
                <form class="p-4" action="{% url 'public:inquiry_status' inquiry_id=inquiry.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="accepted">
                    <div class="information-section">
                        <div class="information-item">
                            <label for="lihh">توضیحات</label>
                            <textarea name="description" id="" cols="30" rows="10" required></textarea>
                        </div>
                        <div class="information-item">
                            <div class="uploade-imge">
                                <label class="item-upload" for="add-{{ forloop.counter }}">
                                    آپلود فایل
                                </label>
                                <input type="file" name="file" id="add-{{ forloop.counter }}" required hidden/>
                            </div>
                        </div>
                    </div>
                    <div class="information-section">
                        <button class="sabt-modal col-12 btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}

    <!-- popup taid -->
    <!-- popup no-taeid -->
    {% for inquiry in inquiries %}
        <div class="content-modal-two modal-management-no-approval">
            <div class="inner-modal">
                <form class="p-4" action="{% url 'public:inquiry_status' inquiry_id=inquiry.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="rejected">
                    <div class="information-section">
                        <div class="information-item">
                            <label for="lihh">توضیحات</label>
                            <textarea name="description" id="" cols="30" rows="10" required></textarea>
                        </div>
                    </div>
                    <div class="information-section">
                        <button class="sabt-modal btn-primary col-12">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
    <!-- popup no-taeid -->
    <!--morde-descriptin popup -->
    {% for inquiry in inquiries %}
        <div class="content-modal-two modal-more-description">
            <div class="inner-modal">
                <form class="p-4">
                    <div class="close-modal close-modal-description">
                        <img src="{% static 'frontend/images/close.png' %}" alt="">
                    </div>
                    <div class="hhh">
                        <div class="more-des">
                            {{ inquiry.description }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}

    <!--morde-descriptin popup -->
    <!-- start notifcation section -->
    {% include 'base/components/aside-menu.html' with notifications=notifications tickets=tickets %}

    <!-- start notifcation section -->
    <div class="container-fluid col-md-10 content-page">
        <main class="main">

            <div class="title px-4">
                <span style="padding-left:3px;">استعلامات</span>
                <span class="d-flex justify-content-center align-item-center">
            <a href="{% url 'public:inquiry' %}">مشاهده همه</a>
            <img src="{% static 'frontend/images/back-icon.png' %}" alt="">
        </span>
            </div>
            <!-- Query-section -->
            <section class="queries">
                <!--inner Query-section  -->
                <div class="box-section">
                    {% for inquiry in inquiries %}
                        <div class="col-12 col-md-3 p-2">
                            <div class="box-item">
                                <div class="top">
                                    <!-- query title -->
                                    <div style="color:black; margin-bottom:10px">
                                        {{ inquiry.title }}
                                    </div>
                                    <!-- query title -->
                                    <!-- The name of the inquirer -->
                                    <div class=" style-conent-box">
                                        <span>{{ inquiry.from_department.name }}</span>
                                    </div>
                                    <!-- The name of the inquirer -->
                                    <!-- date -->
                                    <div class="style-conent-box">
                                        <span>تاریخ</span>
                                        <span class="datetime-convert">{{ inquiry.get_time_submited }}</span>
                                    </div>
                                    <!-- date -->
                                    <!-- description -->
                                    <div class="style-conent-box">
                                        <span style="cursor:pointer ;"
                                              class="description">{{ inquiry.description|truncatechars:30 }}</span>
                                    </div>
                                </div>
                                <!-- btn approval and noapproval  -->
                                <div class="btn-two d-flex">
                                    <div class="col-6 p-1 btn-item taeid btn-management-approval">تایید</div>
                                    <div class="col-6 p-1 btn-item n-taeid btn-management-noapproval">رد</div>
                                </div>
                                <!-- btn approval and noapproval  -->
                            </div>
                        </div>
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
                <!--inner Query-section  -->
            </section>
            <!-- Query-section -->

            <div class="title px-4">
                <span style="padding-left:3px;">پروژه های درحال اجرا</span>
                <span class="d-flex justify-content-center align-item-center">
                <a href="{% url 'public:project' %}">مشاهده همه</a>
                <img src="{% static 'frontend/images/back-icon.png' %}" alt="">
            </span>
            </div>
            <!-- project section -->
            <section class="ongoing-projects">
                <!-- inner project section -->
                <div class="box-section">
                    {% for project in projects %}
                        {% include 'public/project/components/list-project.html' with project=project %}
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
                <!-- inner project section -->
            </section>
            <!-- project section -->
            <div class="title px-4">
                <span style="padding-left:3px;">تسک ها</span>
                <span class="d-flex justify-content-center align-item-center">
{#                <a href="#">مشاهده همه</a>#}
{#                <img src="./assets/images/back-icon.png" alt="">#}
                </span>
            </div>
            <!-- section-task -->
            <section class="tasks">
                <div class="box-section">
                    <!-- each category task -->
                    <div class="col-12 col-md-3 p-2">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/22.png' %}" alt="" class="icon-box">
                            <div class=" style-conent-box">
                                <span>درحال اجرا</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.progress }}</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:task_owner' %}?task_state=progress">مشاهده
                                همه</a></div>
                        </div>
                    </div>
                    <!--each category task -->
                    <div class="col-12 col-md-3 p-2">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/33.png' %}" alt="" class="icon-box">
                            <div class=" style-conent-box">
                                <span>درصف</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.queue }}</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:task_owner' %}?task_state=queue">مشاهده همه</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-3 p-2">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/44.png' %}" alt="" class="icon-box">
                            <div class=" style-conent-box">
                                <span>نیاز به بررسی</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.need_to_check }}</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:task_owner' %}?task_state=need-to-check">مشاهده
                                همه</a></div>
                        </div>

                    </div>
                    <div class="col-12 col-md-3 p-2">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/55.png' %}" alt="" class="icon-box">
                            <div class=" style-conent-box">
                                <span>تمام شده</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.finished }}</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:task_owner' %}?task_state=finished">مشاهده
                                همه</a></div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- section-task -->
            <div class="title px-4">
                <span style="padding-left:3px;">صفحات</span>
                <span class="d-flex justify-content-center align-item-center">
{#                <a href="#">مشاهده همه</a>#}
{#                <img src="./assets/images/back-icon.png" alt="">#}
                </span>
            </div>
            <section>
                <div class="box-section">
                    <!-- each category task -->
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/22.png' %}" alt="" class="icon-box">
                            <div class=" style-conent-box">
                                <span> لیست واحد ها</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'departments.general:departments_list' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/22.png' %}" alt="" class="icon-box">
                            <div class=" style-conent-box">
                                <span>لیست کاربران</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'departments.general:users_list' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Start Access panel -->
            <section class="collection-units" style="background-color:#fff ; margin-top:30px;">
                <div class="box-section">
                    {% for department in departments %}
                        {% include 'public/department/list-department-task.html' with department=department %}
                    {% endfor %}
                </div>
            </section>
            <!--end Access panel -->
        </main>

    </div>
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/control-managment.js' %}"></script>
{% endblock %}