{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    پنل مدیریت
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/Project-control-panel.css' %}"/>
{% endblock %}

{% block Content %}

    <div class="content-modal-two modal-confirm-task">
        <div class="inner-modal">
            <form class="p-4" action="{% url 'public:project_file' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="information-section">
                    <div class="information-item">
                        <label for="lihh">نام فایل:</label>
                        <input type="text" name="name">
                    </div>
                    <div class="information-item">
                        <label for="lihh">توضیحات:</label>
                        <textarea name="description" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="information-item">
                        <div class="my-2">
                           <div class="w-100">
                               <label class="form-label w-100">آپلود فایل:
                                   <input class="form-control" type="file" name="file">
                               </label>
                           </div>
                        </div>
                    </div>
                    <div class="information-item mt-3">
                        <label class="item-upload mb-2" for="projectSelect">
                            پروژه:
                        </label>
                        <!-- status task -->
                        <select id="projectSelect" name="project" class="select2-input" required>
                            {% for project in projects %}
                                <option value="{{ project.id }}" label="{{ project.name }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <!-- status task -->
                    </div>
                </div>
                <div class="information-section">
                    <button class="sabt-modal col-12 btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>

    <!-- start notifcation section -->
    {% include 'base/components/aside-menu.html' with notifications=notifications tickets=tickets %}

    <!-- start notification section -->
    <div class="container-fluid col-md-10 content-page">
        <main class="main">
            <div class="title px-3 mt-3">
                <span class="fw-bold">استعلامات</span>
                <span class="d-flex justify-content-center align-item-center">
                    <a href="{% url 'public:inquiry' %}">
                        مشاهده همه
                        <img src="{% static 'frontend/images/back-icon.png' %}" alt="">
                    </a>
                </span>
            </div>
            <!-- Inquiry-section -->
            <section class="queries" style="margin-top: -1rem;">
                <!-- inner Inquiry-section  -->
                <div class="box-section">
                    {% for inquiry in inquiries %}
                        <!-- Inquiry description modal -->
                        {% include 'public/inquiry/components/inquiry_description.html' %}

                        <!-- Inquiry approval/disapproval modal -->
                        {% include 'public/inquiry/components/acceptance_inquiry.html' %}

                        <div class="col-12 col-md-3 p-2">
                            <div class="box-item">
                                <div class="top">
                                    <div class="text-dark pb-3">
                                        {{ inquiry.title|default:'بدون عنوان' }}
                                    </div>
                                    <div class=" style-conent-box">
                                        <span>{{ inquiry.from_department.name }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span>تاریخ:</span>
                                        <span class="datetime-convert">{{ inquiry.get_time_submited|default:'-' }}</span>
                                    </div>
                                    <div class="style-conent-box">
                                        <span role="button" class="description" data-bs-toggle="modal" data-bs-target="#inquiryDescription-{{ inquiry.id }}">
                                            {{ inquiry.description|truncatechars:30|default:'-' }}
                                        </span>
                                    </div>
                                </div>
                                <!-- btn approval and noapproval  -->
                                <div class="btn-two d-flex">
                                    <div class="col-6 p-1 btn-item taeid" data-bs-toggle="modal" data-bs-target="#inquiryApprovalModal-{{ inquiry.id }}">تایید</div>
                                    <div class="col-6 p-1 btn-item n-taeid" data-bs-toggle="modal" data-bs-target="#inquiryDisapprovalModal-{{ inquiry.id }}">رد کردن</div>
                                </div>
                                <!-- btn approval and noapproval  -->
                            </div>
                        </div>
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
                <!--inner Inquiry-section  -->
            </section>
            <!-- Inquiry-section -->

            <section class="collection-units mb-4" style="background-color:#fff; margin-top:30px;">
                <div class="box-section d-flex justify-content-start">
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/لیست خرید تایید شده مدیریت 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3">
                                <span>فایل پروژه</span>
                            </div>
                            <div class="tarif-task btn-create-report btn--ta1 task-confirm" id="one">آپلود</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/2 (لیست استعلامات(حتی رد شده ها با دلیل@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3">
                                <span>آرشیو استعلامات</span>
                            </div>
                            <a href="{% url 'public:inquiry' %}?archived=true">
                                <div class="tarif-task" id="one">مشاهده</div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Start project section -->
            {% include 'public/project/components/panel_projects_section.html' %}
            <!-- .End project section -->

            <div class="title px-3">
                <span style="padding-left: 3px;">صفحات</span>
                <span class="d-flex justify-content-center align-item-center">
                </span>
            </div>
            <section>
                <div class="box-section" style="margin-top: -1.25rem;">
                    <!-- each category task -->
                    <div class="col-12 col-md-6 p-2 d-none">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/22.png' %}" alt="" class="icon-box">
                            <div class=" style-conent-box">
                                <span> لیست واحد ها</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'departments.general:departments_list' %}">مشاهده</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-user fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>کاربر</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'account:new_user' %}">افزودن</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-users fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست کاربران</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'departments.general:users_list' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                </div>
                <div class="box-section" style="margin-top: -3rem;">
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-gear fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>پروژه</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'public:project_add' %}">افزودن</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-gears fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست پروژه ها</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'public:project' %}">مشاهده</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-person-walking-luggage fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>کارفرمایان</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'public:task_master' %}">مشاهده</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Start task section -->
            <div class="title px-4 mt-2">
                <span style="padding-left: 3px;">تسک ها</span>
                <span class="d-flex justify-content-center align-item-center">
                </span>
            </div>
            <!-- section-task -->
            <section class="tasks" style="margin-top: -1.25rem;">
                <div class="box-section">
                    <!-- each category task -->
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/22.png' %}" alt="" class="icon-box" style="padding-top: 0.125rem;">
                            <div class=" style-conent-box">
                                <span>درحال اجرا</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.progress }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=progress">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <!--each category task -->
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/33.png' %}" alt="" class="icon-box" style="padding-top: 0.125rem;">
                            <div class=" style-conent-box">
                                <span>درصف</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.queue }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=queue">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/44.png' %}" alt="" class="icon-box" style="padding-top: 0.125rem;">
                            <div class=" style-conent-box">
                                <span>نیاز به بررسی</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.need_to_check }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=need-to-check">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <i class="fa fa-pause fa-3x" style="opacity: 0.9;"></i>
                            <div class=" style-conent-box">
                                <span>نگه داشته شده</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.hold }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=hold">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <i class="fa fa-rotate-left fa-2x py-2" style="opacity: 0.9;"></i>
                            <div class=" style-conent-box">
                                <span>نیاز به برنامه ریزی مجدد</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.need_to_replan }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=need-to-replan">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 p-1">
                        <div class="box-item-2">
                            <img src="{% static 'frontend/images/55.png' %}" alt="" class="icon-box" style="padding-top: 0.125rem;">
                            <div class=" style-conent-box">
                                <span>تمام شده</span>
                            </div>
                            <div class="style-conent-box">
                                <span>{{ tasks.finished }}</span>
                            </div>
                            <div class="btn--ta text-nowrap">
                                <a href="{% url 'public:task_owner' %}?task_state=finished">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section-task -->

            <!--Start Access panel -->
            <section class="collection-units" style="background-color:#fff ; margin-top:30px;">
                <div class="box-section">
                    {% for department in departments %}
                        {% include 'public/department/list-department-task.html' with department=department %}
                    {% endfor %}
                </div>
            </section>
            <!--end Access panel -->
        </main>
    </div>

    <!-- new task -->
    {% include 'public/task/components/new-task.html' with projects=projects departments=departments %}
    <!-- new task -->
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/control-managment.js' %}"></script>
{% endblock %}
