{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    استعلامات
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/query-list.css' %}">
{% endblock %}

{% block Style %}
    <style>

        .inquiry > div {
            background: none;
        }

        .inquiry[inquiry-state="canceled"] {
            background: #fce5e5 !important;
        }

        .inquiry[inquiry-state="waiting_for_price"] {
            background: #f4fbff !important;
        }

        .inquiry[inquiry-state="price_recorded"] {
            background: #d2ffed !important;
        }

    </style>
{% endblock %}

{% block Content %}



    {% for inquiry in inquiries %}
        <div class="content-modal-two modal-confirm-task">
            <div class="inner-modal">
                <form class="p-4" action="{% url 'public:inquiry_file' inquiry_id=inquiry.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="information-section">
                        <div class="information-item">
                            <label for="lihh">نام فایل</label>
                            <input type="text" name="name">
                        </div>
                        <div class="information-item">
                            <label for="lihh">توضیحات</label>
                            <textarea name="description" id="" cols="30" rows="10" required=""></textarea>
                        </div>
                        <div class="information-item">
                            <div class="uploade-imge">
                                <label class="item-upload" for="add5">
                                    آپلود فایل
                                </label>
                                <input type="file" name="file" id="add5" hidden="">
                            </div>
                        </div>
                        <div class="information-item">
                            <div>
                                <label for="lihh">
                                    واحد
                                    <span class="font-70">(واحد هایی که میتوانند به فایل دسترسی داشته باشند)</span>
                                    :</label>
                                <div class="units d-flex flex-wrap">
                                    {% for department in departments %}
                                        <div class="d-flex align-items-center justify-content-center col-6 col-md-3 p-2">
                                            <label class="mt-2" for="inp-to-dep-{{ department.id }}">
                                                {{ department.name }}
                                            </label>
                                            <input type="checkbox" id="inp-to-dep-{{ department.id }}" multiple
                                                   name="departments" value="{{ department.id }}" checked>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="information-section">
                        <button class="sabt-modal col-12 btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}


    <!-- popup edit-query -->
    {% for inquiry in inquiries %}
        <div class="content-modal-two modal-edit-query">
            <div class="inner-modal">
                <form class="p-4" action="{% url 'public:inquiry_detail' inquiry_id=inquiry.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type_request" value="update">
                    <div class="information-section">
                        <div class="information-item">
                            <label for="lihh">عنوان استعلام</label>
                            <input type="text" name="title" required value="{{ inquiry.title }}">
                        </div>
                        <div class="information-item">
                            <label for="lihh">شماره درخواست</label>
                            <input type="number" name="number_id" required value="{{ inquiry.number_id }}">
                        </div>
                        <div class="information-item">
                            <label for="lihh">ارسال کننده</label>
                            <input type="text" name="sender" required value="{{ inquiry.sender }}">
                        </div>
                        <div class="information-item">
                            <label for="lihh">تاریخ دریافت</label>
                            <input type="text " set-on="inquiry-time-receive-{{ inquiry.id }}"
                                   class="persianDatapicker pwt-datepicker-input-element datetime-convert" required
                                   value="{{ inquiry.time_receive }}">
                            <input type="hidden" name="time_receive" id="inquiry-time-receive-{{ inquiry.id }}"
                                   required
                                   value="{{ inquiry.time_receive }}">
                        </div>
                        <div class="information-item">
                            <label for="lihh">تاریخ ارسال</label>
                            <input type="text " set-on="inquiry-time-submited-{{ inquiry.id }}"
                                   class="persianDatapicker pwt-datepicker-input-element datetime-convert" required
                                   value="{{ inquiry.time_submit }}">
                            <input type="hidden" name="time_submit" id="inquiry-time-submited-{{ inquiry.id }}"
                                   required
                                   value="{{ inquiry.time_submit }}">
                        </div>
                        <div class="information-item">
                            <label for="lihh">مهلت پاسخ(تاریخ ددلاین)</label>
                            <input type="text " set-on="inquiry-time-deadline-response-{{ inquiry.id }}"
                                   class="persianDatapicker pwt-datepicker-input-element datetime-convert" required
                                   value="{{ inquiry.time_deadline_response }}">
                            <input type="hidden" name="time_deadline_response"
                                   id="inquiry-time-deadline-response-{{ inquiry.id }}"
                                   required
                                   value="{{ inquiry.time_deadline_response }}">
                        </div>
                        <div class="information-item">
                            <label for="lihh">وضعیت</label>
                            <select name="state" required>
                                <option value="waiting_for_price"
                                        {% if inquiry.state == 'waiting_for_price' %}selected{% endif %}>در انتظار قیمت
                                </option>
                                <option value="price_recorded"
                                        {% if inquiry.state == 'price_recorded' %}selected{% endif %}>قیمت ارسال شده
                                </option>
                                <option value="canceled" {% if inquiry.state == 'canceled' %}selected{% endif %}>
                                    انصراف
                                </option>
                            </select>
                        </div>
                        <div class="information-item">
                            <label for="lihh">شرح درخواست</label>
                            <textarea name="description" id="" cols="30" rows="10"
                                      required>{{ inquiry.description }}</textarea>
                        </div>
                    </div>
                    <div class="information-section">
                        <button class="sabt-modal btn-primary col-12">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}


    <!-- popup edit-query -->
    <!--Reason rejection popup -->
    {% for inquiry in inquiries_rejected %}
        <div class="content-modal-two modal-Reason-rejection">
            <div class="inner-modal">
                <form class="p-4">
                    <div class="information-section">
                        <div class="information-item">
                            <label for="lihh">دلیل رد شدن</label>
                            <textarea name="" id="" cols="30" rows="10"
                                      disabled>{{ inquiry.status.description }}</textarea>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    {% endfor %}
    <!--Reason rejection popup -->


    <!--Reason Followed up popup -->
    {% for inquiry in inquiries_accepted %}
        <div class="content-modal-two modal-Followed-up">
            <div class="inner-modal">
                <form class="p-4">
                    <div class="information-section">
                        <div class="information-item">
                            توضیح :
                        </div>
                        <div class="information-item">
                            {{ inquiry.status.description }}
                        </div>
                    </div>
                    <div class="information-section">
                        <div class="information-item">
                            فایل :
                        </div>
                        <div class="information-item">
                            {% if inquiry.status.get_file_url %}
                                <a class="btn btn-success mx-auto col-12 d-block"
                                   href="{{ inquiry.status.get_file_url }}" download="">دانلود</a>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
    <!--Reason Followed up popup -->


    <!--morde-descriptin popup -->
    {% for inquiry in inquiries %}
        <div class="content-modal-two modal-more-description">
            <div class="inner-modal">
                <form class="p-4">
                    <div class="close-modal close-modal-description">
                        <img src="{% static 'frontend/images/close.png' %}" alt="">
                    </div>
                    <div class="hhh">
                        <div class="more-des">
                            {{ inquiry.description }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
    <!--morde-descriptin popup -->

    <div class="col-12 col-md-5 col-lg-6 mx-auto mb-4 p-4">
        <div>
            <div class="filters-radio">
                <div class="title">
                    مرتب بر اساس :
                </div>
                <div class="container">
                    <div>
                        <a class="{% if request.GET.sort_by == 'latest' or not request.GET.sort_by %}active{% endif %}"
                           href="{% url 'public:inquiry_owner' %}?sort_by=latest">
                            جدید ترین
                        </a>
                    </div>
                    <div>
                        <a class="{% if request.GET.sort_by == 'oldest' %}active{% endif %}"
                           href="{% url 'public:inquiry_owner' %}?sort_by=oldest">
                            قدیمی ترین
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <form action="{% url 'public:inquiry_owner' %}" method="get" class="overflow-hidden">
                    <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
                    <p class="title">جست و جو :</p>
                    <div class="cnt-search col-11 col-md-7">
                        <input type="text" name="search" value="{{ request.GET.search }}"
                               placeholder="عنوان ، شماره استعلام و ..">
                        <div>
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <main class="main content-page container" style="max-width: none;">
        <h5 class="title-page">لیست استعلامات </h5>
        <section class="col-12 project-content">
            <div class="inner-project">

                <section class="content-notifcation">
                    <div class="content-items p-2 active">
                        <section class="section-table">
                            <!-- table -->
                            <div class="table">
                                <!-- title table -->
                                <div class="table-title">
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            ردیف
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            واحد استعلام دهنده
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            ارسال کننده
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            شماره استعلام
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            تاریخ دریافت
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            تاریخ ارسال
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            مهلت پاسخ(تاریخ ددلاین)
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            عنوان
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            شرح درخواست
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            ویرایش
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            حذف
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            وضعیت بررسی
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            وضعیت
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            فایل
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="table-title-item">
                                            پروژه
                                        </div>
                                    </div>
                                </div>
                                <!-- title table -->
                                <!-- content table -->
                                <div class="table-content">
                                    <!-- each row table -->
                                    {% for inquiry in inquiries %}
                                        <div class="row-table inquiry" inquiry-state="{{ inquiry.state }}">
                                            <!-- each row table -->
                                            <div class="col-1 p-1">
                                                <div class="table-content-item">
                                                    {{ forloop.counter }}
                                                </div>
                                            </div>
                                            <div class="col-1 p-2">
                                                <div class="table-content-item">
                                                    {{ inquiry.from_department.name }}
                                                </div>
                                            </div>
                                            <div class="col-1 p-2">
                                                <div class="table-content-item">
                                                    {{ inquiry.sender }}
                                                </div>
                                            </div>
                                            <div class="col-1 p-2">
                                                <div class="table-content-item">
                                                    {{ inquiry.number_id }}
                                                </div>
                                            </div>
                                            <div class="col-1 p-2">
                                                <div class="table-content-item datetime-convert">
                                                    {{ inquiry.time_receive }}
                                                </div>
                                            </div>
                                            <div class="col-1 p-2">
                                                <div class="table-content-item datetime-convert">
                                                    {{ inquiry.time_submit }}
                                                </div>
                                            </div>
                                            <div class="col-1 p-2">
                                                <div class="table-content-item datetime-convert">
                                                    {{ inquiry.time_deadline_response }}
                                                </div>
                                            </div>
                                            <div class="col-1 p-2">
                                                <div class="table-content-item">
                                                    {{ inquiry.title }}
                                                </div>
                                            </div>
                                            <div class="col-1 p-2">
                                                <div class="table-content-item">
                                                    <p class="description">
                                                        {{ inquiry.description|truncatechars:10 }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-1 p-1">
                                                <div class="table-content-item">
                                                    <!-- btn column table -->
                                                    <div class="query-item btn-edit-query">کلیک کنید</div>
                                                    <!-- btn column table -->
                                                </div>
                                            </div>
                                            <div class="col-1 p-1">
                                                <div class="table-content-item">
                                                    <!-- btn column table -->
                                                    <form action="{% url 'public:inquiry_detail' inquiry_id=inquiry.id %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="type_request" value="delete">
                                                        <button class="query-item delete btn">کلیک کنید</button>
                                                    </form>
                                                    <!-- btn column table -->
                                                </div>
                                            </div>
                                            <div class="col-1 p-1">
                                                <div class="table-content-item">
                                                    <!-- btn column table -->
                                                    {% if inquiry.get_status == 'accepted' %}
                                                        <div class="btn-table green btn-Followed-up">تایید شده</div>
                                                    {% elif inquiry.get_status == 'rejected' %}
                                                        <div class="btn-table red btn-Reason-rejection">ردشده</div>
                                                    {% elif inquiry.get_status == 'progress' %}
                                                        <div class="btn-table blue">درحال بررسی</div>
                                                    {% endif %}
                                                    <!-- btn column table -->
                                                </div>
                                            </div>
                                            <div class="col-1 p-1">
                                                <div class="table-content-item font-70">
                                                    <!-- btn column table -->
                                                    {% if inquiry.state == 'canceled' %}
                                                        <div class="btn-table red btn-Reason-rejection">انصراف</div>
                                                    {% elif inquiry.state == 'waiting_for_price' %}
                                                        <div class="btn-table blue ">در انتظار قیمت</div>
                                                    {% elif inquiry.state == 'price_recorded' %}
                                                        <div class="btn-table btn-Followed-up">قیمت ارسال شده</div>
                                                    {% endif %}
                                                    <!-- btn column table -->
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="tarif-task btn-create-report btn btn-outline-primary task-confirm">
                                                    اپلود
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                {% if not inquiry.project %}
                                                    <a href="{% url 'public:project_add' %}?inquiry-id={{ inquiry.id }}"
                                                       class="btn btn-outline-success">تبدیل به پروژه</a>
                                                {% else %}
                                                    <a href="{{ inquiry.project.get_absolute_url }}">{{ inquiry.project.name|truncatechars:10 }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% empty %}
                                        <div class="container-not-found-base">
                                            <p>چیزی یافت نشد</p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- content table -->

                            </div>
                            <!-- table -->
                        </section>
                    </div>
                </section>
            </div>
        </section>
    </main>




{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/query-list.js' %}"></script>
{% endblock %}