<div class="content-modal-two modal-report">
    <div class="inner-modal">
        <form class="p-4" action="{% url 'support:report_department_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="information-section">
                <div class="information-item">
                    <label for="lihh">توضیحات</label>
                    <textarea name="description" id="" cols="30" rows="10" required></textarea>
                </div>
                <div class="information-item">
                    <div class="my-2">
                       <div class="w-100">
                           <label class="form-label w-100">آپلود فایل:
                               <input class="form-control" type="file" name="file">
                           </label>
                       </div>
                    </div>
                </div>
                <div class="information-item container-select-choices">
                    <div class="select-choices">
                        <div>
                            <label for="select_department_all">
                                همه واحد ها
                            </label>
                            <input type="radio" id="select_department_all" name="select_department_ticket" value="all" checked>
                        </div>
                        <div>
                            <label for="select_department_select">
                                انتخاب واحد
                            </label>
                            <input type="radio" id="select_department_select" name="select_department_ticket" value="select">
                        </div>
                    </div>
                    <div class="select-choices-content">
                        <label for="lihh">نام واحد:</label>
                        <div class="units d-flex flex-wrap">
                            {% for department in departments %}
                                <div class="d-flex align-items-center justify-content-center col-6 col-md-3 p-2">
                                    <label class="mt-2" for="inp-to-dep-{{ forloop.counter }}">
                                        {{ department.name }}
                                    </label>
                                    <input type="checkbox" id="inp-to-dep-{{ forloop.counter }}" name="departments"
                                           value="{{ department.id }}"
                                    >
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="information-item container-select-choices">
                    <div class="select-choices">
                        <div>
                            <label for="select_project_all">
                                همه پروژه ها
                            </label>
                            <input type="radio" id="select_project_all" name="select_project_ticket" value="all" checked>
                        </div>
                        <div>
                            <label for="select_project_select">
                                انتخاب پروژه
                            </label>
                            <input type="radio" id="select_project_select" name="select_project_ticket" value="select">
                        </div>
                        <div>
                            <label for="select_project_different">
                                متفرقه
                            </label>
                            <input type="radio" id="select_project_different" name="select_project_ticket" value="null">
                        </div>
                    </div>
                    <div class="select-choices-content mt-2">
                        <label for="projectsSelect" class="me-3 mb-2"> پروژه ها :</label>
                        <select id="projectsSelect" name="projects" multiple class="select2-input">
                            {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="information-section">
                <button class="d-inline-block col-12 p-2 bg-primary text-white">ثبت</button>
            </div>
        </form>
    </div>
</div>
