{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    پنل کنترل کیفی
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/quality-control-panel.css' %}">
{% endblock %}


{% block Content %}
    <div class="content-modal-two modal-confirm-task">
        <div class="inner-modal">
            <form class="p-4" action="{% url 'public:project_file' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="information-section">
                    <div class="information-item">
                        <label for="lihh">نام فایل</label>
                        <input type="text" name="name">
                    </div>
                    <div class="information-item">
                        <label for="lihh">توضیحات</label>
                        <textarea name="description" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="information-item">
                        <div class="my-3">
                           <div class="w-100">
                               <label class="form-label w-100">آپلود فایل:
                                   <input class="form-control" type="file" name="file">
                               </label>
                           </div>
                        </div>
                    </div>
                    <div class="information-item">
                        <label class="item-upload" for="taskProjectSelect">
                            پروژه
                        </label>
                        <!-- status task -->
                        <select id="taskProjectSelect" name="project" class="select2-input" required>
                            {% for project in projects %}
                                <option value="{{ project.id }}" label="{{ project.name }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <!-- status task -->
                    </div>
                </div>
                <div class="information-section">
                    <button class="sabt-modal col-12 btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>

    <div class="content-modal-two modal-quality-assurance">
        <div class="inner-modal">
            <form class="p-4" action="{% url 'public:project_file' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="name" value="تایید کیفیت مواد">
                <div class="information-section">
                    <div class="information-item">
                        <label for="lihh">توضیحات</label>
                        <textarea name="description" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="information-item">
                        <div class="my-3">
                           <div class="w-100">
                               <label class="form-label w-100">آپلود فایل:
                                   <input class="form-control" type="file" name="file">
                               </label>
                           </div>
                        </div>
                    </div>
                    <div class="information-item">
                        <label class="item-upload" for="assuranceProjectSelect">
                            پروژه
                        </label>
                        <!-- status task -->
                        <select id="assuranceProjectSelect" name="project" class="select2-input" required>
                            {% for project in projects %}
                                <option value="{{ project.id }}" label="{{ project.name }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <!-- status task -->
                    </div>
                </div>
                <div class="information-section">
                    <button class="sabt-modal col-12 btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>

    <div class="content-modal-two modal-upload-book">
        <div class="inner-modal">
            <form class="p-4" action="{% url 'public:project_file' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="name" value="کتاب توضیح">
                <div class="information-section">
                    <div class="information-item">
                        <label for="lihh">توضیحات</label>
                        <textarea name="description" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="information-item">
                        <div class="my-3">
                           <div class="w-100">
                               <label class="form-label w-100">آپلود فایل:
                                   <input class="form-control" type="file" name="file">
                               </label>
                           </div>
                        </div>
                    </div>
                    <div class="information-item">
                        <label class="item-upload" for="bookProjectSelect">
                            پروژه
                        </label>
                        <!-- status task -->
                        <select id="bookProjectSelect" name="project" class="select2-input" required>
                            {% for project in projects %}
                                <option value="{{ project.id }}" label="{{ project.name }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <!-- status task -->
                    </div>
                </div>
                <div class="information-section">
                    <button class="sabt-modal col-12 btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>

    <!-- request unit -->
    <!--  request unit -->

    <!-- START SECTION NOTIFATION -->
    {% include 'base/components/aside-menu.html' with notifications=notifications tickets=tickets %}
    <!-- END SECTION NOTIFATION -->

    <div class="container-fluid col-md-10 content-page">
        <main class="main">
            <div class="title px-2">
                <span class="fw-bold">پنل کنترل کیفی</span>
                <!-- btn-notif in mobile -->
                <div class="notif-btn-mobile d-none">اعلانات</div>
                <!-- btn-notif in mobile -->
            </div>
            <!-- Start Access panel -->
            <section class="collection-units bg-white" style="margin-top:30px;">
                <div class="box-section">
                    <!-- item Access pane -->
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/تایید کیفیت مواد اولیه(توانایی آپلود مدارکی 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3">
                                <span>تایید کیفیت مواد</span>
                            </div>
                            <!-- btn upload -->
                            <div class="tarif-task btn-quality-assurance" id="one">مشاهده</div>
                            <!-- btn upload -->
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/تسک خای اولویت بندی شده 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3">
                                <span>لیست تسک ها</span>
                            </div>
                            <!-- btn upload -->
                            <a href="{% url 'public:task' %}" class="tarif-task btn-quality-assurance" id="one">
                                مشاهده
                            </a>
                            <!-- btn upload -->
                        </div>
                    </div>
                    <!--item Access pane -->
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/آپلود کتاب توضیح برای مشتری 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3 text-center">
                                <span>آپلود کتاب توضیح پروژه برای مشتری</span>
                            </div>
                            <div class="tarif-task btn-upload-book" id="one">مشاهده</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/درخواست از سایر واحد ها 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3 text-center">
                                <span>درخواست از سایر واحدها</span>
                            </div>
                            <div class="tarif-task btn-request-unit" id="one">مشاهده</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="box-item-2 ddd">
                            <img src="{% static 'frontend/images/لیست خرید تایید شده مدیریت 2@2x.png' %}" alt=""
                                 class="icon-box mb-3">
                            <div class="style-conent-box mb-3">
                                <span>فایل پروژه</span>
                            </div>
                            <div class="tarif-task btn-create-report btn--ta1 task-confirm" id="one">آپلود</div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .End Access panel -->

            <!-- In progress projects -->
            <div class="title px-4 mt-4">
                <span style="padding-left: 3px;">پروژه های درحال اجرا</span>
                <span class="d-flex justify-content-center align-item-center">
                    <a href="{% url 'public:project' %}?status=other">مشاهده همه</a>
                    <img src="{% static 'frontend/images/back-icon.png' %}" alt="">
                </span>
            </div>
            <!-- project section -->
            <section class="ongoing-projects" style="margin-top: -1.25rem;">
                <!-- inner project section -->
                <div class="box-section">
                    {% for project in ongoing_projects %}
                        {% include 'public/project/components/list-project.html' with project=project %}
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Other projects -->
            <div>
                <div class="title px-4">
                    <span style="padding-left: 3px;">دیگر پروژه‌ها</span>
                </div>
                <div class="box-section" style="margin-top: -1.25rem;">
                    <!-- Posted projects -->
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-truck-field fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>پروژه‌های ارسال شده</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'public:project' %}?status=posted">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                    <!-- Completed projects -->
                    <div class="col-12 col-md-6 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-list-check fa-2xl p-3"></i>
                            <div class="style-conent-box">
                                <span>پروژه‌های تمام شده</span>
                            </div>
                            <div class="btn--ta">
                                <a href="{% url 'public:project' %}?status=completed">مشاهده همه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .End project section -->

            <!-- section-task -->
            <div class="title px-4">
                <span style="padding-left: 3px;">صفحات</span>
                <span class="d-flex justify-content-center align-item-center">
                </span>
            </div>
            <section style="margin-top: -1.25rem;">
                <div class="box-section">
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-gears fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست پروژه ها</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:project' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="box-item-2">
                            <i class="icon-box fa fa-question-circle fa-2xl p-3"></i>
                            <div class=" style-conent-box">
                                <span>لیست استعلامات</span>
                            </div>
                            <div class="btn--ta"><a href="{% url 'public:inquiry' %}">مشاهده
                            </a></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>
{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/quity-control-panel.js' %}"></script>
{% endblock %}