{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    لیست تیکت ها
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/styles/Notification-list.css' %}">
{% endblock %}

{% block Content %}

    {% for ticket in tickets %}
        <div class="content-modal-two modal-more-description">
            <div class="inner-modal">
                <form class="p-4">
                    <div class="close-modal close-modal-description">
                        <img src="{% static 'frontend/images/close.png' %}" alt="">
                    </div>
                    <div class="hhh">
                        <div class="more-des">
                            {{ ticket.description }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}


    <main class="main content-page container">
        <div class="text-center d-flex justify-content-center mb-2 mt-2 px-2">
            <h4 class="title-page w-100 me-5">لیست تیکت‌ها</h4>
            <div class="mt-1">
                <a href="{{ user.get_absolute_url_dashboard }}" class="btn btn-danger">بازگشت</a>
            </div>
        </div>

        <section class="col-12 project-content">
            <div class="inner-project">
                <div class="content-items p-2">
                    <section class="section-table">
                        <!-- notif table -->
                        <div class="table">
                            <!--section title table -->
                            <div class="table-title">
                                <div class="col-2">
                                    <div class="table-title-item">
                                        پروژه ها
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="table-title-item">
                                        متن تیکت
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="table-title-item">
                                        به واحد
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="table-title-item">
                                        تاریخ
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="table-title-item">
                                        فایل
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="table-title-item">
                                        حذف
                                    </div>
                                </div>
                            </div>
                            <!--section title table -->
                            <!-- section content table -->
                            <div class="table-content">
                                <!-- each row table -->
                                {% for ticket in tickets %}
                                    <div class="row-table">
                                        <div class="col-2 p-2">
                                            <div class="table-content-item">
                                                {% if ticket.is_all_projects %}
                                                    <span>همه پروژه‌ها</span>
                                                {% elif not ticket.get_projects_name %}
                                                    <span>متفرقه</span>
                                                {% else %}
                                                    <select class="form-select form-select-sm" readonly>
                                                        {% for name in ticket.get_projects_name %}
                                                            <option>{{ name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-3 p-2">
                                            <div class="table-content-item">
                                                <p class="description">
                                                    {{ ticket.description|truncatechars:30 }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-2 p-2">
                                            <div class="table-content-item">
                                                <select class="form-select form-select-sm">
                                                    {% for name in ticket.get_departments_list %}
                                                        <option>{{ name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2 p-2">
                                            <div class="table-content-item">
                                                <span class="datetime-convert">{{ ticket.created_at|date }}</span>
                                                <span class="font-80"
                                                      dir="rtl">({{ ticket.created_at|date:'H:i' }})</span>
                                            </div>
                                        </div>
                                        <div class="col-1 p-2">
                                            <div class="table-content-item">
                                                {% if ticket.get_file_url %}
                                                    <a href="{{ ticket.get_file_url }}" download="">دانلود</a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteTicket-{{ ticket.id }}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="DeleteTicket-{{ ticket.id }}" tabindex="-1" aria-labelledby="DeleteTicket-{{ ticket.id }}-Label" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">حذف تیکت</h5>
                                                </div>
                                                <form method="post" action="{% url 'support:delete_ticket' %}">
                                                    <div class="modal-body">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                                                        <span>
                                                            آيا از حذف تیکت مربوطه مطمئن هستید؟
                                                        </span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">خیر</button>
                                                        <button type="submit" class="btn btn-danger">حذف</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="container-not-found-base">
                                        <p>چیزی یافت نشد</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- section content table -->
                        </div>
                        <!-- notif table -->
                    </section>
                </div>
            </div>
        </section>
    </main>

{% endblock %}

{% block Script %}
    <script type="module" src="{% static 'frontend/js/notif-list.js' %}"></script>
{% endblock %}